<div class="dialog-med">
  <div class="panel-header">
    <h2>Add Server Node</h2>
  </div>
  <form
     novalidate
     ng-submit="serversAddDialogCtl.onSubmit(form)"
     name="form"
     class="forms"
     mn-spinner="serversAddDialogCtl.viewLoading">
    <div class="panel-content">
      <div class="error error-form">
        Warning: Adding a server to this cluster means all data on that server will be removed.
      </div>
      <div
         class="error error-form"
         ng-repeat="error in serversAddDialogCtl.errors">
        Attention: {{error}}<br>
      </div>
      <div
         class="error error-form"
         ng-show="form.hostname.$error.required">
        Attention: Server IP Address cannot be blank.
      </div>
      <div
         class="error error-form"
         ng-show="form.$error.services">
        Attention: Please specify a Service(s) for this node.
      </div>

      <div class="formrow">
        <label for="add-server-hostname" class="inline">Server IP Address</label>
        <span
           class="fa-stack icon-info"
           uib-tooltip="This is the hostname or IP address of a server node that you wish to add."
           tooltip-placement="right">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
        <br>
        <input
           type="text"
           id="add-server-hostname"
           ng-model="serversAddDialogCtl.addNodeConfig.credentials.hostname"
           mn-focus="serversAddDialogCtl.focusMe"
           required
           name="hostname"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off">

        </div>

      <div class="formrow">
        <span ng-if="serversAddDialogCtl.isGroupsAvailable">
          <label for="js_servers_group_select">Assign Group</label>
          <select
             id="js_servers_group_select"
             ng-model="serversAddDialogCtl.addNodeConfig.selectedGroup"
             ng-options="group.name for group in serversAddDialogCtl.groups"></select>
        </span>
      </div>

      <div class="formrow">
        <label for="user_inp" class="inline">Username&nbsp;</label>
        <small>an existing username with admin access to this server</small>
        <br>
        <input
           type="text"
           id="user_inp"
           ng-model="serversAddDialogCtl.addNodeConfig.credentials.user"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off">
      </div>

      <div class="formrow">
        <label for="password_inp" class="inline">Password&nbsp;</label>
        <small>an existing password with admin access to this server</small>
        <br>
        <input
           mn-autocomplete-off
           type="password"
           id="password_inp"
           ng-model="serversAddDialogCtl.addNodeConfig.credentials.password"
           autocorrect="off"
           spellcheck="false">
      </div>

      <label class="inline">Services</label>
      <span
         class="fa-stack icon-info"
         uib-tooltip="Only uncheck services you are certain you will NOT use on this node. Services are enabled on a per-node basis. The selection of services CANNOT be changed on an active node. To make service changes, you must first take down the node."
         tooltip-placement="right">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <br>
      <div
         class="formrow checkbox-list"
         mn-services="serversAddDialogCtl.addNodeConfig">
      </div>
    </div>

    <div class="panel-footer">
      <a href="" ng-click="$dismiss()">Cancel</a>
      <button type="submit">Add Server</button>
    </div>
  </form>
</div>
