<div
   class="panel dialog-med dialog dialog-wizard"
   mn-spinner="clusterConfigurationCtl.viewLoading">
  <div class="panel-header flex-left">
    <img
       src="../images/cb_logo_bug_white_2.svg"
       width="32"
       height="32"
       class="margin-right-half">
    <h2>Couchbase &gt; Join Cluster</h2>
  </div>
  <form
     class="forms"
     novalidate
     ng-submit="clusterConfigurationCtl.onSubmit()">
    <div class="panel-content">
      <p
         class="error error-form"
         ng-if="clusterConfigurationCtl.postJoinClusterErrors">
        <span ng-repeat="error in clusterConfigurationCtl.postJoinClusterErrors">
          Attention: {{error}}
        </span>
      </p>
      <div class="formrow">
        <label for="clusterMemberHostIp">Cluster Host Name/IP Address</label>
        <input
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           id="clusterMemberHostIp"
           ng-model="clusterConfigurationCtl.joinClusterConfig.clusterMember.hostname">
      </div>

      <div class="formrow">
        <label for="join_user_input">Cluster Admin Username</label>
        <input
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           id="join_user_input"
           ng-model="clusterConfigurationCtl.joinClusterConfig.clusterMember.username">
      </div>

      <div class="formrow">
        <label for="join_password_input">Cluster Admin Password</label>
        <input
           type="password"
           autocorrect="off"
           spellcheck="false"
           mn-autocomplete-off
           ng-model="clusterConfigurationCtl.joinClusterConfig.clusterMember.password"
           id="join_password_input">
      </div>

      <div
         class="formrow disclosure"
         ng-click="clusterConfigurationCtl.toggleConfigurationSection = !clusterConfigurationCtl.toggleConfigurationSection"
         ng-class="{'disclosed': clusterConfigurationCtl.toggleConfigurationSection}">
        Configure Services & Settings For This Node
      </div>

      <div ng-show="clusterConfigurationCtl.toggleConfigurationSection">
        <div  class="formrow">
          <div
             class="error error-form"
             ng-show="!!clusterConfigurationCtl.setupServicesErrors[0]">
            {{clusterConfigurationCtl.setupServicesErrors[0]}}
          </div>
          <div
             class="checkbox-list services"
             mn-services="clusterConfigurationCtl.joinClusterConfig"></div>
        </div>

        <div class="formrow">
          <div class="row">
            <label for="setup_hostname">This Node: Host Name/IP Address</label>
            <small class="text-smaller">Usually localhost or similar</small>
          </div>
          <input
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             name="hostname"
             id="setup_hostname"
             required
             ng-model="clusterConfigurationCtl.config.hostname">
          <div
             class="error error-form"
             ng-if="clusterConfigurationCtl.postHostnameErrors[0]">
            {{clusterConfigurationCtl.postHostnameErrors[0]}}
          </div>
        </div>

        <div class="formrow">
          <div class="row">
            <label for="setup_db_path_input">Data Disk Path</label>
            <small class="text-smaller">Path cannot be changed after setup</small>
          </div>
          <input
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             id="setup_db_path_input"
             ng-model="clusterConfigurationCtl.config.dbPath"
             ng-change="clusterConfigurationCtl.onDbPathChange()">
          <p>
            Free: {{clusterConfigurationCtl.dbPathTotal}}
          </p>
        </div>

        <div
           class="error error-form"
           ng-if="clusterConfigurationCtl.postDiskStorageErrors">
          <div ng-repeat="error in clusterConfigurationCtl.postDiskStorageErrors">
            Attention: {{error}}<br>
          </div>
        </div>

        <div class="formrow">
          <div class="row">
            <label for="setup_index_path_input">Indexes Disk Path</label>
            <small class="text-smaller">Path cannot be changed after setup</small>
          </div>
          <input
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             id="setup_index_path_input"
             ng-model="clusterConfigurationCtl.config.indexPath"
             ng-change="clusterConfigurationCtl.onIndexPathChange()">
          <p>
            Free: {{clusterConfigurationCtl.indexPathTotal}}
          </p>
        </div>

        <div class="formrow">
          <div class="row">
            <label for="setup_cbas_dirs_input0">Analytics Disk Paths</label>
            <small class="text-smaller">Paths cannot be changed after setup</small>
          </div>
          <div
             class="formrow"
             ng-repeat="dir in clusterConfigurationCtl.config.cbasDirs track by $index">
            <input
               type="text"
               autocorrect="off"
               spellcheck="false"
               autocapitalize="off"
               ng-attr-id="{{'setup_cbas_dirs_input' + $index}}"
               ng-model="clusterConfigurationCtl.config.cbasDirs[$index]"
               ng-change="clusterConfigurationCtl.onCbasDirsChange($index)">
            <p>
              Free: {{clusterConfigurationCtl['cbasDirsTotal' + $index]}}
            </p>
          </div>
        </div>

        <div class="row formrow flex-right margin-top-neg-2">
          <button
             class="outline btn-small"
             title="Add field"
             ng-click="clusterConfigurationCtl.addCbasPath();"
             type="button">+</button>
          <button
             class="outline btn-small"
             title="Remove field"
             ng-disabled="clusterConfigurationCtl.config.cbasDirs.length === 1"
             ng-click="clusterConfigurationCtl.config.cbasDirs.pop();"
             type="button">-</button>
        </div>

        <div class="formrow">
          <div class="row">
            <div class="column width-9">
              <label for="setup_query_temp_input">Query Temp Disk Path</label>
              <input
                 type="text"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"
                 id="setup_query_temp_input"
                 ng-model="clusterConfigurationCtl.querySettings.queryTmpSpaceDir">
            </div>
            <div class="width-3">
              <label for="setup_query_gb_input">Quota &nbsp;<small>in MB</small></label>
              <input
                 type="text"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"
                 id="setup_query_gb_input"
                 ng-init="5"
                 ng-model="clusterConfigurationCtl.querySettings.queryTmpSpaceSize">
            </div>
          </div>
        </div>

        <div
           class="error error-form"
           ng-show="!!clusterConfigurationCtl.postQuerySettingsErrors.queryTmpSpaceDir">
          {{clusterConfigurationCtl.postQuerySettingsErrors.queryTmpSpaceDir}}
        </div>
        <div
           class="error error-form"
           ng-show="!!clusterConfigurationCtl.postQuerySettingsErrors.queryTmpSpaceSize">
          {{clusterConfigurationCtl.postQuerySettingsErrors.queryTmpSpaceSize}}
        </div>

      </div>
    </div>
    <div class="panel-footer">
      <a ui-sref="app.wizard.welcome">&lt; Back</a>
      <button
         type="submit"
         ng-disabled="
                      !clusterConfigurationCtl.joinClusterConfig.clusterMember.password ||
                      !clusterConfigurationCtl.joinClusterConfig.clusterMember.hostname ||
                      !clusterConfigurationCtl.joinClusterConfig.clusterMember.password
                      ">
        Join With {{('isEqual' | lodash
        :clusterConfigurationCtl.defaultJoinClusterSerivesConfig
        :clusterConfigurationCtl.joinClusterConfig.services)
        &&
        ('isEqual' | lodash
        :clusterConfigurationCtl.defaultConfig
        :clusterConfigurationCtl.config)
        ?
        'Default' : 'Custom'}} Configuration
      </button>
    </div>
  </form>
</div>
