<mn-element-cargo depot="actions">
  <div class="header-controls">
    <div
       class="row"
       mn-placeholder="filter users list"
       mn-search="userRolesCtl.filterField">
    </div>
    <a ng-show="rbac.cluster.admin.security.write"
       ng-click="userRolesCtl.addUser()">
      ADD USER
    </a>
  </div>
</mn-element-cargo>
<div mn-spinner="!userRolesCtl.state || userRolesCtl.viewLoading" min-height="300px">
  <div
     mn-saslauthd-auth=""
     rbac="rbac"></div>
  <div class="cbui-table margin-top-half" mn-sortable-table>
    <div class="cbui-table-header padding-left">
      <span class="cbui-table-cell">
        <span mn-sortable-title="id" sort-by-default="true" class="sorter">username</span>
      </span>
      <span class="cbui-table-cell resp-hide-sml">
        <span mn-sortable-title="name" class="sorter">full name</span>
      </span>
      <span class="cbui-table-cell flex-grow-3">
        <span mn-sortable-title="roles" class="sorter">roles</span>
      </span>
      <span class="cbui-table-cell resp-hide-xsml">
        <span mn-sortable-title="domain" class="sorter">auth domain</span>
      </span>
    </div>
    <section
       class="has-hover"
       ng-if="userRolesCtl.state.users.length"
       ng-click="userRolesCtl.toggleDetails(user.id + user.domain)"
       ng-repeat="user in userRolesCtl.state.users |
                  orderBy: mnSortableTable.sortableTableProperties.orderBy:mnSortableTable.sortableTableProperties.invert |
                  filter: userRolesCtl.listFiter
                  track by (user.id + user.domain)">
      <div class="cbui-tablerow padding-left">
        <span class="cbui-table-cell">
          {{user.id}}
          <span ng-show="user.passwordless" class="label lt-blue">no password</span>
        </span>
        <span class="cbui-table-cell resp-hide-sml">{{user.name}}</span>
        <span class="cbui-table-cell flex-grow-3 wrap">
          <span
              class="relative"

              ng-repeat="role in user.roles track by $index"
              tooltip-trigger="'mouseenter'"
              tooltip-append-to-body="true"
              tooltip-placement="top"
              ng-click="$event.stopPropagation()"
              uib-tooltip="{{userRolesCtl.rolesByRole[role.role + (role.bucket_name ? '[' + role.bucket_name + ']' : '')].desc}}">
            <span class="ellipsis">
              {{userRolesCtl.rolesByRole[role.role + (role.bucket_name ? '[' + role.bucket_name + ']' : '')].name}}<span ng-show="role.bucket_name"
              >[{{role.bucket_name}}]</span
              ><span ng-show="!$last && user.roles.length > 1">,</span>
            </span>
          </span>
        </span>
        <span class="cbui-table-cell resp-hide-xsml">
          {{user.domain === "local" ? "Couchbase" : "External"}}
        </span>
      </div>
      <div
         class="cbui-tablerow-expanded text-right"
         ng-if="userRolesCtl.isDetailsOpened(user.id + user.domain) && rbac.cluster.admin.security.write">
        <button
           class="outline"
           ng-click="userRolesCtl.deleteUser(user)">Delete</button>
        <button
           class="outline"
           ng-show="user.domain !== 'external' && user.domain !== 'saslauthd'"
           ng-click="userRolesCtl.resetUserPassword(user)">Reset Password</button>
        <button
           ng-click="userRolesCtl.editUser(user)">Edit</button>
      </div>
    </section>

    <div
       ng-if="!userRolesCtl.state.users.length"
       class="zero-content">
      You don't have any users to display yet. <span ng-show="rbac.cluster.admin.security.write">Use ADD USER above to create one.</span>
    </div>
  </div>
  <div class="row pagination" ng-show="poolDefault.compat.atLeast50">
    <select
       ng-change="userRolesCtl.pageSizeChanged()"
       ng-model="userRolesCtl.pageSize"
       ng-options="o as o for o in [10,20,50,100]"></select>
    <span>
      <a
         ng-hide="userRolesCtl.state.skipped == 0"
         ui-sref="{pageSize: userRolesCtl.pageSize, startFromDomain: null, startFrom: null}">
        &lt;&lt; First</a>
      <a
         ui-sref="(userRolesCtl.state.links.prev)"
         ng-show="userRolesCtl.state.links.prev">
        &lt; Prev</a>
      <a
         ui-sref="(userRolesCtl.state.links.next)"
         ng-show="userRolesCtl.state.links.next">
        Next &gt;</a>
      <a
         ui-sref="(userRolesCtl.state.links.last)"
         ng-show="userRolesCtl.state.links.last">
        Last &gt;&gt;</a>
    </span>
  </div>
</div>
