<div mn-spinner="!userRolesCtl.state || userRolesCtl.viewLoading" min-height="300px">
  <div class="interim row" ng-class="{'flex-right': !userRolesCtl.isLdapEnabled}">
    <span ng-if="userRolesCtl.isLdapEnabled">
      <span
         class="icon"
         ng-class="{
                   'fa-check': userRolesCtl.saslauthdAuth.enabled,
                   'green': userRolesCtl.saslauthdAuth.enabled,
                   'fa-ban': !userRolesCtl.saslauthdAuth.enabled,
                   'red': !userRolesCtl.saslauthdAuth.enabled
                   }"></span>
      <span class="text-small">authentication</span>
      <span ng-show="userRolesCtl.saslauthdAuth" class="text-small">
        <span ng-show="!userRolesCtl.saslauthdAuth.enabled">Not</span> enabled
      </span>&nbsp;
      <a
         href=""
         class="text-small "
         ng-show="!userRolesCtl.saslauthdAuthLoading"
         ng-click="userRolesCtl.toggleSaslauthdAuth()">
        <span ng-show="!userRolesCtl.saslauthdAuth.enabled && rbac.cluster.admin.security.write">
          enable
        </span>
        <span ng-show="userRolesCtl.saslauthdAuth.enabled && rbac.cluster.admin.security.write">
          disable
        </span>
      </a>
    </span>
    <button
       ng-show="rbac.cluster.admin.security.write"
       ng-click="userRolesCtl.addUser()">+ Add User</button>
  </div>

  <div>
    <table
       class="table-stroked"
       mn-sortable-table>
      <tr>
        <th mn-sortable-title="id">Username</th>
        <th
           mn-sortable-title="name"
           sort-by-default="true"
           class="text-center">Full Name</th>
        <th mn-sortable-title="roles" class="text-center">Roles</th>
        <th mn-sortable-title="type">Auth</th>
      </tr>
      <tbody
         ng-if="userRolesCtl.state.users.length"
         ng-repeat="user in userRolesCtl.state.users |
                    orderBy: mnSortableTable.sortableTableProperties.orderBy:mnSortableTable.sortableTableProperties.invert |
                    limitTo: (userRolesCtl.pageNumber - 1) * userRolesCtl.pageLimit - userRolesCtl.state.users.length |
                    limitTo: userRolesCtl.pageLimit
                    track by (user.id + user.type)">
        <tr
           ng-click="userRolesCtl.toggleDetails(user.id + user.type)"
           ng-class="{
                     'no-stroke': userRolesCtl.isDetailsOpened(user.id + user.type) && rbac.cluster.admin.security.write,
                     'has-hover': rbac.cluster.admin.security.write}">
          <td class="ellipsis max-width-3">{{user.id}}</td>
          <td class="ellipsis max-width-3 text-center">{{user.name}}</td>
          <td class="text-center">
            <a
               href=""
               class="margin-right-half"
               ng-repeat="role in user.roles"
               uib-tooltip="{{userRolesCtl.rolesByRole[role.role + (role.bucket_name ? '[' + role.bucket_name + ']' : '')].desc}}">
              {{userRolesCtl.rolesByRole[role.role + (role.bucket_name ? '[' + role.bucket_name + ']' : '')].name}} <span ng-show="role.bucket_name">[{{role.bucket_name}}]</span>
            </a>
          </td>
          <td>
            {{user.type === "builtin" ? "Internal" : "LDAP"}}
          </td>
        </tr>
        <tr>
          <td class="text-right" colspan="4" ng-if="userRolesCtl.isDetailsOpened(user.id + user.type) && rbac.cluster.admin.security.write">
            <button
               class="outline"
               ng-click="userRolesCtl.deleteUser(user)">Delete</button>
            <button
               ng-show="user.type !== 'saslauthd'"
               ng-click="userRolesCtl.resetUserPassword(user)">Reset Password</button>
            <button
               ng-click="userRolesCtl.editUser(user)">Edit</button>
          </td>
        </tr>
      </tbody>
      <tbody ng-if="!userRolesCtl.state.users.length">
        <tr>
          <td colspan="4">Users list is empty</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <select
         ng-change="userRolesCtl.pageLimitChanged()"
         ng-model="userRolesCtl.pageLimit"
         ng-options="o as o for o in [10,20,50,100]"></select>
      <div>
        <a href=""
           ng-hide="userRolesCtl.pageNumber === 1"
           ng-click="userRolesCtl.prevPage()">&lt; Prev</a>
        <a href="" ng-show="userRolesCtl.pageNumber > 3">...</a>
        <a href=""
           ng-repeat="pageNumber in userRolesCtl.getVisiblePages() track by pageNumber"
           ng-click="userRolesCtl.goToPage(pageNumber)">
          {{pageNumber}}
        </a>
        <span ng-show="userRolesCtl.pageNumber + 2 < userRolesCtl.getTotalPageCount()">
          <a href="">...</a>
          <a href=""
             ng-click="userRolesCtl.goToPage(userRolesCtl.getTotalPageCount())">
            {{userRolesCtl.getTotalPageCount()}}
          </a>
        </span>
        <a href=""
           ng-show="userRolesCtl.state.users.length > userRolesCtl.pageNumber * userRolesCtl.pageLimit"
           ng-click="userRolesCtl.nextPage()">Next &gt;</a>
      </div>
    </div>
  </div>
</div>
