.dialog_full_screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dialog_overlay {
    z-index: 9999;
    background-color: #000000;
    cursor: pointer;
}

.dialog_main_wrapper {
    position: fixed;
    overflow: auto;
    z-index: 9999;
    height: 100%;
    top: 0;
    width: 100%;
}

.dialog {
    position: relative;
    z-index: 101;
    top: 60px;
}


.fade {
    opacity: 0;
    -webkit-transition: opacity .0s linear;
    -o-transition: opacity .0s linear;
    transition: opacity .0s linear;
}

.modal.in {
    opacity: 1
}
.modal-backdrop.in {
    opacity: 0.8
}
.modal-backdrop {
    position: fixed;
}

/* dialog closing (X) hyperlinks ------------ */
.modal-close {
    display: block;
    font-size: 1rem;
    padding: .5rem .75rem;
    margin-right: -.6rem;
    font-weight: 500;
    border: 1px solid #4287d6;
    position: absolute;
    top: .2rem;
    right: .8rem;
    color: #fff;
}

.modal-close:link {
    color: #fff;
}

.modal-close:visited {
    color: #fff;
}

.modal-close:hover {
    color: #fff;
    border: 1px solid #eceff2;
    transition: none;
}

.modal-close:active {
    color: #689fde;
}