<div class="dialog-med">
  <div class="panel-header">
    <h2 class="ellipsis">
      <span ng-if="!userRolesAddDialogCtl.isEditingMode">
        Add New User
      </span>
      <span ng-if="userRolesAddDialogCtl.isEditingMode">
        Edit User {{userRolesAddDialogCtl.userID}}
      </span>
    </h2>
  </div>
  <form
     ng-submit="userRolesAddDialogCtl.save()"
     mn-spinner="userRolesAddDialogCtl.viewLoading">
    <div class="panel-content forms max-height-500">
      <div
         class="error error-form"
         ng-show="userRolesAddDialogCtl.errors"
         ng-repeat="error in userRolesAddDialogCtl.errors">
        {{error}}
      </div>
      <div class="formrow checkbox-list">
        <div ng-if="userRolesAddDialogCtl.isLdapEnabled">
          <h4>Authentication Source:</h4>
          <input
             type="radio"
             name="type"
             value="saslauthd"
             ng-disabled="userRolesAddDialogCtl.isEditingMode"
             id="user-type-ldap"
             ng-model="userRolesAddDialogCtl.user.type">
          <label for="user-type-ldap">LDAP</label>
          <input
             type="radio"
             name="type"
             value="builtin"
             ng-disabled="userRolesAddDialogCtl.isEditingMode"
             id="user-type-builtin"
             ng-model="userRolesAddDialogCtl.user.type">
          <label for="user-type-builtin">Couchbase</label>
        </div>
      </div>
      <div class="formrow">
        <label for="name_inp">Username:</label>
        <input
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           mn-autocomplete-off="enforce"
           ng-disabled="userRolesAddDialogCtl.isEditingMode"
           id="name_inp"
           ng-model="userRolesAddDialogCtl.user.id">
      </div>
      <div class="formrow">
        <label for="name_full_inp">Full Name <small>(optional)</small></label>
        <input
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           mn-autocomplete-off="enforce"
           id="name_full_inp"
           ng-model="userRolesAddDialogCtl.user.name">
      </div>
      <div class="formrow" ng-if="userRolesAddDialogCtl.user.type !== 'saslauthd' && !userRolesAddDialogCtl.isEditingMode">
        <label for="password_inp">Password:</label>
        <input
           type="password"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           mn-autocomplete-off="enforce"
           id="password_inp"
           ng-model="userRolesAddDialogCtl.user.password">
      </div>
      <label>Roles</label>
      <fieldset class="select-user-roles">
        <script type="text/ng-template" id="rolesTree">
          <div ng-init="::isArray = ('isArray' | lodash:role);">
            <div
               ng-if="::isArray"
               ng-init="::
                        getUIID = userRolesAddDialogCtl.getUIID(role, level);
                        hasTitle = ('isArray' | lodash:role[1]) || !!role[0].bucket_name;
                        roles = role">
              <label
                 ng-if="::hasTitle"
                 ng-init="::userRolesAddDialogCtl.toggleWrappers(getUIID, true)"
                 ng-click="::userRolesAddDialogCtl.toggleWrappers(getUIID)"
                 class="disclosure initialcaps"
                 ng-class="{
                           'disclosed': !userRolesAddDialogCtl.closedWrappers[getUIID],
                           'has-selection': userRolesAddDialogCtl.closedWrappers[getUIID] && userRolesAddDialogCtl.containsSelected[getUIID]
                           }">
                {{::level == 0 ? (role[0][0].role.split('_')[0] + " Roles") : (level == 1 ? role[0].name : "")}}
              </label>
              <div ng-class="::{'indent-1': hasTitle}">
                <div
                   ng-show="!userRolesAddDialogCtl.closedWrappers[getUIID]"
                   ng-init="::level = level + 1;"
                   ng-repeat="role in roles"
                   ng-include="'rolesTree'">
                </div>
              </div>
            </div>
            <div
               ng-if="::!isArray"
               ng-init="::getUIID = userRolesAddDialogCtl.getUIID(role, level);"
               ng-class="{'has-selection': userRolesAddDialogCtl.selectedRoles[getUIID]}">
              <input
                 type="checkbox"
                 id="for-{{::getUIID}}"
                 ng-disabled="(role.role !== 'admin' && userRolesAddDialogCtl.selectedRoles['admin']) ||
                              (userRolesAddDialogCtl.selectedRoles['cluster_admin'] && role.role !== 'admin' && role.role !== 'cluster_admin') ||
                              (role.bucket_name !== '*' && userRolesAddDialogCtl.selectedRoles[role.role + '[*]'])"
                 ng-change="::userRolesAddDialogCtl.onCheckChange(role, getUIID)"
                 ng-model="userRolesAddDialogCtl.selectedRoles[getUIID]">
              <label
                 for="for-{{::getUIID}}">
                {{::!role.bucket_name ? role.name : role.bucket_name == "*" ? "all [*]" : role.bucket_name}}
              </label>
            </div>
          </div>
        </script>
        <div>
          <div
             ng-init="level = 0;"
             ng-repeat="(key, role) in userRolesAddDialogCtl.rolesTree"
             ng-include="'rolesTree'"></div>
        </div>
      </fieldset>
    </div>
    <div class="panel-footer scroll-shadow">
      <a
         href=""
         ng-click="$dismiss()">Cancel</a>
      <button type="submit">Save</button>
    </div>
  </form>
</div>
