*~
.project
.settings
/Mnesia.*
/features/Makefile
/*luster_config
/*luster_run.sh
TAGS
config
coverage
data
doc/*
ebin
erl_crash.dump
fprof.trace
logs
ns_server_*.tar.gz
priv/ip
priv/isasl.pw
priv/memcached
priv/memcached.exe
priv/memcached_pthreadGC2.dll
priv/moxi
priv/vbucketmigrator
priv/port_adaptor
test/log
tmp
version_num.tmp
