**.cov.html
*~
.project
.settings
TAGS
config
cov.html
data
docs/*
ebin
erl_crash.dump
logs
ns_server_*.tar.gz
priv/isasl.pw
priv/memcached
priv/memcached.exe
priv/memcached_pthreadGC2.dll
test/log
tmp
version_num.tmp
