tmp
ebin
data
TAGS
erl_crash.dump
**.cov.html
cov.html
*~
ns_server_*.tar.gz
version_num.tmp
test/log
.project
.settings
priv/memcached
priv/memcached.exe
priv/memcached_pthreadGC2.dll
priv/isasl.pw
config

