<div class="shadow_box settings">
  <div class="header_2">
    <div class="right" style="overflow:hidden;">
      <span class="staleness-notice" ng-show="adminCtl.lostConnState.isActivated">Difficulties communicating with the cluster; displaying cached information!</span>
    </div>
  </div>
  <div
    class="internal_roles_container when-roadmin-avoid-me"
    mn-spinner="internalRolesCtl.viewLoading">
    <h2>Read-Only User</h2>
    <div class="sub_section">
      <p>This user will have read-only access and
          cannot make any changes to the system. The user
          can only view existing servers, buckets, views
          and monitor stats.</p>
    </div>
    <form
      ng-show="!internalRolesCtl.roAdminName"
      id="js_internal_roles_form"
      ng-submit="internalRolesCtl.createUser()"
      class="internal_roles_form"
      name="internalRolesForm">
      <div class="sub_section">
        <label>
          <span>Username:</span>
          <input
            type="text"
            ng-model="internalRolesCtl.creds.username"
            name="username">
          <i
            class="errors js_error_password"
            ng-show="internalRolesCtl.errors.username">
              {{internalRolesCtl.errors.username}}
          </i>
        </label>
        <label>
          <span>Password:</span>
          <input
            type="password"
            ng-model="internalRolesCtl.creds.password"
            name="password"
            mn-autocomplete-off>
          <i
            class="errors js_error_password"
            ng-show="internalRolesCtl.errors.password">
              {{internalRolesCtl.errors.password}}
          </i>
        </label>
        <label>
          <span>Verify Password:</span>
          <input
            type="password"
            name="verifyPassword"
            mn-autocomplete-off
            ng-model="internalRolesCtl.creds.verifyPassword">
          <i
            class="errors js_error_verifyPassword casper_create_roadmin_with_errors"
            ng-show="internalRolesCtl.errors.verifyPassword">
              {{internalRolesCtl.errors.verifyPassword}}
          </i>
        </label>
      </div>
      <div class="save_cancel when-roadmin-hide-me">
          <button class="save_button float_right casper_settings_create_accaunt" type="submit">Create</button>
      </div>
    </form>
    <div
      id="js_account_delete"
      ng-show="internalRolesCtl.roAdminName"
      class="account_delete sub_section">
      <p id="js_user_created">User: <span class="js_roadmin_name" style="color:#222;">{{internalRolesCtl.roAdminName}}</span> created successfully.</p>
      <div>
        <span
          class="list_button casper_settings_account_reset_popup"
          id="js_reset_acc_btn"
          ng-click="internalRolesCtl.resetUserPassword()">
            <span>Reset Read-Only user Password</span>
        </span>
        <span
          class="list_button casper_settings_account_delete_popup"
          id="js_delete_acc_btn"
          ng-click="internalRolesCtl.deleteUser()">
            <span>Delete Read-Only User</span>
        </span>
      </div>
    </div>
  </div>
</div>
