<div class="join_cluster create_replication_dialog" id="create_replication_dialog" style="width:600px">
  <h1>Create Replication</h1>
  <form
    ng-submit="xdcrCreateDialogCtl.createReplication()"
    mn-spinner="xdcrCreateDialogCtl.viewLoading">
    <div class="warning pat_10" id="create_replication_dialog_errors_container" style="line-height: 18px;">
      <span ng-show="xdcrCreateDialogCtl.errors._">{{xdcrCreateDialogCtl.errors._}}<br></span>
    </div>
    <fieldset>
      <fieldset style="float:left;width:230px;">
        <legend>Replicate changes from:</legend>
        <ul>
          <li>
            <label>Cluster:</label>
            <span style="font-size: 0.7em;font-weight: bold;margin-left: 0.2em;">this cluster</span>
          </li>
          <li>
            <label for="replication_from_bucket">Bucket:</label>
            <select
              name="fromBucket"
              ng-model="xdcrCreateDialogCtl.replication.fromBucket"
              id="replication_from_bucket"
              style="width: 154px;"
              ng-options="bucket.name as bucket.name for bucket in xdcrCreateDialogCtl.buckets">
            </select>
            <span
              class="error error-container err-fromBucket"
              style="margin: 10px 0;text-align: right;"
              ng-show="xdcrCreateDialogCtl.errors.fromBucket">
                {{xdcrCreateDialogCtl.errors.fromBucket}}
            </span>
          </li>
          <li
            class="advanced_filtering when-goxdcr-enabled when-enterprise"
            ng-show="xdcrCreateDialogCtl.mnPoolDefault.value.isEnterprise && xdcrCreateDialogCtl.mnPoolDefault.value.goxdcrEnabled">
              <label for="js_xdcr_advaced_filtering_btn">Enable Advanced filtering:</label>
              <input
                id="js_xdcr_advaced_filtering_btn"
                type="checkbox"
                ng-model="xdcrCreateDialogCtl.replication.enableAdvancedFiltering">
          </li>
        </ul>
      </fieldset>
      <fieldset style="float:left;width:250px;">
        <legend>To:</legend>
        <ul>
          <li>
            <label for="replication_to_cluster">Cluster:</label>
            <select
              name="toCluster"
              ng-model="xdcrCreateDialogCtl.replication.toCluster"
              id="replication_to_cluster" style="width: 154px;"
              ng-options="reference.name as reference.name for reference in xdcrCtl.references.filtered">
              <option value="" disabled selected style="display: none;">
                Pick remote cluster
              </option>
            </select>
            <span
              class="error error-container err-toCluster"
              style="margin: 10px 0;text-align: right;"
              ng-show="xdcrCreateDialogCtl.errors.toCluster">
                {{xdcrCreateDialogCtl.errors.toCluster}}
            </span>
          </li>
          <li>
            <label for="replication_to_bucket">Bucket:</label>
            <input
              name="toBucket"
              ng-model="xdcrCreateDialogCtl.replication.toBucket"
              id="replication_to_bucket"
              type="text">
            <span
              class="error error-container err-toBucket"
              style="margin: 10px 0;text-align: right;"
              ng-show="xdcrCreateDialogCtl.errors.toBucket">
                {{xdcrCreateDialogCtl.errors.toBucket}}
            </span>
            <!-- TODO: this needs to become a select box like the one above -->
          </li>
        </ul>
      </fieldset>
      <fieldset
        class="xdcr_advaced_filtering xdcr_advaced_settings when-goxdcr-enabled when-enterprise"
        id="js_xdcr_advaced_filtering"
        style="clear:both;"
        ng-show="xdcrCreateDialogCtl.mnPoolDefault.value.isEnterprise && xdcrCreateDialogCtl.mnPoolDefault.value.goxdcrEnabled">
        <div
          id="js_xdcr_advaced_filtering_container"
          class="xdcr_advaced_filtering_container"
          ng-show="xdcrCreateDialogCtl.replication.enableAdvancedFiltering">
          <div>
            <label for="js_filter_expression" class="filter_expression_label">Filter Expression:</label>
            <a class="tooltip text_11" style="line-height:20px;"><span>What's this?</span>
              <span class="tooltip_msg" style="width:222px;"><span>
                The filter expression is a regular expression against which the keys of documents are tested. If the key matches the document will be replicated; otherwise the document won’t be replicated. You may test your filter expression against a number of sample candidate keys in the provided text boxes.
              </span></span>
            </a>
            <div style="position: relative;">
              <pre
                id="js_filter_expression"
                class="test_key_result filter_expression"
                contenteditable="true"
                spellcheck="false"
                name="filterExpression"
                mn-contenteditable
                mn-regex
                ng-model="xdcrCreateDialogCtl.advancedFiltering.filterExpression"
              ></pre>
            </div>
            <i
              class="error js_error js_filterExpression"
              style="display: block;clear:both;margin-top:10px;margin-left:15px;"
              ng-show="xdcrCreateDialogCtl.advancedFiltering.filterExpressionError">
                {{xdcrCreateDialogCtl.advancedFiltering.filterExpressionError}}
            </i>
          </div>
          <div class="js_test_keys test_keys">
            <label for="xdcr_advaced_settings_type">Test Key:</label>
            <div class="js_test_key_wrapper test_key_wrapper">
              <pre
                class="js_test_key_result test_key_result"
                contenteditable="true"
                spellcheck="false"
                mn-contenteditable
                mn-regex-test-key
                ng-model="xdcrCreateDialogCtl.advancedFiltering.testKey"
                ng-class="{dynamic_hightlight: xdcrCreateDialogCtl.advancedFiltering.hightlightTestKey}"
              ></pre>
              <div
                id="js_match_indicator"
                class="match_indicator"
                ng-class="{dynamic_match: !xdcrCreateDialogCtl.advancedFiltering.filterExpressionError && xdcrCreateDialogCtl.advancedFiltering.filterExpression && xdcrCreateDialogCtl.advancedFiltering.isSucceeded, dynamic_spinner: xdcrCreateDialogCtl.advancedFiltering.dynamicSpinner}">
                <span class="no_match">No Match</span>
                <span class="loading">...</span>
                <span class="match">Match</span>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="xdcr_advaced_settings" id="js_xdcr_advaced_settings" style="clear:both;">
        <legend
          id="js_xdcr_advaced_settings_btn"
          ng-click="xdcrCreateDialogCtl.showAdvancedSettings = !xdcrCreateDialogCtl.showAdvancedSettings">
            Advanced settings:
        </legend>
        <div
          id="js_xdcr_advaced_settings_container"
          class="xdcr_advaced_settings_container"
          ng-show="xdcrCreateDialogCtl.showAdvancedSettings">
          <div>
            <label for="xdcr_advaced_settings_type">XDCR Protocol:</label>
            <select id="xdcr_advaced_settings_type" ng-model="xdcrCreateDialogCtl.replication.type" name="type">
              <option value="capi">Version 1</option>
              <option value="xmem">Version 2</option>
            </select>
          </div>
          <div mn-xdcr-settings="xdcrCreateDialogCtl.replication"></div>
        </div>
      </fieldset>
    </fieldset>
    <div class="save_cancel">
      <button class="save_button float_right replicate-button" type="submit" style="margin-left:12px;">Replicate</button>
      <a class="close" ng-click="$dismiss()">Cancel</a>
    </div>
  </form>
</div>