<div ng-show="!mnViewsEditingController.mnPoolDefault.value.isROAdminCreds">
  <h1 style="float: left;">
    <span>
      &gt;
      <ui-select
        on-select="mnViewsEditingController.onSelectViewName($item)"
        ng-model="mnViewsEditingController.mnViewsEditingState.viewsNames.selected"
        theme="selectize"
        style="width: 200px; display: inline-block; vertical-align: middle;">
        <ui-select-match>{{$select.selected.name}}</ui-select-match>
        <ui-select-choices
          style="max-height: 400px; overflow: auto;"
          repeat="item in mnViewsEditingController.mnViewsEditingState.viewsNames | filter: $select.search"
          ui-disable-choice="item.isDisabled">
            <span ng-bind-html="item.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </span>
  </h1>
  <div id="view_details" ng-class="{fiter_opened: mnViewsEditingController.isFilterOpened}" style="clear: left;">
    <div id="no_sample_docs" class="shadow_box when-roadmin-avoid-me" style="display:none">
      <h3 class="block-expander js_block-expander" style="padding:15px">Bucket is currently empty.</h3>
    </div>
    <div
      id="sample_docs"
      class="shadow_box darker_block js_darker_block when-roadmin-avoid-me"
      ng-class="{dynamic_closed: mnViewsEditingController.isSampleDocumentClosed}">
       <h3 class="block-expander js_block-expander" ng-click="mnViewsEditingController.toggleSampleDocument()">
        <ins></ins>
        <span class="view_head docs_title" style="text-transform:none;">
          {{mnViewsEditingController.mnViewsEditingState.sampleDocument.meta.id}}
        </span>
        <span class="buttons">
          <a
            class="btn_1"
            id="preview_random_doc"
            ng-class="{dynamic_disabled: mnViewsEditingController.isPreviewRandomDisabled()}"
            ng-click="!mnViewsEditingController.isPreviewRandomDisabled() && mnViewsEditingController.previewRandomDocument($event)">
            <span>Preview a Random Document</span>
          </a>
          <a
            class="btn_1"
            id="edit_sample_doc"
            ng-class="{dynamic_disabled: mnViewsEditingController.isEditDocumentDisabled()}"
            ng-click="!mnViewsEditingController.isEditDocumentDisabled() && mnViewsEditingController.goToDocumentsSection($event)"
            >
            <span>Edit Document</span>
          </a>
        </span>
        <span class="ellipsis documents_notice" style="display: block;"></span>
       </h3>
      <div
        ng-hide="mnViewsEditingController.isSampleDocumentClosed"
        id="sample_documents_container"
        class="sample_documents stats"
        mn-spinner="mnViewsEditingController.awaitingSampleDocument()">
        <pre
          class="json"
          style="z-index:1;position:relative;height: 300px;oveflow: scroll;"
          ng-if="!mnViewsEditingController.mnViewsEditingState.sampleDocument.warnings">{{mnViewsEditingController.mnViewsEditingState.sampleDocument.json | json}}</pre>
        <pre
          class="meta"
          style="z-index:1;position:relative;height: 300px;oveflow: scroll;"
          ng-if="!mnViewsEditingController.mnViewsEditingState.sampleDocument.warnings">{{mnViewsEditingController.mnViewsEditingState.sampleDocument.meta | json}}</pre>
        <pre
          style="text-align:center;"
          ng-show="mnViewsEditingController.mnViewsEditingState.sampleDocument.warnings"
          ng-messages="mnViewsEditingController.mnViewsEditingState.sampleDocument.warnings">
            <span ng-message="documentDoesnotExist">A document with that ID does not exist</span>
            <span ng-message="thereAreNoDocs">There are no documents</span>
        </pre>
      </div>
    </div>
    <div class="shadow_box viewcode" id="viewcode">
      <div class="darker_block js_darker_block" ng-class="{dynamic_closed: mnViewsEditingController.isViewsClosed}">
        <h3 class="js_block-expander block-expander" ng-click="mnViewsEditingController.toggleViews()"><ins></ins><span class="view_head">{{mnViewsEditingController.isSpatial ? "Spatial" : "View"}} Code</span>
          <span class="buttons when-roadmin-hide-me">
            <a
              id="save_view_as"
              class="btn_1 casper_views_save_view_as_popup"
              ng-class="{dynamic_disabled: mnViewsEditingController.isViewsEditorControllsDisabled()}"
              ng-click="!mnViewsEditingController.isViewsEditorControllsDisabled() && mnViewsEditingController.saveAs($event)"><span>Save As...</span></a>
            <a
              id="just_save_view"
              class="btn_1"
              ng-class="{dynamic_disabled: mnViewsEditingController.isViewsEditorControllsDisabled()}"
              ng-click="!mnViewsEditingController.isViewsEditorControllsDisabled() && mnViewsEditingController.save($event)"><span>Save</span></a>
          </span>
          <div id="view_code_errors" class="ellipsis" ng-show="mnViewsEditingController.mnViewsEditingState.viewsError.reason">
            {{mnViewsEditingController.mnViewsEditingState.viewsError.reason}}
          </div>
        </h3>
        <div class="stats" ng-show="!mnViewsEditingController.isViewsClosed">
          <table class="list" mn-spinner="mnViewsEditingController.awaitingViews()"><tbody><tr>
            <td class="code map" style="text-align: left;" ng-style="{'width': !mnViewsEditingController.isSpatial ? '654px' : 'auto'}">
              <label for="viewcode_map">Map</label>
              <textarea
                ng-if="mnViewsEditingController.isSpatial"
                spellcheck="false"
                cols="20"
                rows="11"
                class="map"
                id="viewcode_map"
                ng-model="mnViewsEditingController.mnViewsEditingState.currentDocument.doc.json.spatial[mnViewsEditingController.viewId]"
                ui-codemirror="mnViewsEditingController.viewsOptions"
                ></textarea>
              <textarea
                ng-if="!mnViewsEditingController.isSpatial"
                spellcheck="false"
                cols="20"
                rows="11"
                class="map"
                id="viewcode_map"
                ng-model="mnViewsEditingController.mnViewsEditingState.currentDocument.doc.json.views[mnViewsEditingController.viewId].map"
                ui-codemirror="mnViewsEditingController.viewsOptions"
                ></textarea>
            </td>
            <td class="splitter grippie"></td>
            <td class="code reduce" style="text-align: left;" ng-if="!mnViewsEditingController.isSpatial">
              <label for="viewcode_reduce">Reduce<span class="when-in-dev"> (<span id="built_in_reducers">built in: <a>_count</a>, <a>_sum</a>, <a>_stats</a></span>)</span></label>
              <textarea
                placeholder="(optional)"
                spellcheck="false"
                cols="20"
                rows="11"
                class="reduce"
                id="viewcode_reduce"
                ng-model="mnViewsEditingController.mnViewsEditingState.currentDocument.doc.json.views[mnViewsEditingController.viewId].reduce"
                ui-codemirror="mnViewsEditingController.viewsOptions"
                ></textarea>
            </td>
          </tr></tbody></table>
        </div>
      </div>
    </div>
    <ui-view ng-if="mnViewsEditingController.mnViewsEditingState && !mnViewsEditingController.mnViewsEditingState.isEmptyState"></ui-view>
  </div>
</div>
