<div class="dialog-med">
  <div class="panel-header">
    <h2>Confirm Delete Bucket</h2>
  </div>
  <div mn-spinner="bucketsDeleteDialogCtl.viewLoading">
    <div class="panel-content">
      <p class="error"><strong>Warning</strong> – Removing this bucket will result in complete data loss for this bucket.</p>
      <p>Are you sure you want to remove it?</p>
    </div>
    <div class="panel-footer">
      <a
         href=""
         ng-click="$dismiss()">Cancel</a>
      <button
         type="submit"
         ng-click="bucketsDeleteDialogCtl.doDelete()">Delete Bucket</button>
    </div>
  </div>
</div>
