.dialog_full_screen {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.dialog_overlay {z-index: 9999; background-color: #000000; cursor: pointer;}

.dialog_main_wrapper {position: absolute; z-index: 9999; height: 100%; top: 0; width: 100%;font-family: Verdana,Arial,sans-serif; font-size: 1.1em; color: #222222;}
.dialog_main_wrapper .dialog_horizontal_center {position: relative; z-index: 10000; display: table; overflow: hidden; height: 100%; margin: 0 auto;}
.dialog_main_wrapper .dialog_vertical_center {display: table-cell; vertical-align: middle;}
.dialog_main_wrapper .dialog_corner_radius {border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px;}
.dialog_main_wrapper .dialog_inner_content {color: #222222; font-family: Verdana, Arial, sans-serif; font-size: 18px;}
.dialog_main_wrapper .dialog_ {
  margin: 25px; /*should be the same as box show above*/
  background: #EEEEEF; position: relative;
  box-shadow: 0 5px 25px #222; -moz-box-shadow: 0 5px 25px #222; -webkit-box-shadow: 0 5px 25px #222; -o-box-shadow: 0 5px 25px #222; -ms-box-shadow: 0 5px 25px #222; -khtml-box-shadow: 0 5px 25px #222;
}
.dialog_main_wrapper .dialog_ h1 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 9px 12px 9px;
  font-weight: normal; font-size: 17px; font-weight: bold; font-family: Verdana,Arial,sans-serif; border: 1px solid #aaaaaa; text-shadow: 0px 1px 2px #fff; color: #222222;
  background: #cccccc url(/images/ui-theme/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
}
.dialog_main_wrapper .dialog_ .dialog_close {
  position: absolute; right: 6px; top: 12px; width: 19px; height: 18px; padding: 1px; cursor: pointer;
}
.dialog_main_wrapper .dialog_ .dialog_close span {display: block; width: 16px; height: 16px; margin: 1px; background-image: url(/images/ui-theme/ui-icons_222222_256x240.png); background-position: -96px -128px;}
.dialog_main_wrapper .dialog_ .dialog_close:hover {border: 1px solid #999999; padding: 0; background: #dadada url(/images/ui-theme/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;}

.dialog_about p {margin-bottom: 25px; }
.dialog_about .dialog_inner_content {padding: 16px 17px 14px;}
.dialog_about em {color: #555;}
.fade {opacity: 0; -webkit-transition: opacity .0s linear;
       -o-transition: opacity .0s linear;
          transition: opacity .0s linear;}
.modal.in {opacity: 1}
.modal-backdrop.in {opacity: 0.5}
.modal-backdrop {position: fixed;}
.dialog_main_wrapper .coner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.ui-dialog-titlebar-close {
  position: absolute; right: .3em; top: 19px; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px;}
.ui-dialog-titlebar-close span { display: block; margin: 1px; width: 16px; height: 16px; background-image: url(/images/ui-theme/ui-icons_222222_256x240.png);     background-position: -96px -128px;}
.ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
    padding: 0;border: 1px solid #999999;
    background: #dadada url(/images/ui-theme/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121; }