<td colspan="18" class="settings-placeholder"  mn-spinner="!bucketDetails.ramConfig || (bucketDetails.isMembase && !bucketDetails.hddConfig)">
  <div class="gong_rb">
    <div class="pad">
      <div style="width:800px;float:left;">
        <div>
          Access Control:
          <span>
            {{bucketDetails.authType === 'none' ? 'Port' : bucketDetails.name === 'default' ? 'None' : 'Authentication'}}
            {{bucketDetails.authType === 'none' ? ': ' + bucketDetails.proxyPort : ''}}
          </span>
        </div>
        <div ng-if="bucketDetails.isMembase">
          Replicas: <span>{{ bucketDetails.replicaNumber != 0 ? (bucketDetails.replicaNumber | mnCount:'replica copy') : 'disabled'}}</span>
        </div>
        <div ng-if="bucketDetails.isMembase">
          Compaction: <span class="bucket_progress_container" data-name="{{bucketDetails.name}}">
          {{bucketDetails.thisBucketCompactionTask ? bucketDetails.thisBucketCompactionTask.progress + "% complete" : "Not active"}}
          </span>
        </div>
        <div ng-if="bucketDetails.isMembase">
          Cache Metadata: <span>{{bucketDetails.evictionPolicy === "valueOnly" ? 'Value Ejection' : 'Full Ejection'}}</span>
        </div>
        <div ng-if="bucketDetails.isMembase">
          Disk I/O priority: <span>{{bucketDetails.threadsNumber === 3 ? 'Low' : 'High'}}</span>
        </div>
      </div>
      <div class="last when-roadmin-hide-me">
        <a class="inner_btn casper_buckets_edit_bucket_popup" ng-click="editBucket(bucketDetails)" >Edit</a>
        <button ng-show="!bucketDetails.showCancel && !bucketDetails.noCompaction" class="inner_btn compact_btn" ng-class="{dynamic_disabled: bucketDetails.disableCompact}" ng-click="!bucketDetails.disableCompact && registerCompactionAsTriggeredAndPost(bucketDetails.controllers.compactAll, 'disableCompact')">
          <span>Compact</span>
        </button>
        <button  ng-show="bucketDetails.showCancel" class="inner_btn cancel_compact_btn " ng-class="{dynamic_disabled: bucketDetails.disableCancel}" ng-click="!bucketDetails.disableCancel && registerCompactionAsTriggeredAndPost(bucketDetails.thisBucketCompactionTask.cancelURI, 'disableCancel')"><span>Cancel</span></button>
        <button class="inner_btn " ng-click="deleteBucket(bucketDetails)"><span>Delete</span></button>
        <button ng-show="bucketDetails.flushEnabled" class="inner_btn " ng-click="flushBucket(bucketDetails)" ><span>Flush</span></button>
      </div>
    </div>
    <div class="side side_1"></div>
    <div class="side side_2"></div>
    <div class="side side_3"></div>
    <div class="side side_4"></div>
  </div>

  <div class="additional_server_info bucket_details_info">
    <div ng-if="bucketDetails.warmUpTasks.length" mn-warmup-progress warm-up-tasks="bucketDetails.warmUpTasks" sort-by="hostname"></div>

    <h2>Cache Size</h2>
    <div class="dynamic_ram">
      <label class="for-hdd-quota">
        <span>Dynamic RAM Quota:</span>
        <span>{{bucketDetails.quota.rawRAM | mnFormatQuantity}}</span>
        <abbr></abbr>
      </label>
    </div>
    <div class="usage-block for-ram" mn-bar-usage base-info="bucketDetails.ramConfig"></div>

    <div ng-if="bucketDetails.hddConfig">
      <h2>Storage Size</h2>
      <div class="disk_storage">
        <label class="for-hdd-quota" style="padding:0;">
          <span>Persistence Enabled:</span>
          <span>Yes</span><br>
          <span>Disk Usage:</span>
          <span>{{bucketDetails.basicStats.diskUsed | mnFormatQuantity}}</span><br>
          <span>Data Usage:</span>
          <span>{{bucketDetails.basicStats.dataUsed | mnFormatQuantity}}</span>
          <abbr></abbr>
        </label>
      </div>
      <div class="usage-block for-hdd" mn-bar-usage base-info="bucketDetails.hddConfig"></div>
    </div>

  </div>
</td>