<mn-element-cargo depot="alerts">
  <div
     class="interim alert alert-warning"
     ng-show="groupsCtl.serverGroupsWarnig">
    <p>Error: Changes must be saved before deleting the group.</p>
  </div>
  <div
     class="interim alert alert-warning"
     ng-show="groupsCtl.revisionMismatch">
    <p>Error: Revision mismatch. Changes are not applied.</p>
    <button ng-click="groupsCtl.reloadState('app.admin.servers.list.groups')">Press to sync</button>
  </div>
</mn-element-cargo>

<div>
  <div class="interim row flex-right">
    <button
       ng-disabled="groupsCtl.disableAddGroupBtn || poolDefault.rebalancing || !rbac.cluster.server_groups.write"
       ng-click="groupsCtl.createGroup()"
       >Create Group</button>
    <button
       ng-disabled="groupsCtl.disableApplyChangesBtn || poolDefault.rebalancing || !rbac.cluster.server_groups.write"
       ng-click="groupsCtl.applyChanges()"
       >Apply Changes</button>
     <a ng-click="groupsCtl.reloadState('app.admin.servers.list.groups')">Reset</a>
  </div>
  <div mn-spinner="viewLoading">
    <div
       ng-repeat="group in groupsCtl.state.groups | orderBy:'name'">
      <hr>
      <div class="formrow">
        <h4 class="ellipsis">{{group.name}}
          <small>
            <a
               class="link-heavy"
               ng-show="rbac.cluster.server_groups.write"
               ng-click="groupsCtl.createGroup(group)">(Rename)</a>
          </small>
        </h4>
      </div>
        <div
           class="row indent-1"
           ng-repeat="server in group.nodes">
          <div
             style="height: 1rem;"
             class="node-status"
             ng-class="['dynamic_' + server.status, 'dynamic_' + server.clusterMembership]">
          </div>
          <div>
            <span
               ng-repeat="service in server.services | mnFormatServicesArray | orderBy"
               class="label services">{{service}}</span>
          </div>
          <div>
            <div uib-dropdown>
              <div uib-dropdown-toggle>Move <span class="has-menu">&nbsp;</span></div>
              <div uib-dropdown-menu class="panel">
                <a
                   href=""
                   ng-repeat="groupNew in groupsCtl.state.groups | orderBy:'name'"
                   ng-click="groupsCtl.changeNodeGroup(group.name, groupNew.name, server)">{{groupNew.name}}</a>
              </div>
            </div>
          </div>
          {{server.hostname | mnStripPortHTML:group.nodes}}
        </div>
        <div ng-show="!group.nodes.length">
          This group is empty,
          <a
             href=""
             ng-click="groupsCtl.deleteGroup(group)">click to delete</a>.
        </div>
    </div>
  </div>
</div>
