<mn-element-cargo depot="alerts">
  <div
     class="alert alert-warning"
     ng-show="groupsCtl.serverGroupsWarnig">
    <p>Changes must be saved before deleting the group.</p>
  </div>
  <div
     class="alert alert-warning"
     ng-show="groupsCtl.revisionMismatch">
    <p>Revision mismatch. Please sync the state of groups before trying to apply changes.</p>
    <a ng-click="groupsCtl.reloadState('app.admin.servers.list.groups')">Sync Groups</a>
  </div>
</mn-element-cargo>

<div class="row flex-right margin-bottom-half">
  <a
     href=""
     class="margin-right-1"
     ng-show="!groupsCtl.disableApplyChangesBtn"
     ng-click="groupsCtl.reloadState('app.admin.servers.list.groups')"
     >Reset</a>
  <span>
    <button
       ng-disabled="groupsCtl.disableApplyChangesBtn || poolDefault.rebalancing || !rbac.cluster.server_groups.write"
       ng-click="groupsCtl.applyChanges()"
       >Apply Changes</button>
    <button
       ng-disabled="groupsCtl.disableAddGroupBtn || poolDefault.rebalancing || !rbac.cluster.server_groups.write"
       ng-click="groupsCtl.createGroup()"
       >Add Group</button>
  </span>
</div>

<div mn-spinner="viewLoading" class="margin-bottom2">
  <div
     ng-repeat="group in groupsCtl.state.groups | orderBy:'name'"
     class="margin-bottom1">
    <div class="cbui-table-header flex-left">
      <h4 class="ellipsis">{{group.name}}&nbsp;
        <a
           href=""
           class="text-smaller"
           ng-show="rbac.cluster.server_groups.write"
           ng-click="groupsCtl.createGroup(group)"
           >edit name</a>
      </h4>
    </div>

<!-- group list of servers ********************** -->
    <section
       class="row flex-left"
       ng-repeat="server in group.nodes">
      <section
         class="cbui-table-cell status"
         ng-class="['dynamic_' + server.status, 'dynamic_' + server.clusterMembership]">
      </section>
      <span class="cbui-table-cell">
        {{server.hostname | mnStripPortHTML:group.nodes}}
      </span>
      <span class="cbui-table-cell flex-grow-3">
        <span
           ng-repeat="service in server.services | mnFormatServicesArray | orderBy"
           class="label neutral">{{service}}
        </span>
      </span>
      <span class="cbui-table-cell wrap flex-grow-3 text-right">
        <div uib-dropdown ng-show="!server.toGroupPending && groupsCtl.state.groups.length > 1">
          <div uib-dropdown-toggle class="menu-toggle">move to <span class="icon fa-caret-down"></span></div>
          <div uib-dropdown-menu class="dropdown-menu-select-like">
            <a
               href=""
               ng-show="groupNew.name !== group.name"
               ng-repeat="groupNew in groupsCtl.state.groups | orderBy:'name'"
               ng-click="groupsCtl.changeNodeGroup(group.name, groupNew.name, server)">{{groupNew.name}}</a>
          </div>
        </div>
        <small ng-show="server.toGroupPending" class="row success">
          <span>
            <span class="icon fa-check"></span>
            pending move to {{server.toGroupPending}}
          </span>
          <a
             href=""
             class="indent-1"
             ng-click="groupsCtl.changeNodeGroup(server.toGroupPending, group.name, server)">
            cancel
          </a>
        </small>
      </span>
    </section>

<!-- zero content *********************** -->
    <div ng-show="!group.nodes.length" class="zero-content">
      This group is empty.
      <a
         href=""
         ng-click="groupsCtl.deleteGroup(group)"
         class="indent-1">
        delete group
      </a>
    </div>
  </div>
</div>
