<div class="dialog-med">
  <div class="panel-header">
    <h2>Flushing</h2>
  </div>
  <div mn-spinner="bucketsFlushDialogCtl.viewLoading">
    <div class="panel-content">
      <p class="error">Warning: Flushing this bucket will result in complete data loss for this bucket.</p>
      <p>Are you sure you want to flush it?</p>
    </div>
    <div class="panel-footer">
      <a
         href=""
         ng-click="$dismiss()">Cancel</a>
      <button
         type="submit"
         ng-click="bucketsFlushDialogCtl.doFlush()">Flush</button>
    </div>
  </div>
</div>
