<div class="join_cluster" id="create_cluster_reference_dialog" title="Create Cluster Reference" style="width:500px">
  <h1>Create Cluster Reference</h1>
  <form
    ng-submit="xdcrReferenceDialogCtl.createClusterReference()"
    mn-spinner="xdcrReferenceDialogCtl.viewLoading">
    <div class="warning pat_10" id="create_cluster_reference_dialog_errors_container">
      <span ng-repeat="error in xdcrReferenceDialogCtl.errors"><strong>Attention</strong> - {{error}}<br></span>
    </div>
    <fieldset>
      <ul>
        <li>
          <label for="cluster_reference_name">Cluster Name:</label>
          <input
            name="name"
            ng-model="xdcrReferenceDialogCtl.cluster.name"
            id="cluster_reference_name"
            mn-focus
            type="text">
        </li>
        <li>
          <label for="cluster_reference_hostname">IP/hostname:</label>
          <input
            name="hostname"
            ng-model="xdcrReferenceDialogCtl.cluster.hostname"
            id="cluster_reference_hostname"
            type="text">
          <a class="text_11 tooltip"><span>What's this?</span>
            <span class="tooltip_msg"><span>
              This is the hostname or IP address of a node in the cluster you want
              to add.
            </span></span>
          </a>
        </li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>
        Security
        <a class="text_11 tooltip"><span>What's this?</span>
         <span class="tooltip_msg"><span>
           These are the login credentials for the remote cluster.
         </span></span>
        </a>
      </legend>
      <ul>
        <li>
          <label>Username:</label>
          <input
            name="username"
            ng-model="xdcrReferenceDialogCtl.cluster.username"
            type="text">
        </li>
        <li>
          <label>Password:</label>
          <input
            name="password"
            ng-model="xdcrReferenceDialogCtl.cluster.password"
            type="password">
        </li>
        <li
          class="when-enterprise only-when-25"
          ng-show="xdcrReferenceDialogCtl.mnPoolDefault.value.isEnterprise && poolDefault.compat.atLeast25">
            <label for="demand_encryption_flag-2">Enable TLS Encryption</label>
            <input
              name="demandEncryption"
              ng-model="xdcrReferenceDialogCtl.cluster.encryption"
              id="demand_encryption_flag-2"
              type="checkbox"
              style="vertical-align: middle;">
          <a class="text_11 tooltip"><span>What's this?</span>
            <span class="tooltip_msg" style="width:250px"><span>
              If checked, XDCR data encryption occurs using TSL. Obtain the TSL certificate from the remote cluster (Security &gt; Root Certificate) and paste below.
            </span></span>
          </a>
        </li>
     </ul>
     <textarea
      id="ssh_key_area-2"
      name="certificate"
      ng-show="xdcrReferenceDialogCtl.cluster.encryption"
      ng-model="xdcrReferenceDialogCtl.cluster.certificate"
      placeholder="Copy paste the Certificate information from Remote Cluster here. You can find the certificate information on Couchbase Admin UI under Security &gt; Root Certificate tab."
      style="font-size:10px;width:100%;margin:0;padding:0;min-height:20em;">
     </textarea>
    </fieldset>
    <div class="save_cancel">
      <button class="save_button float_right" type="submit">Save</button>
      <a class="close"  ng-click="$dismiss()">Cancel</a>
    </div>
  </form>
</div>