<div class="dialog-med">
  <div class="panel-header">
    <h2 ng-show="xdcrReferenceDialogCtl.isNew">Add Remote Cluster</h2>
    <h2 ng-show="!xdcrReferenceDialogCtl.isNew">Edit Remote Cluster</h2>
  </div>
  <form
     ng-submit="xdcrReferenceDialogCtl.createClusterReference()"
     mn-spinner="xdcrReferenceDialogCtl.viewLoading"
     class="forms">
    <div class="panel-content">
      <div class="error error-form">
        <div ng-repeat="error in xdcrReferenceDialogCtl.errors">
          Attention: {{error}}
        </div>
      </div>
      <div class="formrow">
        <label for="cluster_reference_name">Cluster Name</label>
        <input
           ng-model="xdcrReferenceDialogCtl.cluster.name"
           id="cluster_reference_name"
           mn-focus
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off">
      </div>
      <div class="formrow">
        <label for="cluster_reference_hostname" class="inline">IP/Hostname</label>
        <span
           class="fa-stack icon-info"
           uib-tooltip="This is the hostname or IP address of a node in the remote cluster you want to add."
           tooltip-placement="right">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
        <input
           ng-model="xdcrReferenceDialogCtl.cluster.hostname"
           id="cluster_reference_hostname"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off">
      </div>
      <div class="formrow">
        <label>Username for Remote Cluster</label>
        <input
           ng-model="xdcrReferenceDialogCtl.cluster.username"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off">
      </div>
      <div class="formrow">
        <label>Password</label>
        <input
           ng-model="xdcrReferenceDialogCtl.cluster.password"
           type="password"
           autocorrect="off"
           spellcheck="false"
           mn-autocomplete-off>
      </div>
      <!-- encryption options -->
      <div
         class="formrow checkbox-list"
         ng-show="xdcrReferenceDialogCtl.mnPoolDefault.value.isEnterprise && poolDefault.compat.atLeast25">
        <input
           ng-model="xdcrReferenceDialogCtl.cluster.demandEncryption"
           id="for_encryption_enable"
           type="checkbox">
        <label for="for_encryption_enable" class="margin-right-zero">
          Enable TLS Encryption
        </label>
        <span
           class="fa-stack icon-info"
           uib-tooltip="If checked, XDCR data encryption occurs using TLS. Obtain the TLS certificate from the remote cluster (Security &gt; Root Certificate) and paste below."
           tooltip-placement="top">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </div>
      <div class="formrow">
        <textarea
           rows="4"
           autocorrect="off"
           autocompleterg="off"
           spellcheck="false"
           ng-show="xdcrReferenceDialogCtl.cluster.demandEncryption"
           ng-model="xdcrReferenceDialogCtl.cluster.certificate"
           placeholder="Copy/paste the certificate information from your remote cluster into this field. You can find the certificate information on the Couchbase Web Console in the security area.">
        </textarea>
      </div>
    </div>

    <div class="panel-footer">
      <a href="" ng-click="$dismiss()">Cancel</a>
      <button type="submit">Save</button>
    </div>
  </form>
</div>
