#overview_main_graph { width: 100%; }
#overview_graph_ops, #overview_graph_gets, #overview_graph_sets, #overview_graph_misses { width: 20%; display: inline-block; }
#left_pane, #right_pane, #middle_panel { vertical-align: top; }
#overview .section { border: 1px black solid; }
#server_list_container .details { background-color: #F1F1F1; }
#server_list_container .details > td > div { display: inline-block; vertical-align: top; }
#server_list_container .details .first { width: 400px; }
#server_list_container .details .second { width: 200px; }

#server_list_container .details { display: none; }
#server_list_container .details.opened { display: table-row; }

#server_list_container > table { width: 100%; }
