<div
  class="pad"
  id="init_sample_buckets_dialog"
  mn-spinner="!wizardStep2Ctl.sampleBuckets"
  min-height="387px">
  <form>
    <div class="config-top">
      <h1>Sample Buckets</h1>
      <h2>Step <span class="current-step">2</span> of 5</h2>
    </div>
    <h2 class="question">Sample Data and Views</h2>
    <p class="pad_10">
      Sample buckets contain example data and Couchbase views. You can provision one or more sample buckets to help you discover the power of Couchbase Server. Sample buckets can be removed later from the bucket edit panel.
    </p>
    <h3>Available Samples</h3>
    <ul id="setup_available_samples">
      <li
        ng-repeat="bucket in wizardStep2Ctl.sampleBuckets"
        ng-if="!bucket.installed">
        <input
          type="checkbox"
          ng-false-value="0"
          ng-true-value="{{bucket.quotaNeeded}}"
          id="setup-sample-{{bucket.name}}"
          ng-model="wizardStep2Ctl.selected[bucket.name]">
        <label for="setup-sample-{{bucket.name}}">
          {{bucket.name}}
        </label>
      </li>
      <li ng-if="!wizardStep2Ctl.sampleBuckets.length">There are no samples available to install.</li>
    </ul>
    <div class="config-bottom">
      <button
        name="next"
        value="Next"
        class="submit next direction-button"
        id="step-4-next"
        type="submit"
        mn-focus="wizardStep2Ctl.focusMe"
        ui-sref="app.wizard.step3">Next</button>
      <button
        name="back"
        value="Back"
        class="submit back direction-button"
        id="step-4-back"
        type="button"
        ui-sref="app.wizard.step1">Back</button>
    </div>
  </form>
</div>