<div>
  <div
     class="error form-error"
     ng-show="bucketConf.isWizard">
    The default bucket is for development purposes only. You may choose to skip creation of this bucket below.
  </div>
  <h3 class="interim">Bucket Settings</h3>
  <div class="formrow">
    <label>Bucket Name</label>
    <input
       type="text"
       ng-model="bucketConf.name"
       ng-disabled="bucketConf.isWizard || !bucketConf.isNew"
       mn-focus="!(bucketConf.isWizard || !bucketConf.isNew)"
       autocorrect="off"
       spellcheck="false"
       autocapitalize="off">
    <div
       class="error"
       ng-show="validation.result.errors.name">
      {{validation.result.errors.name}}
    </div>
  </div>

  <div class="formrow checkbox-list">
    <h4>Bucket Type</h4>
    <input
       type="radio"
       value="membase"
       id="bucket_type_membase_init"
       ng-model="bucketConf.bucketType"
       ng-disabled="!bucketConf.isNew">
    <label for="bucket_type_membase_init">Couchbase</label>
    <input
       type="radio"
       value="memcached"
       id="bucket_type_memcached_init"
       ng-model="bucketConf.bucketType"
       ng-disabled="!bucketConf.isNew">
    <label for="bucket_type_memcached_init">Memcached</label>
  </div>

  <h3 class="interim">Memory Settings</h3>
  <div class="formrow">
    <label for="ram_quota_mb_init">Per Node RAM Quota</label>
    <div class="form-inline">
      <input
         type="number"
         mn-focus="(bucketConf.isWizard || !bucketConf.isNew)"
         ng-class="{invalid: validation.result.errors.ramQuotaMB}"
         value="30"
         ng-model="bucketConf.ramQuotaMB">
      <abbr>MB</abbr>
    </div>
    <div
       class="bar-usages"
       ng-class="{overcommitted: !!validation.result.guageConfig.topLeft}"
       mn-bar-usage
       base-info="validation.result.guageConfig">
    </div>
    <div
       class="error form-error"
       ng-show="validation.result.errors.ramQuotaMB">
      {{validation.result.errors.ramQuotaMB}}
    </div>
  </div>
  <div class="formrow checkbox-list">
    <div ng-show="bucketConf.bucketType === 'membase'">
      <h4>Cache Metadata</h4>
      <input
         type="radio"
         name="evictionPolicy"
         value="valueOnly"
         id="cache_metadata_retain-init"
         checked="checked"
         ng-model="bucketConf.evictionPolicy">
      <label for="cache_metadata_retain-init">Value Ejection</label>
      <input
         type="radio"
         name="evictionPolicy"
         value="fullEviction"
         id="cache_metadata_non_retain-init"
         ng-model="bucketConf.evictionPolicy">
      <label for="cache_metadata_non_retain-init">Full Ejection</label>

      <a
         href=""
         uib-tooltip="Value Ejection - During ejection, only the value will be ejected (key and metadata will remain in memory).
            Full Ejection - During ejection, everything (including key, metadata and value) will be ejected.
            Value Ejection needs more system memory but provides the best performance. Full Ejection reduces memory overhead requirement.">What&#39;s this?</a>
      <div
         class="error"
         ng-show="!!evictionPolicyWarning">
        {{evictionPolicyWarning}}
      </div>
    </div>
  </div>

  <h3
     ng-if="!bucketConf.isWizard"
     class="interim">Access Control</h3>
  <div
     class="formrow checkbox-list"
     ng-if="!bucketConf.isWizard">
    <input
       id="js_bucket_details_sasl_selected"
       type="radio"
       name="authType"
       value="sasl"
       ng-model="bucketConf.authType">
    <label class="inline" for="js_bucket_details_sasl_selected">
      <span ng-if="bucketConf.isDefault || (bucketConf.name === 'default')">Standard port (TCP port 11211. ASCII protocol or Binary auth-less)</span>
      <span ng-if="!bucketConf.isDefault && (bucketConf.name !== 'default')">Standard port (TCP port 11211. Needs SASL auth.)</span>
    </label>

    <div ng-if="!bucketConf.isDefault && (bucketConf.name !== 'default')">
      <label for="js_bucket_details_sasl_password">Enter password:</label>
      <input
         type="password"
         id="js_bucket_details_sasl_password"
         ng-model="bucketConf.saslPassword"
         ng-disabled="bucketConf.authType !== 'sasl'"
         mn-autocomplete-off>
      <div
         class="error"
         ng-show="validation.result.errors.saslPassword">
        {{validation.result.errors.saslPassword}}
      </div>
    </div>
    <br>
    <input
       type="radio"
       name="authType"
       ng-model="bucketConf.authType"
       value="none"
       id="js_bucket_details_auth_type"
       ng-disabled="bucketConf.isDefault || (bucketConf.name === 'default')">
    <label for="js_bucket_details_auth_type">Dedicated port (supports ASCII protocol and is auth-less)</label>

    <label for="js_bucket_details_proxy_port">Protocol Port:</label>
    <input
       type="text"
       autocorrect="off"
       spellcheck="false"
       autocapitalize="off"
       id="js_bucket_details_proxy_port"
       ng-model="bucketConf.proxyPort"
       ng-disabled="bucketConf.authType !== 'none'">
    <div
       class="error"
       ng-show="bucketConf.authType === 'none'">
      <span
         ng-show="validation.result.errors.proxyPort">
        {{validation.result.errors.proxyPort}}
      </span>
      <span>
        Dedicated ports for memcached ASCII protocol are deprecated. Please see documentation for alternatives.
      </span>
    </div>
  </div>

  <h3
     class="interim"
     ng-show="bucketConf.bucketType === 'membase'">Conflict Resolution</h3>
  <div
     class="formrow checkbox-list"
     ng-if="pools.isEnterprise && bucketConf.bucketType === 'membase' && (bucketConf.isWizard || poolDefault.compat.atLeast46)">
    <p>
      Select the conflict resolution method to use if XDCR replications will be set up for this bucket:
    </p>
    <input
       type="radio"
       id="for-enable-conflict-resolution-seqno"
       ng-model="bucketConf.conflictResolutionType"
       name="conflictResolutionType"
       value="seqno"
       ng-disabled="!bucketConf.isNew">
    <label
       for="for-enable-conflict-resolution-seqno">Sequence number</label>
    <input
       type="radio"
       id="for-enable-conflict-resolution-lww"
       ng-model="bucketConf.conflictResolutionType"
       name="conflictResolutionType"
       value="lww"
       ng-disabled="!bucketConf.isNew">
    <label
       for="for-enable-conflict-resolution-lww">Timestamp</label>

    <div
       class="error"
       ng-show="validation.result.errors.conflictResolutionType">
      {{validation.result.errors.conflictResolutionType}}
    </div>
    <div
       class="error"
       ng-show="bucketConf.conflictResolutionType === 'lww'">
      Warning: Timestamp-based conflict resolution requires NTP to be correctly set up on all the nodes in your replication topology to ensure high-quality time synchronization. See Setting up NTP in the Couchbase documentation.
    </div>
  </div>

  <h3
     class="interim"
     ng-show="bucketConf.bucketType === 'membase'">Replicas</h3>
  <div
     class="formrow checkbox-list input-append"
     ng-show="bucketConf.bucketType === 'membase'">
    <input
       type="checkbox"
       id="for-enable-replicas-init"
       ng-model="replicaNumberEnabled">
    <label for="for-enable-replicas-init">Enable</label>
    <span ng-if="replicaNumberEnabled">
      <select
         class="width-2"
         name="replicaNumber"
         ng-model="bucketConf.replicaNumber"
         ng-options="number for number in [1,2,3]">
      </select>
      <div class="desc">Number of replica (backup) copies</div>
      <div
         class="error"
         ng-show="validation.result.errors.replicaNumber">
        {{validation.result.errors.replicaNumber}}
      </div>
      <br>
      <input
         type="checkbox"
         id="label_replica_index_flag-init"
         ng-model="bucketConf.replicaIndex"
         ng-false-value="0"
         ng-true-value="1"
         ng-disabled="!(replicaNumberEnabled && bucketConf.isNew)">
      <label for="label_replica_index_flag-init">Replicate view indexes</label>
    </span>
  </div>

  <h3
     class="interim"
     ng-show="bucketConf.bucketType === 'membase'">Disk I/O Priority</h3>
  <div
     class="formrow checkbox-list"
     ng-show="bucketConf.bucketType === 'membase'">
    <input
       type="radio"
       name="threadsNumber"
       value="3"
       checked="true"
       id="low_threads_number_init"
       ng-model="bucketConf.threadsNumber">
    <label for="low_threads_number_init">Low (default)</label>
    <input
       type="radio"
       name="threadsNumber"
       value="8"
       id="hight_threads_number_init"
       ng-model="bucketConf.threadsNumber">
    <label for="hight_threads_number_init">High</label>
    <a
       href=""
       uib-tooltip="This is an advanced setting for Disk I/O optimization which allows tasks to be handled based on priority.">What&#39;s this?</a>
    <div
       class="error"
       ng-show="!!threadsNumberWarning">
      {{threadsNumberWarning}}
    </div>
  </div>

  <div ng-if="!bucketConf.isWizard">
    <div
       id="js_bucket_auto_compaction_settings"
       ng-show="bucketConf.bucketType === 'membase'">
      <h3 class="interim">Auto-Compaction</h3>
      <div class="formrow checkbox-list">
        <div class="desc">Auto-Compaction settings trigger the compaction process. The process compacts databases and their respective view indexes.</div>
        <label>
          <input
             type="checkbox"
             ng-model="bucketConf.autoCompactionDefined"
             value="true">
          Override the default auto-compaction settings?
        </label>
      </div>

      <div
         class="formrow checkbox-list"
         ng-show="bucketConf.autoCompactionDefined"
         mn-auto-compaction-form
         auto-compaction-settings="autoCompactionSettings"
         is-buckets-settings="true"
         validation-errors="validation.result.errors"></div>
    </div>
  </div>

  <h3 class="interim">Flush</h3>
  <div class="formrow checkbox-list">
    <input
       type="checkbox"
       id="for-enable-flush-init"
       ng-model="bucketConf.flushEnabled"
       ng-false-value="0"
       ng-true-value="1">
    <label for="for-enable-flush-init">Enable</label>
    <a
       href=""
       uib-tooltip="When flushed, items in the bucket are removed as soon as possible in both memcached and Couchbase buckets. Note this does not immediately show in item count statistics with memcached buckets.">What&#39;s this?</a>
  </div>
</div>
