<div>
  <div
     class="error form-error"
     ng-show="bucketConf.isWizard">
    The default bucket is for development purposes only. You may choose to skip creation of this bucket below.
  </div>

  <div class="formrow">
    <label>Name</label>
    <input
       type="text"
       ng-model="bucketConf.name"
       ng-disabled="bucketConf.isWizard || !bucketConf.isNew"
       mn-focus="!(bucketConf.isWizard || !bucketConf.isNew)"
       autocorrect="off"
       spellcheck="false"
       autocapitalize="off">
    <div
       class="error"
       ng-show="validation.result.errors.name">
      {{validation.result.errors.name}}
    </div>
    <p class="text-small">Grant users access to this bucket in Security/Users</p>
  </div>

  <div
     ng-if="!bucketConf.isWizard"
     class="formrow checkbox-list">
    <hr>
    <h4>Access Control</h4>
    <input
       id="for-access-sasl"
       type="radio"
       name="authType"
       value="sasl"
       ng-model="bucketConf.authType">
    <label class="inline" for="for-access-sasl">
      <span ng-if="bucketConf.isDefault || (bucketConf.name === 'default')">Standard port (TCP port 11211. ASCII protocol or Binary auth-less)</span>
      <span ng-if="!bucketConf.isDefault && (bucketConf.name !== 'default')">Standard port (TCP port 11211. Needs SASL auth.)</span>
    </label>
    <div class="margin-bottom-half" ng-if="!bucketConf.isDefault && (bucketConf.name !== 'default')">
      <label for="js_bucket_details_sasl_password">Enter password:</label>
      <input
         type="password"
         id="js_bucket_details_sasl_password"
         ng-model="bucketConf.saslPassword"
         ng-disabled="bucketConf.authType !== 'sasl'"
         mn-autocomplete-off>
      <div
         class="error"
         ng-show="validation.result.errors.saslPassword">
        {{validation.result.errors.saslPassword}}
      </div>
    </div>
  </div>

  <div class="formrow">
    <hr>
    <h4>Memory Quota</h4>
    <div class="form-inline">
      <input
         type="number"
         mn-focus="(bucketConf.isWizard || !bucketConf.isNew)"
         ng-class="{invalid: validation.result.errors.ramQuotaMB}"
         value="30"
         ng-model="bucketConf.ramQuotaMB">
      <abbr>MB</abbr>
    </div>
    <div
       class="bar-usages"
       ng-class="{overcommitted: !!validation.result.guageConfig.topLeft}"
       mn-bar-usage
       base-info="validation.result.guageConfig">
    </div>
    <div
       class="error form-error"
       ng-show="validation.result.errors.ramQuotaMB">
      {{validation.result.errors.ramQuotaMB}}
    </div>
  </div>

  <a
     class="disclosure link-heavy"
     ng-class="{disclosed: showAdvancedSettings}"
     ng-click="showAdvancedSettings = !showAdvancedSettings">
    {{showAdvancedSettings ? 'Hide' : 'Show'}} advanced bucket settings
  </a>
  <div ng-show="showAdvancedSettings" class="indent-1">
    <div class="formrow checkbox-list margin-top1">
      <h4>Bucket Type</h4>
      <input
         type="radio"
         value="membase"
         id="for-bucket-type-membase"
         ng-model="bucketConf.bucketType"
         ng-disabled="!bucketConf.isNew">
      <label for="for-bucket-type-membase">Couchbase</label>
      <input
         type="radio"
         value="memcached"
         id="for-bucket-type-memcached"
         ng-model="bucketConf.bucketType"
         ng-disabled="!bucketConf.isNew">
      <label for="for-bucket-type-memcached">Memcached</label>
      <input
         type="radio"
         value="ephemeral"
         id="for-bucket-type-ephemeral"
         ng-model="bucketConf.bucketType"
         ng-disabled="!bucketConf.isNew">
      <label for="for-bucket-type-ephemeral">Ephemeral</label>
    </div>

    <div
       class="formrow checkbox-list"
       ng-show="bucketConf.bucketType === 'membase' || bucketConf.bucketType === 'ephemeral'">
      <hr>
      <h4>
        <label class="inline">Ejection Method</label>
        <span
           ng-show="bucketConf.bucketType !== 'ephemeral'"
           class="fa-stack icon-info"
           uib-tooltip="VALUE EJECTION: During ejection, only the value will be ejected (key and metadata will remain in memory).
                        &nbsp;FULL EJECTION: During ejection, everything (including key, metadata and value) will be ejected.
                        Value Ejection needs more system memory, but provides the best performance. Full Ejection reduces memory overhead requirement."
           tooltip-placement="top">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </h4>

      <input
         type="radio"
         name="evictionPolicy"
         value="valueOnly"
         id="for-metadata-value-eject"
         checked="checked"
         ng-model="bucketConf.evictionPolicy">
      <label for="for-metadata-value-eject">
        {{bucketConf.bucketType === 'ephemeral' ? 'No eviction' : 'Value-only'}}
      </label>
      <input
         type="radio"
         name="evictionPolicy"
         value="fullEviction"
         id="for-metadata-full-eject"
         ng-model="bucketConf.evictionPolicy">
      <label for="for-metadata-full-eject">
        {{bucketConf.bucketType === 'ephemeral' ? 'NRU eviction' : 'Full'}}
      </label>
      <div
         class="error"
         ng-show="!!evictionPolicyWarning">
        {{evictionPolicyWarning}}
      </div>
    </div>

    <div ng-if="pools.isEnterprise && (bucketConf.bucketType === 'membase' || bucketConf.bucketType === 'ephemeral') && (bucketConf.isWizard || poolDefault.compat.atLeast46)">
      <hr>
      <h4>Conflict Resolution</h4>
      <div class="formrow checkbox-list">
        <p>
          Select the conflict resolution method to use if XDCR replications will be set up for this bucket:
        </p>
        <input
           type="radio"
           id="for-conflict-resolution-seqno"
           ng-model="bucketConf.conflictResolutionType"
           name="conflictResolutionType"
           value="seqno"
           ng-disabled="!bucketConf.isNew">
        <label for="for-conflict-resolution-seqno">
          Sequence number
        </label>
        <input
           type="radio"
           id="for-conflict-resolution-lww"
           ng-model="bucketConf.conflictResolutionType"
           name="conflictResolutionType"
           value="lww"
           ng-disabled="!bucketConf.isNew">
        <label for="for-conflict-resolution-lww">
          Timestamp
        </label>

        <div
           class="error"
           ng-show="validation.result.errors.conflictResolutionType">
          {{validation.result.errors.conflictResolutionType}}
        </div>
        <div
           class="error"
           ng-show="bucketConf.conflictResolutionType === 'lww'">
          Warning: Timestamp-based conflict resolution requires NTP to be correctly set up on all the nodes in your replication topology to ensure high-quality time synchronization. See  <a href="http://developer.couchbase.com/documentation/server/current/install/synchronize-clocks-using-ntp.html">Setting up NTP</a> in the Couchbase documentation.
        </div>
      </div>
    </div>

    <div
       class="formrow checkbox-list input-append"
       ng-show="bucketConf.bucketType === 'membase' || bucketConf.bucketType === 'ephemeral'">
      <hr>
      <h4>Replicas</h4>
      <input
         type="checkbox"
         id="for-enable-replicas"
         ng-model="replicaNumberEnabled">
      <label for="for-enable-replicas">
        Enable
      </label>
      <div class="inline" ng-show="bucketConf.bucketType === 'membase'">
        <input
           type="checkbox"
           id="for-enable-view-replicas"
           ng-model="bucketConf.replicaIndex"
           ng-false-value="0"
           ng-true-value="1"
           ng-disabled="!(replicaNumberEnabled && bucketConf.isNew)">
        <label for="for-enable-view-replicas">
          Replicate view indexes
        </label>
      </div>
      <div ng-if="replicaNumberEnabled">
        <select
           class="width-2"
           name="replicaNumber"
           ng-model="bucketConf.replicaNumber"
           ng-options="number for number in [1,2,3]">
        </select>
        <div class="desc">Number of replica (backup) copies</div>
        <div
           class="error"
           ng-show="validation.result.errors.replicaNumber">
          {{validation.result.errors.replicaNumber}}
        </div>
      </div>
    </div>

    <div
       ng-if="!bucketConf.isWizard"
       class="formrow checkbox-list">
      <hr>
      <h4>Access Control</h4>
      <div class="formrow checkbox-list">
        <input
           type="radio"
           name="authType"
           ng-model="bucketConf.authType"
           value="none"
           id="for-access-port"
           ng-disabled="bucketConf.isDefault || (bucketConf.name === 'default')">
        <label for="for-access-port">
          Dedicated port (supports ASCII protocol and is auth-less)
        </label>
        <label for="js_bucket_details_proxy_port">Protocol Port:</label>
        <input
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           id="js_bucket_details_proxy_port"
           ng-model="bucketConf.proxyPort"
           ng-disabled="bucketConf.authType !== 'none'">
        <div
           class="error"
           ng-show="bucketConf.authType === 'none'">
          <span
             ng-show="validation.result.errors.proxyPort">
            {{validation.result.errors.proxyPort}}
          </span>
          <span>
            Dedicated ports for memcached ASCII protocol are deprecated. Please see documentation for alternatives.
          </span>
        </div>
      </div>
    </div>

    <div
       class="formrow checkbox-list"
       ng-show="bucketConf.bucketType === 'membase' || bucketConf.bucketType === 'ephemeral'">
      <hr>
      <h4>
        <label class="inline">
          {{bucketConf.bucketType === 'ephemeral' ? 'Bucket Priority' : 'Bucket Disk I/O Priority'}}
        </label>
        <span
           ng-show="bucketConf.bucketType !== 'ephemeral'"
           class="fa-stack icon-info"
           uib-tooltip="This is an advanced setting for Disk I/O optimization which allows tasks to be handled based on priority."
           tooltip-placement="right">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </h4>
      <input
         type="radio"
         name="threadsNumber"
         value="3"
         checked="true"
         id="for-low-threads"
         ng-model="bucketConf.threadsNumber">
      <label for="for-low-threads">
        Low (default)
      </label>
      <input
         type="radio"
         name="threadsNumber"
         value="8"
         id="for-high-threads"
         ng-model="bucketConf.threadsNumber">
      <label for="for-high-threads">
        High
      </label>
      <div
         class="error"
         ng-show="!!threadsNumberWarning">
        {{threadsNumberWarning}}
      </div>
    </div>

    <div
       ng-if="!bucketConf.isWizard"
       id="js_bucket_auto_compaction_settings"
       ng-show="bucketConf.bucketType === 'membase' || bucketConf.bucketType === 'ephemeral'">
      <hr>
      <h4>Auto-Compaction</h4>
      <div class="formrow checkbox-list">
        <div class="desc">Auto-Compaction settings trigger the compaction process. The process compacts databases and their respective view indexes.</div>
        <input
           type="checkbox"
           id="for-auto-compaction-override"
           ng-model="bucketConf.autoCompactionDefined"
           value="true">
        <label for="for-auto-compaction-override">
          Override the default auto-compaction settings?
        </label>
      </div>

      <div
         class="formrow checkbox-list"
         ng-show="bucketConf.autoCompactionDefined"
         mn-auto-compaction-form
         auto-compaction-settings="autoCompactionSettings"
         is-buckets-settings="true"
         validation-errors="validation.result.errors"></div>
    </div>

    <div class="formrow checkbox-list">
      <hr>
      <h4>
        <label class="inline">Flush</label>
        <span
           class="fa-stack icon-info"
           uib-tooltip="When flushed, items in the bucket are removed as soon as possible in both memcached and Couchbase buckets. NOTE: This does not immediately show in item count statistics with memcached buckets."
           tooltip-placement="right">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </h4>

      <input
         type="checkbox"
         id="for-enable-flush"
         ng-model="bucketConf.flushEnabled"
         ng-false-value="0"
         ng-true-value="1">
      <label for="for-enable-flush">
        Enable
      </label>
    </div>
  </div>
</div>
