<div class="forms">
  <div class="formrow">
    <label>Name</label>
    <input
       type="text"
       ng-model="bucketConf.name"
       ng-disabled="bucketConf.isWizard || !bucketConf.isNew"
       mn-focus="!(bucketConf.isWizard || !bucketConf.isNew)"
       autocorrect="off"
       spellcheck="false"
       autocapitalize="off">
    <div
       class="error"
       ng-show="validation.result.errors.name">
      {{validation.result.errors.name}}
    </div>
  </div>

  <div class="formrow">
    <label>Memory Quota <small>in megabytes per server node</small></label>
    <div class="form-inline margin-bottom1">
      <input
         type="number"
         mn-focus="(bucketConf.isWizard || !bucketConf.isNew)"
         ng-class="{invalid: validation.result.errors.ramQuotaMB}"
         value="30"
         ng-model="bucketConf.ramQuotaMB">
      <abbr>MB</abbr>
    </div>
    <div
       class="bar-usages bucket-add"
       ng-class="{overcommitted: !!validation.result.guageConfig.topLeft}"
       mn-bar-usage
       base-info="validation.result.guageConfig">
    </div>
    <div
       class="error"
       ng-show="validation.result.errors.ramQuotaMB">
      {{validation.result.errors.ramQuotaMB}}
    </div>
  </div>

  <div class="formrow checkbox-list">
    <h4>Bucket Type</h4>
    <input
       type="radio"
       value="membase"
       id="for-bucket-type-membase"
       ng-model="bucketConf.bucketType"
       ng-disabled="!bucketConf.isNew">
    <label for="for-bucket-type-membase">Couchbase</label>
    <input
       type="radio"
       value="memcached"
       id="for-bucket-type-memcached"
       ng-model="bucketConf.bucketType"
       ng-disabled="!bucketConf.isNew">
    <label for="for-bucket-type-memcached">Memcached</label>
    <input
       type="radio"
       value="ephemeral"
       id="for-bucket-type-ephemeral"
       ng-model="bucketConf.bucketType"
       ng-disabled="!bucketConf.isNew">
    <label for="for-bucket-type-ephemeral">Ephemeral</label>
  </div>

  <div class="formrow">
    <span
       class="disclosure"
       ng-class="{disclosed: showAdvancedSettings}"
       ng-click="showAdvancedSettings = !showAdvancedSettings">
      Advanced bucket settings
    </span>
  </div>

  <div ng-show="showAdvancedSettings">
    <div
       class="formrow checkbox-list"
       ng-show="bucketConf.bucketType === 'membase' || bucketConf.bucketType === 'ephemeral'">
      <h4>Replicas</h4>
      <div class="row flex-left margin-bottom-half">
        <span class="column">
          <input
             type="checkbox"
             id="for-enable-replicas"
             ng-model="replicaNumberEnabled">
          <label for="for-enable-replicas">Enable</label>
        </span>
        <div ng-if="replicaNumberEnabled" class="row flex-left width-8">
          <select
             class="width-3 margin-right-half"
             name="replicaNumber"
             ng-model="bucketConf.replicaNumber"
             ng-options="number for number in [1,2,3]">
          </select>
          <small>Number of replica (backup) copies</small>
        </div>
      </div>
      <div
         class="error"
         ng-show="validation.result.errors.replicaNumber">
        {{validation.result.errors.replicaNumber}}
      </div>
      <div class="formrow" ng-show="bucketConf.bucketType === 'membase'">
        <input
           type="checkbox"
           id="for-enable-view-replicas"
           ng-model="bucketConf.replicaIndex"
           ng-false-value="0"
           ng-true-value="1"
           ng-disabled="!(replicaNumberEnabled && bucketConf.isNew)">
        <label for="for-enable-view-replicas">Replicate view indexes</label>
      </div>
    </div>

    <div ng-if="pools.isEnterprise && (bucketConf.bucketType === 'membase' || bucketConf.bucketType === 'ephemeral') && (bucketConf.isWizard || poolDefault.compat.atLeast46)">
      <h4 class="inline">Conflict Resolution</h4>
      <span
         class="fa-stack icon-info"
         uib-tooltip="Choose the timestamp conflict resolution method if XDCR replications will be set up for this bucket. Attention: timestamp conflict resolution requires additional NTP setup."
         tooltip-placement="right">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <div class="formrow checkbox-list">
        <input
           type="radio"
           id="for-conflict-resolution-seqno"
           ng-model="bucketConf.conflictResolutionType"
           name="conflictResolutionType"
           value="seqno"
           ng-disabled="!bucketConf.isNew">
        <label for="for-conflict-resolution-seqno">Sequence number</label>
        <input
           type="radio"
           id="for-conflict-resolution-lww"
           ng-model="bucketConf.conflictResolutionType"
           name="conflictResolutionType"
           value="lww"
           ng-disabled="!bucketConf.isNew">
        <label for="for-conflict-resolution-lww">Timestamp</label>
        <div
           class="error"
           ng-show="validation.result.errors.conflictResolutionType">
          {{validation.result.errors.conflictResolutionType}}
        </div>
        <div
           class="error"
           ng-show="bucketConf.conflictResolutionType === 'lww'">
          Warning: Timestamp-based conflict resolution requires NTP to be correctly set up
          on all the nodes in your replication topology to ensure high-quality time synchronization.
          See  <a href="http://developer.couchbase.com/documentation/server/current/install/synchronize-clocks-using-ntp.html"
          target="_blank">Setting Up NTP</a> in the Couchbase documentation.
        </div>
      </div>
    </div>

    <div
       class="formrow checkbox-list"
       ng-if="bucketConf.bucketType === 'membase'">
      <h4>
        <label class="inline">Ejection Method</label>
        <span
           class="fa-stack icon-info"
           uib-tooltip="VALUE EJECTION: During ejection, only the value will be ejected (key and metadata will remain in memory).
                        &nbsp;FULL EJECTION: During ejection, everything (including key, metadata, and value) will be ejected.
                        Value Ejection needs more system memory, but provides the best performance. Full Ejection reduces the memory overhead requirement."
           tooltip-placement="top">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </h4>

      <input
         type="radio"
         name="evictionPolicy"
         value="valueOnly"
         id="for-metadata-value-eject"
         checked="checked"
         ng-model="bucketConf.evictionPolicy">
      <label for="for-metadata-value-eject">
        Value-only
      </label>
      <input
         type="radio"
         name="evictionPolicy"
         value="fullEviction"
         id="for-metadata-full-eject"
         ng-model="bucketConf.evictionPolicy">
      <label for="for-metadata-full-eject">
        Full
      </label>
      <div
         class="error"
         ng-show="!!evictionPolicyWarning">
        {{evictionPolicyWarning}}
      </div>
    </div>

    <div
       class="formrow checkbox-list"
       ng-if="bucketConf.bucketType === 'ephemeral'">
      <h4>
        <label class="inline">Ejection Method</label>
        <span
           class="fa-stack icon-info"
           uib-tooltip="NO EJECTION is the default value for ephemeral buckets. It is safe but not efficient.
                        NRU EJECTION is more efficient but only use this if you are aware of the risks and benefits."
           tooltip-placement="top">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </h4>

      <input
         type="radio"
         name="evictionPolicyEphemeral"
         value="noEviction"
         id="for-metadata-value-eject"
         checked="checked"
         ng-disabled="!bucketConf.isNew"
         ng-model="bucketConf.evictionPolicyEphemeral">
      <label for="for-metadata-value-eject">
        No ejection
      </label>
      <input
         type="radio"
         name="evictionPolicyEphemeral"
         value="nruEviction"
         id="for-metadata-full-eject"
         ng-disabled="!bucketConf.isNew"
         ng-model="bucketConf.evictionPolicyEphemeral">
      <label for="for-metadata-full-eject">
        NRU ejection
      </label>
      <div
         class="error"
         ng-show="validation.result.errors.evictionPolicy">
        {{validation.result.errors.evictionPolicy}}
      </div>
    </div>

    <div class="formrow" ng-show="bucketConf.bucketType === 'ephemeral'">
      <h4>
        <label class="inline">Metadata Purge Interval</label>
        <span
           class="fa-stack icon-info"
           uib-tooltip="Set how frequently a node will purge metadata on deleted items. The available range is 0.04 - 60 where 0.04 = 1h, 0.5 = 12h. If set too high, it may significantly delay the node from reclaiming disk space. If set too low, it may cause data inconsistencies in XDCR or Views."
           tooltip-placement="top">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </h4>
      <span class="form-inline">
        <input
           type="text"
           ng-disabled="(rbac && !rbac.cluster.settings.write)"
           ng-model="bucketConf.purgeInterval"
           ng-class="{invalid: bucketConf.purgeInterval}"
           id="metadata-purge-frequency">
        <small>Range 0.04 (1 H) - 60days</small>
      </span>
      <div
         class="error"
         ng-show="validation.result.errors.purgeInterval">
        {{validation.result.errors.purgeInterval}}
      </div>
    </div>

    <div ng-show="bucketConf.bucketType === 'membase' || bucketConf.bucketType === 'ephemeral'">
      <h4 class="inline">Bucket Priority</h4>
      <span
         class="fa-stack icon-info"
         uib-tooltip='This allows tasks to be handled based on priority. It only has a relative effect, i.e. your nodes cannot be all "high".'
         tooltip-placement="right">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <div class="formrow checkbox-list">
        <input
           type="radio"
           name="threadsNumber"
           value="3"
           checked="true"
           id="for-low-threads"
           ng-model="bucketConf.threadsNumber">
        <label for="for-low-threads">Default</label>
        <input
           type="radio"
           name="threadsNumber"
           value="8"
           id="for-high-threads"
           ng-model="bucketConf.threadsNumber">
        <label for="for-high-threads">High</label>
      </div>
      <div
         class="error"
         ng-show="!!threadsNumberWarning">
        {{threadsNumberWarning}}
      </div>
    </div>

    <div
       ng-if="!bucketConf.isWizard"
       id="js_bucket_auto_compaction_settings"
       ng-show="bucketConf.bucketType === 'membase'">
      <h4 class="inline">Auto-Compaction</h4>
      <span
         class="fa-stack icon-info"
         uib-tooltip="Auto-Compaction settings trigger the compaction process. The process compacts databases and their respective view indexes."
         tooltip-placement="right">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <div class="formrow checkbox-list">
        <input
           type="checkbox"
           id="for-auto-compaction-override"
           ng-model="bucketConf.autoCompactionDefined"
           value="true">
        <label for="for-auto-compaction-override">Override the default auto-compaction settings?</label>
      </div>

      <div
         class="formrow checkbox-list"
         ng-show="bucketConf.autoCompactionDefined"
         mn-auto-compaction-form
         auto-compaction-settings="autoCompactionSettings"
         is-buckets-settings="true"
         validation-errors="validation.result.errors"></div>
    </div>

    <label class="inline">Flush</label>
    <span
       class="fa-stack icon-info"
       uib-tooltip="When flushed, items in the bucket are removed as soon as possible in both memcached and Couchbase buckets. NOTE: This does not immediately show in item count statistics with memcached buckets."
       tooltip-placement="right">
      <span class="icon fa-circle-thin fa-stack-2x"></span>
      <span class="icon fa-info fa-stack-1x"></span>
    </span>
    <div class="formrow checkbox-list">
      <input
         type="checkbox"
         id="for-enable-flush"
         ng-model="bucketConf.flushEnabled"
         ng-false-value="0"
         ng-true-value="1">
      <label for="for-enable-flush">Enable</label>
    </div>
  </div>
</div>
