<div
   mn-spinner="settingsAutoFailoverCtl.viewLoading || !settingsAutoFailoverCtl.state"
   class="interim main-content">
  <form class="forms" ng-submit="settingsAutoFailoverCtl.submit()">
    <div class="formrow">
      <label class="checkbox">
        <input
           type="checkbox"
           ng-disabled="!rbac.cluster.settings.write"
           ng-model="settingsAutoFailoverCtl.state.enabled">
        Enable auto-failover
      </label>
    </div>
    <div class="formrow width-300">
      <label for="auto_failover_timeout">
        Timeout <small>in seconds</small>
      </label>
      <input
         type="text"
         id="auto_failover_timeout"
         ng-model="settingsAutoFailoverCtl.state.timeout"
         ng-disabled="settingsAutoFailoverCtl.isAutoFailOverDisabled() || !rbac.cluster.settings.write">
      <div class="error error-field" ng-show="settingsAutoFailoverCtl.errors.timeout">
        {{settingsAutoFailoverCtl.errors.timeout}}
      </div>
      <a class="text_11 tooltip casper_settings_auto_failover_timeout_tooltip"><span>What's this?</span>
        <span class="tooltip_msg"><span>
            How long (in seconds) a node must be considered down before it gets auto-failed-over.
        </span></span>
      </a>
    </div>

    <div
       class="error error-form"
       ng-show="settingsAutoFailoverCtl.state.count > 0">
      A server was automatically failed over. Auto-failover is disabled until you reset it.
      <button
         ng-click="adminCtl.resetAutoFailOverCount()"
         ng-show="rbac.cluster.settings.write"
         mn-spinner="adminCtl.resetQuotaLoading">
        Reset Auto-Failover
      </button>

    </div>

    <button
       ng-show="rbac.cluster.settings.write"
       ng-disabled="settingsAutoFailoverCtl.errors"
       type="submit">Save</button>
  </form>
</div>
