<div mn-spinner="settingsAutoFailoverCtl.viewLoading || !settingsAutoFailoverCtl.state || adminCtl.resetQuotaLoading">
  <div
     class="forms"
     ng-show="settingsAutoFailoverCtl.state.count > 0">
    <div class="formrow">
      <div
         class="error error-form">
        A server was automatically failed over. Auto-failover is disabled until you reset it.
        <button
           ng-click="adminCtl.resetAutoFailOverCount()"
           ng-show="rbac.cluster.settings.write"
           class="middle">
          Reset Auto-Failover
        </button>
      </div>
    </div>
  </div>

  <form class="forms" ng-submit="settingsAutoFailoverCtl.submit()">
    <div class="formrow">
      <label class="checkbox">
        <input
           type="checkbox"
           ng-disabled="!rbac.cluster.settings.write"
           ng-model="settingsAutoFailoverCtl.state.enabled">
        Enable auto-failover
      </label>
    </div>
    <div class="formrow width-300">
      <label for="auto_failover_timeout">
        Timeout <small>in seconds</small>
      </label>
      <input
         type="number"
         autocorrect="off"
         spellcheck="false"
         autocapitalize="off"
         id="auto_failover_timeout"
         ng-model="settingsAutoFailoverCtl.state.timeout"
         ng-disabled="settingsAutoFailoverCtl.isAutoFailOverDisabled() || !rbac.cluster.settings.write">
      <div class="error error-field" ng-show="settingsAutoFailoverCtl.errors.timeout">
        {{settingsAutoFailoverCtl.errors.timeout}}
      </div>
      <a
         href=""
         uib-tooltip="How long (in seconds) a node must be considered down before it gets auto-failed-over.">What&#39;s this?</a>
    </div>

    <button
       ng-show="rbac.cluster.settings.write"
       ng-disabled="settingsAutoFailoverCtl.errors"
       type="submit">Save</button>
  </form>
</div>
