/* Responsive Styles --------------------- 

@media (min-width: 1550px) {
  nav.nav-header {
  padding: 0 3rem 0 0;
  }

  header {
  padding:0 3rem;
  }

  main {
  padding: 1.5rem 3rem;
  }

}

@media (min-width: 1750px) {
  nav.nav-header {
  padding: 0 4.5rem 0 0;
  }

  header {
  padding:0 4.5rem;
  }

  main {
  padding: 2rem 4.5rem;
  }

}

@media (min-width: 1950px) {
  nav.nav-header {
  padding: 0 6rem 0 0;
  }

  header {
  padding:0 6rem;
  }

  main {
  padding: 2rem 6rem;
  }

}

@media (min-width: 2150px) {
  nav.nav-header {
  padding: 0 9rem 0 0;
  }

  header {
  padding:0 9rem;
  }

  main {
  padding: 2rem 9rem;
  }

}

@media (max-width: 930px) {
  .hide-for-small {
  display: none;
  }

  .header-controls {
  position:absolute;
  left: 1.5rem;
  bottom: -50px;
  z-index: 1001;
  }

  .header-controls a:link {
  color: #4287d6;
  padding: 1rem 1rem 1rem 0;
  border: none;
  }

  .header-controls a:visited {
  color: #4287d6;
  }

  .header-controls a:hover {
  border: none;
  }

  .header-controls a:active {
  color: #d8dde4;
  }

  .menu-icon {
  display:block;
  -webkit-flex:0 1 auto;
      -ms-flex:0 1 auto;
          flex:0 1 auto;
  color: #fff;
  font-size:1.5rem;
  padding: 0;
  top:0;
  cursor:pointer;
  }

  nav.nav-sidebar {
  position:absolute;
  width:100%;
  -webkit-columns: 3 120px;
     -moz-columns: 3 120px;
          columns: 3 120px;
  -webkit-column-gap: 8%;
     -moz-column-gap: 8%;
          column-gap: 8%;
  -webkit-column-rule:1px #d1d1d1 dotted;
     -moz-column-rule:1px #d1d1d1 dotted;
          column-rule:1px #d1d1d1 dotted;
  padding: 3rem 0 1.5rem 1.5rem;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 2px 0 0 rgba(0,0,0, .30);
  border: none;
  top: 98px;
  left: 0;
  text-align:left;
  z-index:101;
  }

  nav.nav-sidebar h5 {
  display: inline-block; width: 100%;
  }

  nav.nav-sidebar a {
  padding: .125rem .125rem .125rem 0;
  text-align:left;
  }

  .cbui-tablerow-controls {
  white-space:normal;
  }

  .cbui-tablerow-controls a {
  padding: .25rem;
  }

}
@media (max-width: 550px) {
  .panel.dialog-med {
  width:94%;
  }
  .text-block {
    white-space:normal;
     word-wrap: break-word;
  }
}
@media (max-width: 480px) {
  html,
  body {
  font-size: 15px;
  }

  nav.nav-header {
  padding: 0 .5rem 0 0;
  }

  header {
  padding:0 .5rem;
  }

  .header-controls {
  left: 1rem;
  }

  nav.nav-sidebar {
  padding: 3rem 0 1.5rem 1rem;
  }

  main {
  padding: 1rem .5rem;
  }

  button {
  margin: 0 0 .25rem 0;
  }

}

@media (max-width: 930px) {
  .forms input.width-1,
  .forms textarea.width-1,
  .forms select.width-1,
  .forms input.width-2,
  .forms textarea.width-2,
  .forms select.width-2,
  .forms input.width-3,
  .forms textarea.width-3,
  .forms select.width-3,
  .forms input.width-4,
  .forms textarea.width-4,
  .forms select.width-4,
  .forms input.width-5,
  .forms textarea.width-5,
  .forms select.width-5,
  .forms input.width-6,
  .forms textarea.width-6,
  .forms select.width-6,
  .forms input.width-7,
  .forms textarea.width-7,
  .forms select.width-7,
  .forms input.width-8,
  .forms textarea.width-8,
  .forms select.width-8,
  .forms input.width-9,
  .forms textarea.width-9,
  .forms select.width-9,
  .forms input.width-10,
  .forms textarea.width-10,
  .forms select.width-10,
  .forms input.width-11,
  .forms textarea.width-11,
  .forms select.width-11,
  .forms input.width-12,
  .forms textarea.width-12,
  .forms select.width-12 {
  width: 100%;
  }

}

@-ms-viewport{
  width: device-width;
}

@media (max-width: 768px) {
  table.table-responsive {
  border: 0;
  }

  table.table-responsive thead {
  display: none;
  }

  table.table-responsive tr {
  display: block;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

  table.table-responsive td,
  table.table-responsive td:last-child,
  table.table-responsive td:first-child {
  display: block;
  text-align: right;
  padding: 10px;
  }

  table.table-responsive.table-flat td {
  padding: 0;
  }

  table.table-responsive.table-bordered td:last-child,
  table.table-responsive td:last-child {
  border-bottom: 0;
  }
  table.table-responsive td:before {
  content: attr(data-label);
  float: left;
  text-transform: uppercase;
  font-size: 86%;
  font-weight: bold;
  line-height: 2;
  }

}
*/
