<div class="filters_container" ng-class="{open: mnFilterController.showPopup, dynamic_disabled: mnFilterController.disabled}" ng-click="!mnFilterController.disabled && mnFilterController.stopEvent($event)">
  <div class="filters_btn" ng-click="mnFilterController.togglePopup($event)"></div>
  <div class="filters_popup" ng-show="mnFilterController.showPopup">
  <form>
    <div class="key">
        <div ng-show="mnFilterController.items.conflict">
          <label for="filter_conflicts">conflicts</label>
          <input id="filter_conflicts" name="conflicts" ng-model="mnFilterController.params.conflicts" type="checkbox">
        </div>
        <div ng-show="mnFilterController.items.bbox">
          <label for="filter_bbox">bbox</label>
          <input id="filter_bbox" name="bbox" ng-model="mnFilterController.params.bbox" type="text">
        </div>
        <div ng-show="mnFilterController.items.startRange">
          <label for="filter_start_range">start_range</label>
          <input id="filter_start_range" name="start_range" ng-model="mnFilterController.params.start_range" type="text">
        </div>
        <div ng-show="mnFilterController.items.endRange">
          <label for="filter_end_range">end_range</label>
          <input id="filter_end_range" name="end_range" ng-model="mnFilterController.params.end_range" type="text">
        </div>
        <div ng-show="mnFilterController.items.descending">
          <label for="filter_descending">descending</label>
          <input id="filter_descending" name="descending" ng-model="mnFilterController.params.descending" type="checkbox">
        </div>
        <div ng-show="mnFilterController.items.startkey">
          <label for="filter_startkey">startkey</label>
          <input id="filter_startkey" name="startkey" ng-model="mnFilterController.params.startkey" type="text">
        </div>
        <div ng-show="mnFilterController.items.endkey">
          <label for="filter_endkey">endkey</label>
          <input id="filter_endkey" name="endkey" ng-model="mnFilterController.params.endkey" type="text">
        </div>
        <div ng-show="mnFilterController.items.startkeyDocid">
          <label for="filter_startkey_docid">startkey_docid</label>
          <input id="filter_startkey_docid" name="startkey_docid" ng-model="mnFilterController.params.startkey_docid" type="text">
        </div>
        <div ng-show="mnFilterController.items.endkeyDocid">
          <label for="filter_endkey_docid">endkey_docid</label>
          <input id="filter_endkey_docid" name="endkey_docid" ng-model="mnFilterController.params.endkey_docid" type="text">
        </div>
        <div ng-show="mnFilterController.items.group">
          <label for="filter_group">group</label>
          <input id="filter_group" name="group" ng-model="mnFilterController.params.group" type="checkbox">
        </div>
        <div ng-show="mnFilterController.items.groupLevel">
          <label for="filter_group_level">group_level</label>
          <input id="filter_group_level" name="group_level" ng-model="mnFilterController.params.group_level" type="text">
        </div>
        <div ng-show="mnFilterController.items.inclusiveEnd">
          <label for="filter_inclusive_end">inclusive_end</label>
          <input id="filter_inclusive_end" name="inclusive_end" ng-model="mnFilterController.params.inclusive_end" type="checkbox" ng-false-value="false" ng-true-value="true">
        </div>
        <div ng-show="mnFilterController.items.key">
          <label for="filter_key">key</label>
          <input id="filter_key" name="key" ng-model="mnFilterController.params.key" type="text">
        </div>
        <div ng-show="mnFilterController.items.keys">
          <label for="filter_keys">keys</label>
          <input id="filter_keys" name="keys" ng-model="mnFilterController.params.keys" type="text">
        </div>
        <div ng-show="mnFilterController.items.reduce">
          <label for="filter_reduce">reduce</label>
          <div style="display: inline-block">
            <select id="filter_reduce" name="reduce" ng-model="mnFilterController.params.reduce" class="selectBox" multiple="multiple">
              <option value="true">true</option>
              <option value="false">false</option>
              <option value="none" selected="selected">none</option>
            </select>
          </div>
        </div>
        <div ng-show="mnFilterController.items.stale">
          <label for="filter_stale">stale</label>
            <div style="display: inline-block">
              <select id="filter_stale" name="stale" ng-model="mnFilterController.params.stale" class="selectBox" multiple="multiple">
                <option value="false" selected="selected">false</option>
                <option value="update_after">update_after</option>
                <option value="ok">ok</option>
              </select>
            </div>
          </div>
        <div ng-show="mnFilterController.items.connectionTimeout">
          <label for="filter_connection_timeout">connection_timeout</label>
          <input id="filter_connection_timeout" name="connection_timeout" ng-model="mnFilterController.params.connection_timeout" type="text" placeholder="milliseconds">
        </div>
      </div>
      <div class="btn_wrap">
        <button type="submit" class="list_button" ng-click="mnFilterController.togglePopup()"><span>Close</span></button>
        <button type="reset" class="list_button" ng-click="mnFilterController.reset()"><span>Reset</span></button>
      </div>
  </div>
  <form>
</div>
<a href="#" target="_blank" class="filters_url"></a>