<mn-element-cargo depot="alerts">
  <div
     class="interim alert alert-warning"
     ng-if="!viewsCtl.mnPoolDefault.value.isKvNode">
    <p>The views interface is only available on nodes running the Data service. You may access the interface here: <a ng-href="{{viewsCtl.kvNodeLink}}">{{viewsCtl.kvNodeLink}}</a></p>
  </div>
</mn-element-cargo>

<div
   ng-if="viewsCtl.mnPoolDefault.value.isKvNode"
   mn-spinner="viewsCtl.ddocsLoading || !viewsCtl.state"
   min-height="300px">
  <ui-select
     ng-model="viewsCtl.state.bucketsNames.selected"
     on-select="viewsCtl.onSelectBucket($item)"
     theme="selectize"
     class="width-2">
    <ui-select-match>{{$select.selected}}</ui-select-match>
    <ui-select-choices repeat="name in viewsCtl.state.bucketsNames | filter: $select.search">
      <span class="select-item ellipsis" ng-bind-html="name | highlight: $select.search" ></span>
    </ui-select-choices>
  </ui-select>
  <ui-view></ui-view>
</div>
