<mn-element-cargo depot="alerts">
  <div
     class="interim alert alert-warning"
     ng-if="!viewsCtl.mnPoolDefault.value.isKvNode">
    <p>The views interface is only available on nodes running the Data service. You may access the interface here: <a ng-href="{{viewsCtl.kvNodeLink}}">{{viewsCtl.kvNodeLink}}</a></p>
  </div>
</mn-element-cargo>

<div
   ng-if="viewsCtl.mnPoolDefault.value.isKvNode"
   mn-spinner="viewsCtl.ddocsLoading || (permissions.cluster.bucket[viewsCtl.state.bucketsNames.selected].views.read && !viewsCtl.state)"
   min-height="300px">

  <ui-view></ui-view>
</div>
