% Application property overrides
%% rotating log and errors
[{sasl, [
         %% minimize shell error logging
         {sasl_error_logger, false},
         %% only report errors
         {errlog_type, error},
         %% define the parameters of the rotating log
         %% the log file directory
         {error_logger_mf_dir,"logs" },
         %% # bytes per logfile
         {error_logger_mf_maxbytes,10485760}, % 10 MB
         %% maximum number of files
         {error_logger_mf_maxfiles, 10}
         ]}].
