<div class="dialog" id="js_roadmin_reset_dialog">
  <h1>Reset Password</h1>
  <form
    id="js_reset_roadmin_form"
    class="reset_roadmin_form"
    ng-submit="accountManagementResetCtl.onSubmit()">
    <div class="inner_wrap">
      <i
        class="errors js_error_password"
        ng-show="accountManagementResetCtl.errors.password">
        {{accountManagementResetCtl.errors.password}}
      </i>
      <label for="new_roa_pass" style="width:auto">New Password:</label>
      <input
        type="password"
        name="password"
        mn-autocomplete-off
        ng-model="mnAccountManagementResetController.password"
        id="new_roa_pass">
    </div>
    <div class="save_cancel clearfix">
      <button type="submit" class="save_button float_right">Create</button>
      <a class="close casper_roadmin_reset_dialog_cancel" ng-click="$dismiss()">Cancel</a>
    </div>
  </form>
</div>