<div
   mn-spinner="settingsAlertsCtl.viewLoading || !settingsAlertsCtl.state"
   class="interim main-content">
  <form class="forms" ng-submit="settingsAlertsCtl.submit()">

    <div class="formrow checkbox-list">
      <label>
        <input
           type="checkbox"
           ng-disabled="!rbac.cluster.settings.write"
           ng-model="settingsAlertsCtl.state.enabled">
        Enable email alerts
      </label>
    </div>

    <div class="formrow">
      <h4>Email Server Settings</h4>
    </div>

    <div class="formrow width-300 indent-1">
      <label for="email_alerts_host">Host</label>
      <input
         type="text"
         id="email_alerts_host"
         ng-model="settingsAlertsCtl.state.emailServer.host"
         ng-disabled="settingsAlertsCtl.isFormElementsDisabled() || !rbac.cluster.settings.write">
    </div>
    <div class="formrow width-300 indent-1">
      <label for="email_alerts_port">Port</label>
      <input
         type="text"
         id="email_alerts_port"
         ng-model="settingsAlertsCtl.state.emailServer.port"
         ng-disabled="settingsAlertsCtl.isFormElementsDisabled() || !rbac.cluster.settings.write">
      <div
         class="error error-field"
         ng-if="settingsAlertsCtl.errors.email_port">
        {{settingsAlertsCtl.errors.email_port}}
      </div>
    </div>
    <div class="formrow width-300 indent-1">
      <label for="email_alerts_user">Username</label>
      <input
         type="text"
         id="email_alerts_user"
         ng-model="settingsAlertsCtl.state.emailServer.user"
         ng-disabled="settingsAlertsCtl.isFormElementsDisabled() || !rbac.cluster.settings.write">
    </div>
    <div class="formrow width-300 indent-1">
      <label for="email_alerts_pass">Password</label>
      <input
         type="password"
         id="email_alerts_pass"
         ng-model="settingsAlertsCtl.state.emailServer.pass"
         ng-disabled="settingsAlertsCtl.isFormElementsDisabled() || !rbac.cluster.settings.write"
         mn-autocomplete-off>
    </div>
    <div class="formrow checkbox-list width-300 indent-1">
      <input
         type="checkbox"
         id="email_alerts_encrypt"
         ng-model="settingsAlertsCtl.state.emailServer.encrypt"
         ng-disabled="settingsAlertsCtl.isFormElementsDisabled() || !rbac.cluster.settings.write">
      <label
         class="checkbox"
         for="email_alerts_encrypt">Require encryption (TLS)</label>
    </div>

    <div class="formrow">
      <h4>Email Settings</h4>
    </div>

    <div class="formrow width-300 indent-1">
      <label for="email_alerts_sender">
        Sender Email <small>(the <em>from</em> field)</small>
      </label>
      <input
         type="text"
         id="email_alerts_sender"
         ng-model="settingsAlertsCtl.state.sender"
         ng-disabled="settingsAlertsCtl.isFormElementsDisabled() || !rbac.cluster.settings.write">
      <div
         class="error error-field"
         ng-if="settingsAlertsCtl.errors.sender">
        {{settingsAlertsCtl.errors.sender}}
      </div>
    </div>
    <div class="formrow width-300 indent-1">
      <label for="email_alerts_sender">
        Recipients <small>separate addresses with comma "," or spaces " "</small>
      </label>
      <textarea
         id="email_alerts_recipients"
         ng-disabled="!settingsAlertsCtl.state.enabled || !rbac.cluster.settings.write"
         ng-model="settingsAlertsCtl.state.recipients"></textarea>
      <div
         class="error error-field"
         ng-if="settingsAlertsCtl.errors.recipients">
        {{settingsAlertsCtl.errors.recipients}}
      </div>
    </div>

    <div class="formrow indent-1">
      <button
         class="outline"
         type="button"
         ng-disabled="!settingsAlertsCtl.state.enabled || !rbac.cluster.settings.write"
         ng-click="settingsAlertsCtl.testEmail()">Send Test Email</button>
    </div>

    <div class="formrow">
      <h4>Available Alerts</h4>

      <div class="indent-1">
        <label class="checkbox" ng-repeat="alert in settingsAlertsCtl.state.knownAlerts">
          <input
             type="checkbox"
             ng-model="settingsAlertsCtl.state.alerts[alert]"
             ng-disabled="settingsAlertsCtl.isFormElementsDisabled() || !rbac.cluster.settings.write">
          <span>{{alert | alertsLabel}}</span>
        </label>
      </div>
    </div>
    <button
       ng-show="rbac.cluster.settings.write"
       ng-disabled="settingsAlertsCtl.errors"
       type="submit">
      Save
    </button>

  </form>
</div>
