<div class="servers_list">
  <table class="list" style="width:100%">
    <tbody>
      <tr>
        <th class="node_name" colspan="2" style="text-align:left;">Server Node Name</th>
        <th></th>
        <th style='{{ mnAdminGroupsService.model.isGroupsAvailable ? "text-align: center!important;" : "width: 0px;" }}'>{{ mnAdminGroupsService.model.isGroupsAvailable ? "Group" : " " }}</th>
        <th>RAM Usage</th>
        <th>Swap Usage</th>
        <th>CPU Usage</th>
        <th>Data/Disk Usage</th>
        <th colspan="2" style="text-indent:18px;">Items (Active / Replica)</th>
        <th></th>
      </tr>
    </tbody>
    <tbody ng-repeat="node in nodesList | orderBy:'hostname' track by node.otpNode" ui-view="item"></tbody>
    <tbody ng-if="!nodesList">
      <tr class="server_row rebalance_empty">
        <td colspan="11">There are no servers pending rebalance.</td>
      </tr>
    </tbody>
  </table>
</div>