<div class="formrow" [formGroup]="group">
  <div class="row">
    <div class="column width-9">
      <label for="setup_query_temp_input">Query Temp Disk Path</label>
      <input
         type="text"
         autocorrect="off"
         spellcheck="false"
         autocapitalize="off"
         id="setup_query_temp_input"
         formControlName="queryTmpSpaceDir">
    </div>
    <div class="width-3">
      <label for="setup_query_gb_input">Quota &nbsp;<small>in MB</small></label>
      <input
         type="text"
         autocorrect="off"
         spellcheck="false"
         autocapitalize="off"
         id="setup_query_gb_input"
         formControlName="queryTmpSpaceSize">
    </div>
  </div>
</div>

<div
   class="error error-form"
   [hidden]="!(querySettingsHttp.error | async)?.errors.queryTmpSpaceDir">
  {{(querySettingsHttp.error | async)?.errors.queryTmpSpaceDir}}
</div>
<div
   class="error error-form"
   [hidden]="!(querySettingsHttp.error | async)?.errors.queryTmpSpaceSize">
  {{(querySettingsHttp.error | async)?.errors.queryTmpSpaceSize}}
</div>
