<mn-element-cargo depot="alerts">
  <div
     class="alert alert-warning"
     ng-show="documentsControlCtl.state.docs.errors[0]">
    <p>Error: {{documentsControlCtl.state.docs.errors[0].reason}} ({{documentsControlCtl.state.docs.errors[0].error }})</p>
  </div>
</mn-element-cargo>

<div mn-spinner="!documentsControlCtl.state || !documentsCtl.state">
  <ui-view></ui-view>

  <div class="row" ng-if="!documentsCtl.state.currentBucket.isEphemeral">
    <div>
     <ui-select
        ng-model="documentsControlCtl.state.pageLimits.selected"
        theme="selectize"
        on-select="documentsControlCtl.onSelectPageLimits($item)"
        class="inline middle cbui narrow">
       <ui-select-match>{{$select.selected}}</ui-select-match>
       <ui-select-choices
          repeat="name in documentsControlCtl.state.pageLimits | filter: $select.search">
         <span
            class="select-item ellipsis"
            ng-bind-html="name | highlight: $select.search"></span>
       </ui-select-choices>
     </ui-select>
     <span class="text-smaller">&nbsp;per page</span>
    </div>
    <p class="inline middle text-smaller">
      &lt; page {{documentsControlCtl.state.pageNumber + 1}} &gt;
    </p>
    <div>
    <button
       class="icon fa-angle-left outline"
       ng-disabled="documentsControlCtl.isPrevDisabled()"
       ng-click="documentsControlCtl.prevPage()"></button>
    <button
       class="icon fa-angle-right outline"
       ng-disabled="documentsControlCtl.isNextDisabled()"
       ng-click="documentsControlCtl.nextPage()"></button>
     </div>
  </div>
</div>
