<div
   class="interim alert alert-warning"
   ng-show="documentsControlCtl.state.docs.errors[0]">
  <p>Error: {{documentsControlCtl.state.docs.errors[0].reason}} ({{documentsControlCtl.state.docs.errors[0].error }})</p>
</div>
<div class="interim main-content">
  <div class="row">
    <ui-select
       on-select="documentsCtl.onSelectBucketName($item)"
       ng-model="documentsCtl.state.bucketsNames.selected"
       theme="selectize"
       style="display: inline-block; vertical-align: middle;">
      <ui-select-match>{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="name in documentsCtl.state.bucketsNames | filter: $select.search">
        <span class="select-item ellipsis" ng-bind-html="name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>

  <ui-view></ui-view>

  <div class="row">
    <div>
     <span class="text-small">show per page: </span>
     <ui-select
        ng-model="documentsControlCtl.state.pageLimits.selected"
        theme="selectize"
        on-select="documentsControlCtl.onSelectPageLimits($item)"
        class="inline middle">
       <ui-select-match>{{$select.selected}}</ui-select-match>
       <ui-select-choices
          repeat="name in documentsControlCtl.state.pageLimits | filter: $select.search">
         <span
            class="select-item ellipsis"
            ng-bind-html="name | highlight: $select.search"></span>
       </ui-select-choices>
     </ui-select>
    </div>
    <p class="inline middle text-small">
      &lt; page {{documentsControlCtl.state.pageNumber + 1}} &gt;
    </p>
    <div>
    <button
       class="icon fa-angle-left outline"
       ng-disabled="documentsControlCtl.isPrevDisabled()"
       ng-click="documentsControlCtl.prevPage()"></button>
    <button
       class="icon fa-angle-right outline"
       ng-disabled="documentsControlCtl.isNextDisabled()"
       ng-click="documentsControlCtl.nextPage()"></button>
     </div>
  </div>
</div>
