<div class="interim row margin-top1">
  <div class="row flex-left width-12">
    <h4>Documents</h4>
    <span class="text-small indent-1">Filter:&nbsp;</span>
    <div
       mn-filter="documentsListCtl.filterInitParams"
       items="documentsListCtl.filterItems"
       disabled="documentsControlCtl.isEmptyState()"
       on-close="documentsListCtl.onFilterClose(params)"
       on-reset="documentsListCtl.onFilterReset()"
       ></div>
  </div>
  <div class="row nowrap">
    <form ng-submit="!documentsControlCtl.isEmptyState() && documentsListCtl.lookupSubmit()">
      <input
         type="text"
         autocorrect="off"
         spellcheck="false"
         autocapitalize="off"
         placeholder="Document ID"
         ng-model="documentsListCtl.lookupId"
         ng-disabled="documentsControlCtl.isEmptyState() || !rbac.cluster.bucket[documentsCtl.state.bucketsNames.selected].data.read">
      <button
         type="submit"
         ng-disabled="documentsControlCtl.isEmptyState()"
         ng-class="!rbac.cluster.bucket[documentsCtl.state.bucketsNames.selected].data.read">
        Lookup Id
      </button>
    </form>
    &nbsp;
    <button
       ng-disabled="documentsControlCtl.isEmptyState() || !rbac.cluster.bucket[documentsCtl.state.bucketsNames.selected].data.write"
       ng-click="documentsListCtl.showCreateDialog()">Create Document</button>
  </div>
</div>

<div mn-spinner="!documentsControlCtl.state || documentsControlCtl.viewLoading">
  <table class="table-stroked">
    <thead>
      <tr>
        <th>ID</th>
        <th>Content</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
         class="has-hover"
         ui-sref="app.admin.documents.editing({documentId: r.id})"
         ng-repeat="r in documentsControlCtl.state.docs.rows"
         ng-show="documentsControlCtl.state.docs.rows.length">
        <td class="break-all max-width-4">
          <a href="">{{ r.id }}</a>
        </td>
        <td class="break-all">
          {{r.doc.json !== undefined ? r.doc.json : r.doc.base64 | mnLimitTo: 200}}
        </td>
        <td class="text-right nowrap">
          <button
             class="outline"
             ng-show="rbac.cluster.bucket[documentsCtl.state.bucketsNames.selected].data.write"
             ng-click="$event.stopPropagation(); documentsListCtl.deleteDocument(r.id)">Delete</button>
          <button
             ng-click="$event.stopPropagation()"
             ui-sref="app.admin.documents.editing({documentId: r.id})">
            <span ng-show="rbac.cluster.bucket[documentsCtl.state.bucketsNames.selected].data.write">Edit Document</span>
            <span ng-show="rbac.cluster.bucket[documentsCtl.state.bucketsNames.selected].data.read && !rbac.cluster.bucket[documentsCtl.state.bucketsNames.selected].data.write">View Document</span>
          </button>
        </td>
      </tr>
      <tr ng-if="!documentsControlCtl.state.docs.rows.length">
        <td colspan="3">
          There are currently no documents in this bucket {{ searchCriteria ? ' corresponding to the search criteria.' : '.' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
