<divv id="js_buckets" class="buckets">
  <h1>Data Buckets</h1>
  <div class="warning_message" data-ng-repeat="warning in mnBucketsState.creationWarnings" ng-if="warning">
    <span ng-show="warning">Attention: <span class="warning-text">{{warning}}</span></span>
  </div>
  <div class="shadow_box" id="couchbase_buckets">
    <div id="manage_buckets_top_bar" class="header_2">
      <h4 style="float:left;line-height:34px;">Couchbase Buckets</h4>
      <div class="right" style="overflow:hidden;">
        <button
          ng-show="!mnBucketsState.creationWarnings.length"
          class="btn_1 create-bucket-button when-roadmin-hide-me casper_buckets_new_data_bucket"
          style="float:right;"
          ng-click="addBucket()">
            <span>Create New Data Bucket</span>
        </a>
        <span class="staleness-notice">Difficulties communicating with the cluster; displaying cached information!</span>
      </div>
    </div>
    <div id="bucket_list_container">
      <div mn-buckets-list buckets="mnBucketsState.byType.membase"></div>
    </div>
  </div>
  <div class="shadow_box" id="memcached_buckets" ng-if="mnBucketsState.byType.memcached.length">
    <div id="manage_buckets_top_bar" class="header_2">
      <h4 style="float:left">Memcached Buckets</h4>
      <div class="right">
        <span class="staleness-notice">Difficulties communicating with the cluster; displaying cached information!</span>
      </div>
    </div>
    <div id="memcached_bucket_list_container">
      <div mn-buckets-list buckets="mnBucketsState.byType.memcached"></div>
    </div>
  </div>
</div>
