<div mn-spinner="!logsListCtl.logs" min-height="300px">
  <table class="table-stroked">
    <thead>
      <tr>
        <th>Event</th>
        <th class="text-center">Module Code</th>
        <th class="text-center">Server Node</th>
        <th class="text-center">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in logsListCtl.logs | orderBy:'serverTime':true track by $index">
        <td class="break-all">
          <span
             ng-if="!logsListCtl.isOpened($index) && logsListCtl.isOverLimit(row)"
             >{{row.text | mnLimitTo: logsListCtl.textLimit}}</span>
          <span
             ng-if="logsListCtl.isOpened($index) || !logsListCtl.isOverLimit(row)"
             >{{row.text}}</span>
          <span ng-show="logsListCtl.isOverLimit(row)">
            <a
               href=""
               ng-show="!logsListCtl.isOpened($index)"
               ng-click="logsListCtl.toggle($index)">... show</a>
            <a
               href=""
               ng-show="logsListCtl.isOpened($index)"
               ng-click="logsListCtl.toggle($index)">hide</a>
          </span>
        </td>
        <td class="text-center width-2">{{row.module}} {{row.code | moduleCode }}</td>
        <td class="text-center width-2">{{row.node}}</td>
        <td class="text-center width-2">
          <strong class="nowrap">{{row.serverTime | date:'mediumTime':'UTC'}}</strong>
          <span class="nowrap">{{row.serverTime | date:'EEE MMM d, yyyy'}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
