<div mn-spinner="!logsListCtl.logs" min-height="300px">
  <div class="cbui-table">
    <div class="cbui-table-header padding-left">
      <span class="cbui-table-cell flex-grow-3">event</span>
      <span class="cbui-table-cell">module code</span>
      <span class="cbui-table-cell">server node</span>
      <span class="cbui-table-cell flex-grow-1-5">time</span>
    </div>
    <section ng-repeat="row in logsListCtl.logs | orderBy:'serverTime':true track by $index">
      <div class="cbui-tablerow">
        <span class="cbui-table-cell flex-grow-3 min-width-zero">
          <span
             ng-if="!logsListCtl.isOpened($index) && logsListCtl.isOverLimit(row)"
             class="pre-line"
             >{{row.text | mnLimitTo: logsListCtl.textLimit}}</span>
          <span
             class="pre-line"
             ng-if="logsListCtl.isOpened($index) || !logsListCtl.isOverLimit(row)"
             >{{row.text}}</span>
          <span ng-show="logsListCtl.isOverLimit(row)">
            <a
               href=""
               ng-show="!logsListCtl.isOpened($index)"
               ng-click="logsListCtl.toggle($index)">...show</a>
            <a
               href=""
               ng-show="logsListCtl.isOpened($index)"
               ng-click="logsListCtl.toggle($index)">hide</a>
          </span>
        </span>
        <span class="cbui-table-cell" title="{{row.module}} {{row.code | moduleCode }}">{{row.module}} {{row.code | moduleCode }}</span>
        <span class="cbui-table-cell">{{row.node}}</span>
        <span class="cbui-table-cell flex-grow-1-5 wrap">
          <span class="semi-bold nowrap">{{row.serverTime | date:'mediumTime':'UTC'}}</span> &nbsp;
          <span class="nowrap">{{row.serverTime | date:'EEE MMM d, yyyy':'UTC'}}</span>
        </span>
      </div>
    </section>
  </div>
</div>
