<div class="dialog-small">
  <div class="panel-header">
    <h2>Reset Password</h2>
  </div>
  <form ng-submit="internalRolesResetCtl.onSubmit()" class="forms">
    <div class="panel-content">
      <div class="formrow">
        <label for="new_roa_pass">New Password</label>
        <input
           type="password"
           mn-autocomplete-off
           ng-model="internalRolesResetCtl.password"
           id="new_roa_pass">
        <div
           class="error error-field"
           ng-show="internalRolesResetCtl.errors.password">
          {{internalRolesResetCtl.errors.password}}
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a
         href=""
         ng-click="$dismiss()">Cancel</a>
      <button type="submit">Reset</button>
    </div>
  </form>
</div>
