<div class="dialog internal_settings_dialog really" id="internal_settings_dialog">
  <h1>Tweak internal settings</h1>
  <form ng-submit="internalSettingsCtl.onSubmit()" mn-spinner="internalSettingsCtl.viewLoading">
    <fieldset>
      <div ng-show="internalSettingsCtl.errors.error" class="error-container" style="padding:10px;">
        {{internalSettingsCtl.errors.error}}
      </div>
      <input
        type="hidden"
        name="indexAwareRebalanceDisabled"
        ng-model="internalSettingsCtl.state.indexAwareRebalanceDisabled"
        value="false">
      <input
        type="hidden"
        name="rebalanceIndexWaitingDisabled"
        ng-model="internalSettingsCtl.state.rebalanceIndexWaitingDisabled"
        value="false">
      <input
        type="hidden"
        name="rebalanceIndexPausingDisabled"
        ng-model="internalSettingsCtl.state.rebalanceIndexPausingDisabled"
        value="false">
      <input
        type="hidden"
        name="rebalanceIgnoreViewCompactions"
        ng-model="internalSettingsCtl.state.rebalanceIgnoreViewCompactions"
        value="false">
      <input
        type="hidden"
        name="indexAutoFailoverDisabled"
        ng-model="internalSettingsCtl.state.indexAutoFailoverDisabled"
        value="false">
      <input
        type="hidden"
        name="certUseSha1"
        ng-model="internalSettingsCtl.state.certUseSha1"
        value="false">
      <label>
        <span
          class="cursor_helper"
          title="When not disabled makes sure indexes are always up-to-date during rebalance">
          Disable view-index aware rebalance
        </span>
        <input
          type="checkbox"
          name="indexAwareRebalanceDisabled"
          ng-model="internalSettingsCtl.state.indexAwareRebalanceDisabled"
          value="true">
      </label>
      <label>
        <span
          class="cursor_helper"
          title="Whether index aware rebalance waiting for index up-to-dateness should be disabled. Makes rebalance faster">
          Disable view-index waiting during rebalance
        </span>
        <input
          type="checkbox"
          name="rebalanceIndexWaitingDisabled"
          ng-model="internalSettingsCtl.state.rebalanceIndexWaitingDisabled"
          value="true">
      </label>
      <label>
        <span
          class="cursor_helper"
          title="That's too complex to explain">
          Disable view-index pausing during rebalance
        </span>
        <input
          type="checkbox"
          name="rebalanceIndexPausingDisabled"
          ng-model="internalSettingsCtl.state.rebalanceIndexPausingDisabled"
          value="true">
      </label>
      <label>
        <span>Don't compact views during rebalance</span>
        <input
          type="checkbox"
          name="rebalanceIgnoreViewCompactions"
          ng-model="internalSettingsCtl.state.rebalanceIgnoreViewCompactions"
          value="true">
      </label>
      <label>
        <span>Do not failover Index service automatically.</span>
        <input
          type="checkbox"
          name="indexAutoFailoverDisabled"
          ng-model="internalSettingsCtl.state.indexAutoFailoverDisabled"
          value="true">
      </label>
      <label>
        <span>Max in-/out-going backfills per node<br>during rebalance</span>
        <input
          maxlength="5"
          style="width:1.5em;"
          ng-model="internalSettingsCtl.state.rebalanceMovesPerNode"
          name="rebalanceMovesPerNode">
      </label>
      <label>
        <span>VBucket moves per node<br>before forced view compaction</span>
        <input
          maxlength="5"
          style="width:1.5em;"
          ng-model="internalSettingsCtl.state.rebalanceMovesBeforeCompaction"
          name="rebalanceMovesBeforeCompaction">
      </label>
      <label>
        <span>Max parallel main view-index tasks per node</span>
        <input
          maxlength="5"
          style="width:1.5em;"
          ng-model="internalSettingsCtl.state.maxParallelIndexers"
          name="maxParallelIndexers">
      </label>
      <label>
        <span>Max parallel replica view-index tasks per node</span>
        <input
          maxlength="5"
          style="width:1.5em;"
          ng-model="internalSettingsCtl.state.maxParallelReplicaIndexers"
          name="maxParallelReplicaIndexers">
      </label>
      <label>
        <span>Maximum Bucket Count</span>
        <input
          maxlength="3"
          style="width:1.5em;"
          ng-model="internalSettingsCtl.state.maxBucketCount"
          name="maxBucketCount">
      </label>
      <label ng-if="!internalSettingsCtl.mnPoolDefault.value.goxdcrEnabled">
        <span>XDCR Max Replications per Bucket</span>
        <input
          maxlength="5"
          style="width:1.5em;"
          ng-model="internalSettingsCtl.state.xdcrMaxConcurrentReps"
          name="xdcrMaxConcurrentReps">
      </label>
      <label ng-if="internalSettingsCtl.mnPoolDefault.value.goxdcrEnabled">
        <span>XDCR Source Nozzles per Node</span>
        <input
          maxlength="5"
          style="width:1.5em;"
          ng-model="internalSettingsCtl.state.xdcrSourceNozzlePerNode"
          name="xdcrSourceNozzlePerNode">
      </label>
      <label ng-if="internalSettingsCtl.mnPoolDefault.value.goxdcrEnabled">
        <span>XDCR Target Nozzles per Node</span>
        <input
          maxlength="5"
          style="width:1.5em;"
          ng-model="internalSettingsCtl.state.xdcrTargetNozzlePerNode"
          name="xdcrTargetNozzlePerNode">
      </label>
      <label>
        <span>XDCR Checkpoint Interval</span>
        <input
          maxlength="5"
          style="width:2.5em;"
          ng-model="internalSettingsCtl.state.xdcrCheckpointInterval"
          name="xdcrCheckpointInterval">
      </label>
      <label>
        <span>XDCR Batch Count</span>
        <input
          maxlength="5"
          style="width:2.5em;"
          ng-model="internalSettingsCtl.state.xdcrWorkerBatchSize"
          name="xdcrWorkerBatchSize">
      </label>
      <label>
        <span>XDCR Batch Size (kB)</span>
        <input
          maxlength="6"
          style="width:2.5em;"
          ng-model="internalSettingsCtl.state.xdcrDocBatchSizeKb"
          name="xdcrDocBatchSizeKb">
      </label>
      <label>
        <span>XDCR Failure Retry Interval</span>
        <input
          maxlength="3"
          style="width:1.5em;"
          ng-model="internalSettingsCtl.state.xdcrFailureRestartInterval"
          name="xdcrFailureRestartInterval">
      </label>
      <label ng-if="internalSettingsCtl.mnPoolDefault.value.goxdcrEnabled">
        <span>XDCR Statistics Collection Interval (ms)</span>
        <input
          maxlength="5"
          style="width:1.5em;"
          ng-model="internalSettingsCtl.state.xdcrStatsInterval"
          name="xdcrStatsInterval">
      </label>
      <label ng-if="internalSettingsCtl.mnPoolDefault.value.goxdcrEnabled">
        <span>XDCR Logging Level</span>
        <select
          name="xdcrLogLevel"
          ng-model="internalSettingsCtl.state.xdcrLogLevel">
          <option value="Info">Info</option>
          <option value="Debug">Debug</option>
          <option value="Trace">Trace</option>
          <option value="Error">Error</option>
        </select>
      </label>
      <label>
        <span>XDCR Optimistic Replication Threshold</span>
        <input
          maxlength="6"
          style="width:2.5em;"
          ng-model="internalSettingsCtl.state.xdcrOptimisticReplicationThreshold"
          name="xdcrOptimisticReplicationThreshold">
      </label>
      <label>
        <span>Simultaneous REST requests limit</span>
        <input
          maxlength="6"
          style="width:2.5em;"
          ng-model="internalSettingsCtl.state.restRequestLimit"
          name="restRequestLimit">
      </label>
      <label>
        <span>Simultaneous CAPI requests limit</span>
        <input
          maxlength="6"
          style="width:2.5em;"
          ng-model="internalSettingsCtl.state.capiRequestLimit"
          name="capiRequestLimit">
      </label>
      <label>
        <span>Drop requests after this much memory is used (MiB)</span>
        <input
          maxlength="6"
          style="width:2.5em;"
          ng-model="internalSettingsCtl.state.dropRequestMemoryThresholdMiB"
          name="dropRequestMemoryThresholdMiB">
      </label>
      <label>
        <span>GOTRACEBACK</span>
        <input
          style="width:2.5em;"
          ng-model="internalSettingsCtl.state.gotraceback"
          name="gotraceback">
      </label>
      <label ng-if="!internalSettingsCtl.mnPoolDefault.value.goxdcrEnabled">
        <span>XDCR anticipatory delay (ms)</span>
        <input
          maxlength="6"
          style="width:2.5em;"
          ng-model="internalSettingsCtl.state.xdcrAnticipatoryDelay"
          name="xdcrAnticipatoryDelay">
      </label>
      <label>
        <span
          class="cursor_helper"
          title="When enabled forces sha1 signature algorithm during ssl certificates generation">
            Use sha1 in ssl certificates
        </span>
        <input
          type="checkbox"
          ng-model="internalSettingsCtl.state.certUseSha1"
          name="certUseSha1"
          value="true">
      </label>
    </fieldset>
    <div class="save_cancel">
      <button
        class="save_button float_right"
        type="submit">
          Save
      </button>
      <a class="close casper_internal_settings_close" ng-click="$dismiss()">Cancel</a>
    </div>
  </form>
</div>
