<div class="dialog-med">
  <div class="panel-header">
    <h2>Tweak internal settings</h2>
  </div>
  <form
     class="forms"
     ng-submit="internalSettingsCtl.onSubmit()"
     mn-spinner="internalSettingsCtl.viewLoading">
    <div class="panel-content">
      <div
         ng-show="internalSettingsCtl.errors.error"
         class="error error-form">
        {{internalSettingsCtl.errors.error}}
      </div>
      <input
         type="hidden"
         ng-model="internalSettingsCtl.state.indexAwareRebalanceDisabled"
         value="false">
      <input
         type="hidden"
         ng-model="internalSettingsCtl.state.rebalanceIndexWaitingDisabled"
         value="false">
      <input
         type="hidden"
         ng-model="internalSettingsCtl.state.rebalanceIndexPausingDisabled"
         value="false">
      <input
         type="hidden"
         ng-model="internalSettingsCtl.state.rebalanceIgnoreViewCompactions"
         value="false">
      <input
         type="hidden"
         ng-model="internalSettingsCtl.state.indexAutoFailoverDisabled"
         value="false">
      <input
         type="hidden"
         ng-model="internalSettingsCtl.state.certUseSha1"
         value="false">
      <label class="checkbox formrow">
        <input
           type="checkbox"
           ng-model="internalSettingsCtl.state.indexAwareRebalanceDisabled"
           value="true">
         <span title="When not disabled makes sure indexes are always up-to-date during rebalance">
          Disable view-index aware rebalance
        </span>
      </label>
      <label class="checkbox formrow">
        <input
           type="checkbox"
           ng-model="internalSettingsCtl.state.rebalanceIndexWaitingDisabled"
           value="true">
        <span title="Whether index aware rebalance waiting for index up-to-dateness should be disabled. Makes rebalance faster">
          Disable view-index waiting during rebalance
        </span>
      </label>
      <label class="checkbox formrow">
        <input
           type="checkbox"
           ng-model="internalSettingsCtl.state.rebalanceIndexPausingDisabled"
           value="true">
        <span title="That's too complex to explain">
          Disable view-index pausing during rebalance
        </span>
      </label>
      <label class="checkbox formrow">
        <input
           type="checkbox"
           ng-model="internalSettingsCtl.state.rebalanceIgnoreViewCompactions"
           value="true">
        <span>Don't compact views during rebalance</span>
      </label>
      <label class="checkbox formrow">
        <input
           type="checkbox"
           ng-model="internalSettingsCtl.state.indexAutoFailoverDisabled"
           value="true">
        <span>Do not failover Index service automatically.</span>
      </label>
      <label class="formrow">
        <span>Max in-/out-going backfills per node during rebalance</span>
        <input
           type="text"
           maxlength="5"
           ng-model="internalSettingsCtl.state.rebalanceMovesPerNode">
      </label>
      <label class="formrow">
        <span>VBucket moves per node before forced view compaction</span>
        <input
           maxlength="5"
           type="text"
           ng-model="internalSettingsCtl.state.rebalanceMovesBeforeCompaction">
      </label>
      <label class="formrow">
        <span>Max parallel main view-index tasks per node</span>
        <input
           maxlength="5"
           type="text"
           ng-model="internalSettingsCtl.state.maxParallelIndexers">
      </label>
      <label class="formrow">
        <span>Max parallel replica view-index tasks per node</span>
        <input
           maxlength="5"
           type="text"
           ng-model="internalSettingsCtl.state.maxParallelReplicaIndexers">
      </label>
      <label class="formrow">
        <span>Maximum Bucket Count</span>
        <input
           maxlength="3"
           type="text"
           ng-model="internalSettingsCtl.state.maxBucketCount">
      </label>
      <label
         class="formrow"
         ng-if="!internalSettingsCtl.mnPoolDefault.value.goxdcrEnabled">
        <span>XDCR Max Replications per Bucket</span>
        <input
           maxlength="5"
           type="text"
           ng-model="internalSettingsCtl.state.xdcrMaxConcurrentReps">
      </label>
      <label
         class="formrow"
         ng-if="!internalSettingsCtl.mnPoolDefault.value.goxdcrEnabled">
        <span>XDCR Checkpoint Interval</span>
        <input
           maxlength="5"
           type="text"
           ng-model="internalSettingsCtl.state.xdcrCheckpointInterval">
      </label>
      <label
         class="formrow"
         ng-if="!internalSettingsCtl.mnPoolDefault.value.goxdcrEnabled">
        <span>XDCR Batch Count</span>
        <input
           maxlength="5"
           type="text"
           ng-model="internalSettingsCtl.state.xdcrWorkerBatchSize">
      </label>
      <label
         class="formrow"
         ng-if="!internalSettingsCtl.mnPoolDefault.value.goxdcrEnabled">
        <span>XDCR Batch Size (kB)</span>
        <input
           maxlength="6"
           type="text"
           ng-model="internalSettingsCtl.state.xdcrDocBatchSizeKb">
      </label>
      <label
         class="formrow"
         ng-if="!internalSettingsCtl.mnPoolDefault.value.goxdcrEnabled">
        <span>XDCR Failure Retry Interval</span>
        <input
           maxlength="3"
           type="text"
           ng-model="internalSettingsCtl.state.xdcrFailureRestartInterval">
      </label>
      <label
         class="formrow"
         ng-if="!internalSettingsCtl.mnPoolDefault.value.goxdcrEnabled">
        <span>XDCR Optimistic Replication Threshold</span>
        <input
           maxlength="6"
           type="text"
           ng-model="internalSettingsCtl.state.xdcrOptimisticReplicationThreshold">
      </label>
      <label class="formrow">
        <span>Simultaneous REST requests limit</span>
        <input
           maxlength="6"
           type="text"
           ng-model="internalSettingsCtl.state.restRequestLimit">
      </label>
      <label class="formrow">
        <span>Simultaneous CAPI requests limit</span>
        <input
           maxlength="6"
           type="text"
           ng-model="internalSettingsCtl.state.capiRequestLimit">
      </label>
      <label class="formrow">
        <span>Drop requests after this much memory is used (MiB)</span>
        <input
           maxlength="6"
           type="text"
           ng-model="internalSettingsCtl.state.dropRequestMemoryThresholdMiB">
      </label>
      <label class="formrow">
        <span>GOTRACEBACK</span>
        <input
           type="text"
           ng-model="internalSettingsCtl.state.gotraceback">
      </label>
      <label
         class="formrow"
         ng-if="!internalSettingsCtl.mnPoolDefault.value.goxdcrEnabled">
        <span>XDCR anticipatory delay (ms)</span>
        <input
           maxlength="6"
           type="text"
           ng-model="internalSettingsCtl.state.xdcrAnticipatoryDelay">
      </label>
      <label class="checkbox formrow">
        <input
           type="checkbox"
           ng-model="internalSettingsCtl.state.certUseSha1"
           value="true">
        <span title="When enabled forces sha1 signature algorithm during ssl certificates generation">
          Use sha1 in ssl certificates
        </span>
      </label>
    </div>
    <div class="panel-footer">
      <a href="" ng-click="$dismiss()">Cancel</a>
      <button type="submit">
        Save
      </button>
    </div>
  </form>
</div>
