<div>
  <ui-view></ui-view>
  <div>
    <div
       class="margin-top1"
       ng-repeat="block in analyticsCtl.state.statsDirectoryBlocks track by block.blockName"
       ng-class="{dynamic_withtotal: block.withTotal}">
      <h4
         class="disclosure"
         ng-class="{disclosed: analyticsListCtl.isDetailsOpened(block.blockName)}"
         ng-click="analyticsListCtl.toggleDetails(block.blockName)">
        {{block.blockName}}
      </h4>

      <div ng-if="analyticsListCtl.isDetailsOpened(block.blockName)">
        <div
           ng-show="block.blockName === 'Query'"
           class="interim alert alert-warning">
          <p>Metrics for Query are not per bucket and will not change if bucket dropdown above is changed</p>
      </div>
        <div ng-if="block.columns">
          <h5
             class="chart-column-headers"
             ng-repeat="columnName in block.columns">{{ columnName }}</h5>
        </div>
      <div>
          <div
             class="chart-cell-small gray-7 has-hover relative"
             ng-class="{dynamic_dim: statInfo.missing}"
             ng-if="analyticsListCtl.isDetailsOpened(block.blockName)"
             ng-repeat="statInfo in block.stats track by statInfo.name"
             ui-sref-active="dynamic_selected">
            <div ui-sref="{graph: statInfo.name}">
              <div style="background-color:#fff;border:1px solid #d1d1d1;display:table;margin:0 auto .5rem auto;">
                <div
                   mn-plot
                   mn-plot-config="statInfo.config"
                   is-small-graph="true"
                   style="width: 150px; height: 50px;">
                </div>
              </div>
              <desc>{{statInfo.config.value}} {{statInfo.title}}
                <span
                   class="fa-stack icon-info relative"
                   style="top: -4px;"
                   uib-tooltip="{{statInfo.desc}}"
                   tooltip-placement="right"
                   tooltip-trigger="'mouseenter'"
                   tooltip-append-to-body="true">
                  <span class="icon fa-circle-thin fa-stack-2x"></span>
                  <span class="icon fa-info fa-stack-1x"></span>
                </span>
              </desc>
            </div>
            <a class="text-smaller" ng-show="!analyticsCtl.isSpecificStats" ui-sref="{graph: '@' + analyticsCtl.nodes.nodesNames[1], specificStat: statInfo.name}">show by server</a>
            <a class="text-smaller" ng-show="analyticsCtl.isSpecificStats" ui-sref="{graph: 'ops', statsHostname: statInfo.name.slice(1), specificStat: null}">show this server</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
