<div style="width: 888px;">
  <div class="row flex-center text-smaller">
    <!--TODO move dropboxes into separate state -->
    <span ng-show="!analyticsCtl.isSpecificStats">
      Bucket: &nbsp;
    </span>
    <span ng-show="analyticsCtl.isSpecificStats">
      <em>{{analyticsCtl.state.origTitle}}</em> for bucket:
    </span>
    <ui-select
       class="inline middle"
       ng-model="analyticsCtl.currentBucket"
       theme="selectize"
       ng-disabled="!rbac.bucketNames['.stats!read'].length"
       on-select="analyticsCtl.onSelectBucket($item)">
      <ui-select-match
         class="ui-select-match">{{$select.selected}}</ui-select-match>
      <ui-select-choices
         class="ui-select-choices"
         repeat="name in rbac.bucketNames['.stats!read'] | filter: $select.search">
        <span class="select-item ellipsis" ng-bind-html="name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
    <span ng-if="!analyticsCtl.isSpecificStats">
      &nbsp; on&nbsp;
      <ui-select
         class="inline middle"
         ng-model="analyticsCtl.nodes.nodesNames.selected"
         theme="selectize"
         on-select="analyticsCtl.onSelectNode($item)">
        <ui-select-match
           class="ui-select-match">{{$select.selected}}</ui-select-match>
        <ui-select-choices
           class="ui-select-choices"
           repeat="name in analyticsCtl.nodes.nodesNames | filter: $select.search">
          <span class="select-item ellipsis" ng-bind-html="name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </span>
  </div>
  <ui-view></ui-view>
  <div
     class="margin-top2"
     ng-if="!analyticsCtl.isSpecificStats && rbac.cluster.bucket[analyticsCtl.currentBucket].stats.read" >
    <h4 class="padding-left margin-bottom-half">Top Keys</h4>
    <table class="table-stroked">
      <thead>
        <tr>
          <th>Key</th>
          <th class="text-center">Ops/Sec</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="key in analyticsCtl.state.stats.hot_keys">
          <td class="break-word">{{key.name}}</td>
          <td class="text-center">{{analyticsCtl.computeOps(key)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
