<div>
  <ui-view></ui-view>
  <div class="row flex-column items-top">
    <div
       class="margin-top1 flex-order-two"
       ng-repeat="block in analyticsCtl.state.statsDirectoryBlocks track by block.blockName"
       ng-class="{dynamic_withtotal: block.withTotal, 'flex-order-one': block.blockName=='Summary', 'columns-four': block.columns, 'columns-three': block.blockName.indexOf('Mapreduce View Stats') > -1, 'columns-four': block.blockName.indexOf('Full Text Search Stats') > -1}">
      <h4
         class="disclosure"
         ng-class="{disclosed: analyticsListCtl.isDetailsOpened(block.blockName)}"
         ng-click="analyticsListCtl.toggleDetails(block.blockName)">
        &nbsp;{{block.blockName}}
      </h4>

      <div ng-if="analyticsListCtl.isDetailsOpened(block.blockName)">
        <div
           ng-show="block.blockName === 'Query'"
           class="interim alert alert-warning">
          <p>Metrics for Query are not per bucket and will not change if bucket dropdown above is changed</p>
        </div>
        <div ng-if="block.columns">
          <h5
             class="chart-column-headers"
             ng-repeat="columnName in block.columns">{{ columnName }}</h5>
        </div>
      <div>
          <div
             class="chart-cell-small gray-7"
             ng-class="{dynamic_dim: statInfo.missing}"
             ng-if="analyticsListCtl.isDetailsOpened(block.blockName)"
             ng-repeat="statInfo in block.stats track by statInfo.name"
             ui-sref-active="dynamic_selected">
            <div ui-sref="{graph: statInfo.name}">
              <div class="chart-small">
                <div
                   mn-plot
                   mn-plot-config="statInfo.config"
                   is-small-graph="true"
                   style="width: 150px; height: 50px;">
                </div>
              </div>

                <div
                   class="relative ellipsis"
                   uib-tooltip="{{statInfo.title}}: {{statInfo.desc}}"
                   tooltip-placement="right"
                   tooltip-trigger="'mouseenter'"
                   tooltip-append-to-body="true">
                  {{statInfo.config.value}} {{statInfo.title}}
                </div>
            </div>
            <a class="text-fine" ng-show="!analyticsCtl.isSpecificStats" ui-sref="{graph: '@' + analyticsCtl.nodes.nodesNames[1], specificStat: statInfo.name}">per server</a>
            <a class="text-fine" ng-show="analyticsCtl.isSpecificStats" ui-sref="{graph: 'ops', statsHostname: statInfo.name.slice(1), specificStat: null}">per server</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
