<div
   class="interim alert alert-warning"
   ng-show="adminCtl.lostConnState.isActivated">
  <p>Difficulties communicating with the cluster; displaying cached information!</p>
</div>

<div class="interim main-content" style="max-width:1150px;">
  <div class="formrow">
    <!--TODO move dropboxes into separate state -->
    <span ng-show="!analyticsCtl.isSpecificStats">
      Statistics for
    </span>
    <span ng-show="analyticsCtl.isSpecificStats">
      <em>{{analyticsCtl.state.origTitle}}</em> for bucket:
    </span>
    <ui-select
       class="inline middle"
       ng-model="analyticsCtl.buckets.bucketsNames.selected"
       theme="selectize"
       ng-disabled="disabled"
       on-select="analyticsCtl.onSelectBucket($item)">
      <ui-select-match>{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="name in analyticsCtl.buckets.bucketsNames | filter: $select.search">
        <span class="select-item ellipsis" ng-bind-html="name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
    <span ng-if="!analyticsCtl.isSpecificStats">
      on
      <ui-select
         class="inline middle"
         ng-model="analyticsCtl.nodes.nodesNames.selected"
         theme="selectize"
         ng-disabled="disabled"
         on-select="analyticsCtl.onSelectNode($item)">
        <ui-select-match>{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="name in analyticsCtl.nodes.nodesNames | filter: $select.search">
          <span class="select-item ellipsis" ng-bind-html="name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </span>
  </div>
  <ui-view></ui-view>
  <div
     class="margin-top2"
     ng-if="!analyticsCtl.isSpecificStats && rbac.cluster.bucket[analyticsCtl.buckets.bucketsNames.selected].stats.read" >
    <h2>TOP KEYS</h2>
    <table class="table-stroked">
      <thead>
        <tr>
          <th>Key</th>
          <th>Ops/Sec</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="key in analyticsCtl.state.stats.hot_keys">
          <td>{{key.name}}</td>
          <td>{{analyticsCtl.computeOps(key)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
