<mn-element-cargo depot="alerts">
  <div
     class="interim alert alert-warning"
     ng-show="bucketsCtl.areThereCreationWarnings()">
    <p ng-show="bucketsCtl.isBucketCreationWarning()">Attention: Cannot create, delete or edit buckets while rebalance is running.</p>
    <p ng-show="bucketsCtl.isMaxBucketCountWarning()">Attention: Maximum number of buckets has been reached. <br>For optimal performance, no more than {{maxBucketCount}} buckets are allowed.</p>
  </div>
</mn-element-cargo>

<div mn-spinner="!bucketsCtl.buckets" min-height="300px">
  <div class="interim row items-bottom">
    <h4>Couchbase Buckets</h4>
    <button
       ng-hide="bucketsCtl.isCreateNewDataBucketDisabled() || !rbac.cluster.buckets.create"
       ng-click="bucketsCtl.addBucket()">
      + Add Data Bucket
    </button>
  </div>
  <div
     mn-spinner="bucketsCtl.showBucketsPollerSpinner"
     min-height="91px">
    <div
       mn-buckets-list
       buckets="bucketsCtl.buckets.byType.membase"
       pool-default="poolDefault"
       rbac="rbac">
    </div>
  </div>

  <div class="margin-top2" ng-if="bucketsCtl.buckets.byType.memcached.length">
    <div class="interim row">
      <h4>Memcached Buckets</h4>
    </div>
    <div
       mn-spinner="bucketsCtl.showBucketsPollerSpinner"
       min-height="91px">
      <div
         mn-buckets-list
         buckets="bucketsCtl.buckets.byType.memcached"
         pool-default="poolDefault"
         rbac="rbac">
      </div>
    </div>
  </div>
</div>
