<div style="margin: 9px 0 15px 9px;">
  <span style="display:inline-block;vertical-align: middle;width: 15px;height:15px;">
    <span
       ng-show="saslauthdAuthCtl.saslauthdAuth.enabled">
      <img src="/images/correct.svg" width="15" height="15"></span>
    <span
       ng-show="!saslauthdAuthCtl.saslauthdAuth.enabled">
      <img src="/images/ban.svg" width="15" height="15"></span>
  </span>
  <span
     style="vertical-align: middle; color:#333;">
    Authentication <span ng-show="saslauthdAuthCtl.saslauthdAuth">
      <span ng-show="!saslauthdAuthCtl.saslauthdAuth.enabled">Not</span> Enabled</span></span>
  <a
     style="vertical-align: middle; margin-left: 10px;"
     ng-show="!saslauthdAuthCtl.saslauthdAuthLoading && rbac.cluster.admin.security.write"
     ng-click="saslauthdAuthCtl.toggleSaslauthdAuth()">
    <span
       ng-show="!saslauthdAuthCtl.saslauthdAuth.enabled">
      enable</span>
    <span
       ng-show="saslauthdAuthCtl.saslauthdAuth.enabled">
      disable</span>
  </a>
</div>
