<div class="margin-bottom-half row flex-right">
  <span
     class="icon margin-right"
     ng-class="saslauthdAuthCtl.saslauthdAuth.enabled ? 'fa-check success' : 'fa-ban grayblack-3'">
  </span>
  <span class="text-smaller">
    external authentication is <span ng-show="saslauthdAuthCtl.saslauthdAuth">
      <span ng-show="!saslauthdAuthCtl.saslauthdAuth.enabled">not</span> enabled</span>
  </span>
  <span
     class="fa-stack icon-info icon margin-left"
     uib-tooltip-html="'Use the CLI to change the state of external authentication (LDAP)'"
     tooltip-placement="top">
    <span class="text-smaller fa-circle-thin fa-stack-2x"></span>
    <span class="text-smaller fa-info fa-stack-1x"></span>
  </span>
</div>
