body { font-family: Arial, sans-serif; }
#overview_main_graph { width: 100%; }
#overview_graph_ops, #overview_graph_gets, #overview_graph_sets, #overview_graph_misses { width: 20%; display: inline-block; }
#left_pane, #right_pane, #middle_panel { vertical-align: top; }
#overview .section, #analytics .section { border: 1px black solid; }
#server_list_container .details { background-color: #F1F1F1; }
#server_list_container .details > td > div { display: inline-block; vertical-align: top; }
#server_list_container .details .first { width: 400px; }
#server_list_container .details .second { width: 200px; }

#server_list_container .details { display: none; }
#server_list_container .details.opened { display: table-row; }

#server_list_container > table { width: 100%; }


/* jqModal base Styling courtesy of;
  Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
  the Window's z-index value will be set to 3000 by default (in jqModal.js). You
  can change this value by either;
    a) supplying one via CSS
    b) passing the "zIndex" parameter. E.g.  (window).jqm({zIndex: 500}); */
  
.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.spinner { vertical-align: middle; text-align: center; }

a.selected { text-decoration: underline; }

#alerts_list h2 { border-bottom: 1px dashed black; }
#alerts_list ol { padding: 0px; }

.alert_warning, .alert_attention, .alert_info
{-moz-border-radius: 6px; -webkit-border-radius: 6px;
  border: 1px dashed #cbcbcb; margin-bottom: 9px; list-style-type: none;
  min-height: 81px;}

#alerts_list h3 { display: block; float: left; color: #999999;
             padding: 0px; margin: 0px; margin-bottom: 6px; margin-left: 0.5em;}

.alert_warning p, .alert_attention p, .alert_info p { clear: both; text-indent: 2em;}
.alert_warning .time, .alert_attention .time, .alert_info .time
{ display:block; float:right; }

.alert_warning { background-color: #efd4d4; }
.alert_attention { background-color: #d5f3a8; }
.alert_info { background-color: #f3e4a8; }

#alerts_settings_guts li { list-style-type: none; }

.template { display: none; }

#middle_pane { vertical-align: top; }
