/* NorthScale Menelaus Web Console */
/* begin ultimate reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100.01%;
	vertical-align: baseline;
	background: transparent;
}
/* universal styles */
.block {display:block;}
.right {text-align:right;}
.cntr {text-align:center;}
.float_right {float:right;}
.float_left {float:left;}
.clear {display:block; height:0px; overflow:hidden; clear:both;}

.header_2 {height:40px; line-height:40px; padding:5px 0 0 11px; font-size:18px; font-family:Verdana; background:url(../images/devider_line_1.gif) 0 100% repeat-x #dfe0e0; font-weight:normal;}
.header_2 span {color:#f2692d;}
.header_2 .nav {color:#b6b6ba; font-size:11px; padding:0 11px 0 0;}
.header_2 .nav a {font-weight:bolder; color:#0095d6; margin:0 3px; cursor:pointer;}
.header_2 .nav .current {color:#444245; cursor:default;}


body {
	line-height: 1;
  color:#444245;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

blockquote, q
{
	quotes: none;
}

/*
Safari doesn't support the quotes attribute, so we do this instead.
*/
blockquote:before, blockquote:after, q:before, q:after
{
	/*
	CSS 2; used to remove quotes in case "none" fails below.
	*/
	content: "";
	/*
	CSS 2.1; will remove quotes if supported, and override the above.
	User-agents that don't understand "none" should ignore it, and
	keep the above value. This is here for future compatibility,
	though I'm not 100% convinced that it's a good idea...
	*/
	content: none;
}

textarea { overflow: auto; }
input { border: 0px solid white; margin: 0;  padding: 0; }

/* end reset */

/* all links */
a:link {
/*	color: #00A6DE;*/
  color:#0095d6;
	text-decoration: none;
}

#container {
	position: absolute;
	width: 100%;
	min-height: 100%;
}

#header {
	background: url('../images/ns_console_headerbg.png') repeat-x;
	height: 100px;
	left: 12%;
}

#header span {
	position: absolute;
	background: url('../images/ns_console_logov2.png') no-repeat;
	width: 331px;
	height: 57px;
	top: 25px;
	left: 12%;
}

#mainContainer {
	position: relative;
	width: 940px;
	left: 12%;
	/*margin-top: 50px;*/
  padding:50px 0 220px 0;
}

#footer {
	position: absolute;
	background: url('../images/ns_console_footer.png') repeat-x;
	width: 100%;
	height: 208px;
	bottom: 0;
}

#footer h1 {
	padding-top: 30px;
	margin-left: 12%;
	font-family: Verdana;
	font-weight: normal;
	font-size: 11pt;
	color: 	#97979A;;
}

#footer a {
	color: #00A6DE;
	text-decoration: none;
}

td.notify {
}

/*
td.leftNav, td.leftNav ul {
	width: 161px;
	height: 31px;
	font-family: Helvetica;
	font-style: none;
	font-weight: normal;
	font-size: 12pt;
}

/*
td.leftNav ul {
	width: 161px;
	height: 31px;
	cursor: default;
}
*/

td.leftNav ul {display:block; width:160px; border-top:1px solid #e4e9eb;}
td.leftNav ul ul {margin:0 0 -1px 0;}
td.leftNav h1 {padding:0 0 20px 5px; color:#444245;}
td.leftNav li {
	display: block;
  min-height:29px;
	_height: 29px;
	width:160px;
	vertical-align: middle;
	text-align: left;
  line-height:29px;
  font-size:12px;
  border-bottom:1px solid #e4e9eb;
}
td.leftNav li a {display:block; height:29px; padding:0 0 0 12px;}
td.leftNav li a:hover {background:none #eaf4f9;}
td.leftNav ul ul a {padding:0 0 0 24px;}
td.leftNav li.line {
	/*background: url('../images/ns_menu_line.png') no-repeat;*/
	background-position: bottom left;
}

td.leftNav li:hover {
/*	background: url('../images/ns_console_ahover.png') no-repeat;
	background-position: center;*/
/*	height: 30px;
	width: 160px;*/
}

td.leftNav li.indent {
	margin-left: 20px;
}

#mainPanel {
	font-family: Helvetica;
	font-weight: normal;
	font-size: 12pt;
}

body { font-family: Arial, sans-serif; }

/* analytics graph */
#analytics_main_graph { width: 100%; }
#analytics_graph_ops, #analytics_graph_gets, #analytics_graph_sets, #analytics_graph_misses { width: 20%; display: inline-block; }
.analytics_graph_main {height:300px; background:url(../images/devider_line_2.gif) 0 100% repeat-x #eeeeef; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb; padding:0 10px;}
.graph_info_label {padding:3px; font-size:11px;}
.graph_nav {padding:10px 0 10px 2px;}
.graph_nav span {display:block; width:166px !important; height:61px; float:left; overflow:hidden; background:url(../images/mini_graph_bg.gif) 0 0 no-repeat; margin:0 12px; cursor:pointer;}
.graph_nav .selected {background:url(../images/mini_graph_bg.gif) 0 -61px no-repeat;}


#left_pane, #right_pane, #middle_panel { vertical-align: top; }
.section { border: 1px black solid; }
#server_list_container .details { background-color: #F1F1F1; }
#server_list_container .details > td > div { display: inline-block; vertical-align: top; }
#server_list_container .details .first { width: 400px; }
#server_list_container .details .second { width: 200px; }

#server_list_container .details { display: none; }
#server_list_container .details.opened { display: table-row; }

#server_list_container > table { width: 100%; }




/* jqModal base Styling courtesy of;
  Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
  the Window's z-index value will be set to 3000 by default (in jqModal.js). You
  can change this value by either;
    a) supplying one via CSS
    b) passing the "zIndex" parameter. E.g.  (window).jqm({zIndex: 500}); */
  
.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.spinner { vertical-align: middle; text-align: center; }

a.selected { text-decoration: underline; }

#alerts_list h2 { border-bottom: 1px dashed black; }
#alerts_list ol { padding: 0px; }

.alert_warning, .alert_attention, .alert_info
{-moz-border-radius: 6px; -webkit-border-radius: 6px;
  border: 1px dashed #cbcbcb; margin-bottom: 9px; list-style-type: none;
  min-height: 81px;}

#alerts_list h3 { display: block; float: left; color: #999999;
             padding: 0px; margin: 0px; margin-bottom: 6px; margin-left: 0.5em;}

.alert_warning p, .alert_attention p, .alert_info p { clear: both; text-indent: 2em;}
.alert_warning .time, .alert_attention .time, .alert_info .time
{ display:block; float:right; }

.alert_warning { background-color: #efd4d4; }
.alert_attention { background-color: #d5f3a8; }
.alert_info { background-color: #f3e4a8; }

#alerts_settings_guts li { list-style-type: none; }

.template { display: none; }

#middle_pane { vertical-align: top; }

.blue_round_block {}
.blue_round_block .top {height:4px; overflow:hidden; background:url(../images/blue_block_bg.gif) 0 0 no-repeat #eaf4f9;}
.blue_round_block .top div {background:url(../images/blue_block_bg.gif) 100% -4px no-repeat; height:4px;}
.blue_round_block .bottom {height:4px; overflow:hidden; background:url(../images/blue_block_bg.gif) 0 -12px no-repeat #eaf4f9;}
.blue_round_block .bottom div {background:url(../images/blue_block_bg.gif) 100% -8px no-repeat; height:4px;}
.blue_round_block .content {background:none #eaf4f9;}
.blue_round_block a {font-size:12px; color:#0095d6;}

.test_claster {width:160px; margin:30px 0 0 0;}
.test_claster .content {padding:3px 19px;}
.test_claster .label {font-size:12px; color:#444245; margin:0 0 5px 0; display:block;}
.test_claster .start {display:block; width:121px; height:31px; background:url(../images/button_blue.gif) 0 0 no-repeat; font-size:14px; font-weight:bolder; line-height:31px; color:#fff; text-decoration:none; text-align:center; margin:0 0 5px 0;}

/* shadow block */
.shadow_box {}
.shadow_box .top {height:12px; overflow:hidden; background:url(../images/shadow_box_bg.gif) 0 -48px repeat-x;}
.shadow_box .top div {height:12px; background:url(../images/shadow_box_bg.gif) 0 0 no-repeat;}
.shadow_box .top div div {background:url(../images/shadow_box_bg.gif) 100% -12px no-repeat;}
.shadow_box .bottom {height:12px; overflow:hidden; background:url(../images/shadow_box_bg.gif) 0 -60px repeat-x;}
.shadow_box .bottom div {height:12px; background:url(../images/shadow_box_bg.gif) 0 -24px no-repeat;}
.shadow_box .bottom div div {background:url(../images/shadow_box_bg.gif) 100% -36px no-repeat;}
.shadow_box .cnt {background:url(../images/shadow_box_side_bg.gif) 0 0 repeat-y;}
.shadow_box .cnt .pad {background:url(../images/shadow_box_side_bg.gif) 100% 0 repeat-y; padding:0 9px;}
.shadow_box .content {background:none #eeeeef;}
.shadow_box .section {border:0px;}

.shadow_box .darker_block {background:#dfe0e0;}

#top_keys_container {border:1px solid #DBDBDB; border-top:0px;}
#top_keys_container table {width:100%; border-collapse:collapse;}
#top_keys_container table th {padding:10px 5px; text-align:left; border-right:1px solid #d9dce0; border-bottom:1px solid #eaedef; font-size:12px; font-weight:bolder; color:#f2692d; background:none #fbfbfb;}
#top_keys_container table td {border-right:1px solid #d9dce0; font-size:12px; vertical-align:middle; padding:10px 5px; background:none #fff;}
#top_keys_container table .even td {background:none #ececef;}