<table class="list" width="100%">
  <tr>
    <th class="bucket_name">Bucket Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th colspan="2">Data Nodes</th>
    <th colspan="2">Item Count</th>
    <th>Ops/sec</th>
    <th colspan="2" ng-show="!buckets"></th>
    <th colspan="2" ng-show="buckets.isMembase">Disk Fetches/sec</th>
    <th colspan="2" ng-show="buckets.isMemcached">Hit Ratio</th>
    <th colspan="2">RAM/Quota Usage</th>
    <th colspan="2">Data/Disk Usage</th>
    <th></th>
    <th></th>
    <th></th>
    <th class="last"></th>
  </tr>
  <tbody>
    <tr ng-if="!buckets.length">
      <td colspan="19" style="padding:15px">
        No buckets currently defined! Click "Create New Data Bucket" above to create one.
      </td>
    </tr>
  </tbody>
  <tbody ng-if="buckets.length" ng-repeat="bucket in buckets | orderBy:'name' track by bucket.name">
    <tr>
      <td class="bucket_name ellipsis" colspan="4">
        <a
          class="disable-if-stale bucket"
          ng-click="bucketsListCtl.toggleDetails(bucket.name)"
          title="Show Bucket info">
            <span class="expander casper_buckets_bucket_details" ng-class="{closed:!bucketsListCtl.isDetailsOpened(bucket.name)}"></span>
        </a>
        <a class="disable-if-stale" title="View Analytics for {{ bucket.name }}"
          ui-sref="app.admin.analytics.list.graph({analyticsBucket: bucket.name })"
          >{{bucket.name}}</a>
      </td>
      <td colspan="2">
        <span
          title="{{bucket.pieConfig.status[0]}} healthy, {{bucket.pieConfig.status[1]}} warmup, {{bucket.pieConfig.status[2]}} unhealthy"
          class="health_graph"
          chartist
          chartist-data="bucket.pieConfig"
          chartist-chart-type="Pie"
          chartist-chart-options="bucketsListCtl.getPieOptions()"
          style="height:18px;width:18px;"></span>
        {{ bucket.nodes.length }}
      </td>
      <td colspan="2">{{bucket.basicStats.itemCount}}</td>
      <td>{{'round' | mnMath:bucket.basicStats.opsPerSec}}</td>
      <td colspan="2" ng-if="buckets.isMembase">
        {{bucket.basicStats.diskFetches | mnTruncateTo3Digits}}
      </td>
      <td colspan="2" ng-if="buckets.isMemcached">
        {{(bucket.basicStats.hitRatio * 100) | mnTruncateTo3Digits}}%
      </td>
      <td colspan="2">
        {{bucket.basicStats.memUsed | mnFormatQuantity}} /<br>
        {{bucket.quota.ram | mnFormatQuantity}}
      </td>
      <td colspan="2">
        <span ng-show="buckets.isMembase">
          {{bucket.basicStats.dataUsed | mnFormatQuantity}} /<br>
          {{bucket.basicStats.diskUsed | mnFormatQuantity}}
        </span>
        <span ng-show="!buckets.isMembase">N/A</span>
      </td>
      <td colspan="4" class="last" ng-if="buckets.isMembase">
        <a class="list_button disable-if-stale" ui-sref="app.admin.indexes.views.list({viewsBucket: bucket.name})"><span>Views</span></a>
        <a
          class="list_button when-roadmin-hide-me"
          ui-sref="app.admin.documents.control.list({documentsBucket: bucket.name})"><span>Documents</span></a>
      </td>
    </tr>
    <tr ng-if="bucketsListCtl.isDetailsOpened(bucket.name)" ui-view="details"></tr>
  </tbody>
</table>