<table class="list" width="100%">
  <tr>
    <th class="bucket_name">Bucket Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Nodes</th>
    <th colspan="2">Item Count</th>
    <th>Ops/sec</th>
    <th colspan="2" ng-show="!bucketsListCtl.buckets"></th>
    <th colspan="2" ng-show="bucketsListCtl.buckets.isMembase">Disk Fetches/sec</th>
    <th colspan="2" ng-show="bucketsListCtl.buckets.isMemcached">Hit Ratio</th>
    <th colspan="2">RAM/Quota Usage</th>
    <th colspan="2">Data/Disk Usage</th>
    <th></th>
    <th></th>
    <th></th>
    <th class="last"></th>
  </tr>
  <tbody>
    <tr ng-if="!bucketsListCtl.buckets.length">
      <td colspan="18" style="padding:15px">
        No buckets currently defined! Click "Create New Data Bucket" above to create one.
      </td>
    </tr>
  </tbody>
  <tbody ng-if="bucketsListCtl.buckets.length" ng-repeat="bucket in bucketsListCtl.buckets | orderBy:'name' track by bucket.name">
    <tr>
      <td class="bucket_name ellipsis" colspan="4">
        <a
          class="disable-if-stale bucket"
          ng-click="bucketsListCtl.toggleDetails(bucket.name)"
          title="Show Bucket info">
            <span class="expander casper_buckets_bucket_details" ng-class="{closed:!bucketsListCtl.isDetailsOpened(bucket.name)}"></span>
        </a>
        <a class="disable-if-stale" title="View Analytics for {{ bucket.name }}"
          ui-sref="app.admin.analytics.list.graph({analyticsBucket: bucket.name })"
          >{{bucket.name}}</a>
      </td>
      <td>
        <span id="{{bucket.name}}_health" class="health_graph"></span>
        {{ bucket.nodes.length }}
      </td>
      <td colspan="2">{{bucket.basicStats.itemCount}}</td>
      <td>{{bucket.roundedOpsPerSec}}</td>
      <td colspan="2" ng-if="bucketsListCtl.buckets.isMembase">
        {{bucket.truncatedDiskFetches}}
      </td>
      <td colspan="2" ng-if="bucketsListCtl.buckets.isMemcached">
        {{bucket.truncatedHitRatio}}%
      </td>
      <td colspan="2">
        {{bucket.basicStats.memUsed | mnFormatQuantity}} /<br>
        {{bucket.quota.ram | mnFormatQuantity}}
      </td>
      <td colspan="2">
        <span ng-show="bucketsListCtl.buckets.isMembase">
          {{bucket.basicStats.dataUsed | mnFormatQuantity}} /<br>
          {{bucket.basicStats.diskUsed | mnFormatQuantity}}
        </span>
        <span ng-show="!bucketsListCtl.buckets.isMembase">N/A</span>
      </td>
      <td colspan="4" class="last" ng-if="bucketsListCtl.buckets.isMembase">
        <a class="list_button disable-if-stale" ui-sref="app.admin.indexes.views.list({viewsBucket: bucket.name})"><span>Views</span></a>
        <a
          class="list_button when-roadmin-hide-me"
          ui-sref="app.admin.documents.control.list({documentsBucket: bucket.name})"><span>Documents</span></a>
      </td>
    </tr>
    <tr ng-if="bucketsListCtl.isDetailsOpened(bucket.name)" ui-view="details"></tr>
  </tbody>
</table>