<div class="cbui-table">
  <div class="cbui-table-header">
    <span class="cbui-table-cell flex-grow-3">name</span>
    <span class="cbui-table-cell">items</span>
    <span class="cbui-table-cell">resident</span>
    <span class="cbui-table-cell">ops/sec</span>
    <span class="cbui-table-cell flex-grow-1-5">RAM used/quota</span>
    <span class="cbui-table-cell">disk used</span>
    <span class="cbui-table-cell flex-grow-1-5"></span>
  </div>
  <div class="zero-content" ng-if="!buckets.length">
    No buckets currently defined! Use "ADD BUCKET" above to create one.
  </div>
  <div
     ng-if="buckets.length"
     ng-repeat="bucket in buckets | orderBy:'name' track by bucket.name"
     ui-view="item">
  </div>
</div>
