<mn-element-cargo depot="alerts">
  <div
     class="interim alert alert-warning"
     ng-repeat="warning in serversCtl.mnPoolDefault.value.failoverWarnings"
     ng-show="warning && warning != 'failoverNeeded' && !poolDefault.rebalancing">
    <p>Fail Over Warning: {{warning | formatFailoverWarnings}}</p>
  </div>
  <div
     class="interim alert alert-warning"
     ng-show="adminCtl.tasks.isLoadingSamples && rbac.cluster.tasks.read">
    <p>Warning: Rebalance is not available until data loading is completed!</p>
  </div>
  <div
     class="interim alert alert-warning"
     ng-show="serversCtl.autoFailoverSettings.data.count > 0 && rbac.cluster.settings.read">
    <p>A server was automatically failed over.</p>
    <button
       ng-show="rbac.cluster.settings.write"
       ng-click="adminCtl.resetAutoFailOverCount()">Reset Quota</button>
  </div>
</mn-element-cargo>

<div
   mn-spinner="!serversCtl.nodes || (rbac.cluster.tasks.read && !adminCtl.tasks) || (rbac.cluster.server_groups.read && !serversCtl.getGroupsByHostname)"
   min-height="300px">
  <div class="interim row">
    <span class="left pills">
      <a
         ui-sref="app.admin.servers.list({ list: 'active' })"
         ui-sref-active="pills-selected">Active Servers</a>
      <a
         ui-sref="app.admin.servers.list({ list: 'pending' })"
         ui-sref-active="pills-selected">Pending Rebalance</a>
      <span
         class="label red badge"
         data-ng-show="!poolDefault.rebalancing && serversCtl.nodes.pending.length">
        {{serversCtl.nodes.pending.length}}
      </span>
    </span>
    <span class="right">
      <button
         class="outline"
         ui-sref="app.admin.servers.list.groups"
         ng-show="poolDefault.isGroupsAvailable && poolDefault.isEnterprise && rbac.cluster.server_groups.read">Server Groups</button>
      <button
         ng-show="poolDefault && !poolDefault.rebalancing && rbac.cluster.nodes.write"
         ng-click="serversCtl.addServer()">+ Add Server</button>
      <button
         ng-show="!poolDefault.rebalancing  && rbac.cluster.nodes.write && rbac.cluster.tasks.read"
         ng-click="serversCtl.postRebalance()"
         ng-disabled="adminCtl.tasks.inRecoveryMode || (!serversCtl.nodes.pending.length && poolDefault.balanced) || serversCtl.nodes.unhealthyActive || adminCtl.tasks.isLoadingSamples || adminCtl.tasks.isOrphanBucketTask"
         class="orange">Rebalance</button>
      <button
         class="orange"
         ng-show="poolDefault.rebalancing && rbac.cluster.nodes.write"
         ng-click="serversCtl.stopRebalance()">
        <span ng-show="adminCtl.tasks.isSubtypeGraceful">Stop Fail Over</span>
        <span ng-show="!adminCtl.tasks.isSubtypeGraceful">Stop Rebalance</span>
      </button>
      <button
         ng-click="serversCtl.onStopRecovery()"
         ng-show="adminCtl.tasks.inRecoveryMode && rbac.cluster.tasks.read && rbac.cluster.bucket[adminCtl.tasks.tasksRecovery.bucket].write"
         class="orange">Stop Recovery</button>
    </span>
  </div>
  <div ui-view></div>
</div>
