<div id="js_servers" class="servers" data-ng-class="{'rebalancing': serversCtl.state.rebalancing}">
  <h1>Servers</h1>
  <div
    class="warning_message failover_warning"
    ng-repeat="warning in serversCtl.mnPoolDefault.value.failoverWarnings"
    ng-show="warning && warning != 'failoverNeeded'">
      <span>Fail Over Warning: <span class="warning-text">{{warning | formatFailoverWarnings}}</span></span>
  </div>
  <div
    class="warning_message"
    style="color:red;"
    id="js_rebalance_during_sample_load"
    ng-show="serversCtl.state.showWarningMessage">
      Warning: Rebalance is not available until data loading is completed!
  </div>
  <div
    id="auto_failover_count_container"
    class="warning_message"
    ng-show="serversCtl.state.autoFailoverSettingsCount > 0">
      A server was automatically failed over
    <a
      class="auto_failover_count_reset edit_btn when-roadmin-hide-me"
      ng-hide="serversCtl.mnPoolDefault.value.isROAdminCreds"
      ng-click="adminCtl.resetAutoFailOverCount()"
      mn-spinner="serversCtl.state.resetQuotaLoading">
      <span>Reset Quota</span>
    </a>
  </div>
  <div class="shadow_box">
    <div class="header_2">
      <span class="staleness-notice">Difficulties communicating with the cluster; displaying cached information!</span>
      <a
        class="btn_1 when-enterprise when-roadmin-avoid-me"
        ui-sref="app.admin.groups"
        id="js_server_groups_tab"
        ng-hide="serversCtl.isServerGroupsDisabled()"><span>Server Groups</span></a>
      <a
        class="add_button btn_1 when-roadmin-hide-me casper_servers_add_popup"
        ng-hide="serversCtl.isAddServerDisabled()"
        ng-click="serversCtl.addServer()"><span>Add Server</span></a>
      <a
        class="rebalance_button btn_1 when-roadmin-hide-me"
        ng-hide="serversCtl.isRebalanceDisabled()"
        ng-click="serversCtl.postRebalance()"><span>Rebalance</span></a>
      <a
        class="stop_rebalance_button btn_1 when-roadmin-hide-me"
        ng-hide="serversCtl.stopRebalanceDisabled()"
        ng-click="serversCtl.stopRebalance()">
        <span ng-show="serversCtl.state.tasks.isSubtypeGraceful">Stop Fail Over</span>
        <span ng-show="!serversCtl.state.tasks.isSubtypeGraceful">Stop Rebalance</span>
      </a>
      <a
        class="stop_recovery_button btn_1 when-roadmin-hide-me"
        ng-click="serversCtl.onStopRecovery()"
        ng-hide="serversCtl.stopRecoveryDisabled()"><span>Stop Recovery</span></a>
      <ul class="tabs">
        <li class="tab_left">
          <a
            ui-sref="app.admin.servers.list({ list: 'active' })"
            ui-sref-active="selected">Active Servers</a>
        </li>
        <li class="tab_right" id="rebalance_tab">
          <a
            class="casper_servers_pending_rebalance_tab"
            ui-sref="app.admin.servers.list({ list: 'pending' })"
            ui-sref-active="selected">Pending Rebalance</a>
            <span
              class="badge"
              data-ng-show="serversCtl.state.showPendingBadge"><span>
                {{serversCtl.state.pendingLength}}
              </span>
            </span>
        </li>
      </ul>
    </div>
    <div ui-view></div>
  </div>
</div>
