<div
   mn-spinner="settingsClusterCtl.clusterName === undefined || !settingsClusterCtl.memoryQuotaConfig || (rbac.cluster.indexes.read && poolDefault.compat.atLeast40 && !settingsClusterCtl.indexSettings) || (poolDefault.value.isEnterprise && !settingsClusterCtl.certificate) || settingsClusterCtl.memoryQuotaLoading || settingsClusterCtl.indexSettingsLoading"
   class="interim main-content">
  <form
     ng-submit="settingsClusterCtl.saveVisualInternalSettings()"
     class="forms">
    <div class="formrow width-300">
      <label for="cluster-name-field">Cluster Name</label>
      <span class="input-append">
        <input
           id="cluster-name-field"
           type="text"
           maxlength="256"
           ng-model="settingsClusterCtl.clusterName"
           ng-disabled="!rbac.cluster.pools.write">
        <small>&nbsp; (0 — 256 chars)</small>
      </span>
    </div>
    <div class="formrow">
      <h4>RAM Quotas <small>in megabytes per server node</small></h4>
    </div>
    <div
       rbac="rbac"
       class="indent-1"
       mn-memory-quota="settingsClusterCtl.memoryQuotaConfig"
       errors="settingsClusterCtl.memoryQuotaErrors">
    </div>

    <h4 ng-show="poolDefault.compat.atLeast40 && rbac.cluster.indexes.read">
      Index Settings
    </h4>
    <div ng-show="poolDefault.compat.atLeast40 && rbac.cluster.indexes.read">
      <div class="formrow">
        <div
           mn-storage-mode="settingsClusterCtl.indexSettings"
           is-disabled="!adminCtl.poolDefault.isEnterprise || !rbac.cluster.indexes.write"
           no-label="true"
           errors="settingsClusterCtl.indexSettingsErrors"></div>
      </div>
      <div class="formrow">
        <a
           class="disclosure link-heavy"
           ng-class="{disclosed: settingsClusterCtl.showAdvancedSettings}"
           ng-click="settingsClusterCtl.showAdvancedSettings = !settingsClusterCtl.showAdvancedSettings">
          {{ settingsClusterCtl.showAdvancedSettings ? 'Hide': 'Show' }} Advanced Index Settings
        </a>
      </div>

      <div ng-show="settingsClusterCtl.showAdvancedSettings">
        <div class="formrow width-300">
          <label for="index_settings_thread">Indexer Threads</label>
          <input
             type="number" min="0"
             ng-model="settingsClusterCtl.indexSettings.indexerThreads"
             ng-disabled="settingsClusterCtl.indexSettings.storageMode === '' || !rbac.cluster.indexes.write"
             id="index_settings_thread">
          <a
             href=""
             uib-tooltip="Number of dedicated threads the indexer uses. On multi-core machines increasing this number will increase the indexer's CPU utilization. Defaults to 0 which instructs the indexer to use all available machine cores.">What&#39;s this?</a>
          <div
             class="error error-field"
             ng-show="settingsClusterCtl.indexSettingsErrors.indexerThreads">
            {{settingsClusterCtl.indexSettingsErrors.indexerThreads}}
          </div>
        </div>
        <div class="formrow width-300">
          <label for="in_memory_snapshot">
            Max Rollback Points
          </label>
          <input
             type="number" min="0"
             ng-model="settingsClusterCtl.indexSettings.maxRollbackPoints"
             ng-disabled="settingsClusterCtl.indexSettings.storageMode === '' || !rbac.cluster.indexes.write"
             id="in_memory_snapshot">
          <a
             href=""
             uib-tooltip="The maximum number of committed rollback points.">What&#39;s this?</a>
          <div
             class="error error-field"
             ng-show="settingsClusterCtl.indexSettingsErrors.maxRollbackPoints">
            {{settingsClusterCtl.indexSettingsErrors.maxRollbackPoints}}
          </div>
        </div>

        <div class="formrow width-300">
          <label for="in_memory_snapshot">
            Max Rollback Points
          </label>
          <input
             type="number" min="0"
             ng-model="settingsClusterCtl.indexSettings.maxRollbackPoints"
             ng-disabled="settingsClusterCtl.indexSettings.storageMode === '' || !rbac.cluster.indexes.write"
             id="in_memory_snapshot">
          <a
             href=""
             uib-tooltip="The maximum number of committed rollback points.">What&#39;s this?</a>
          <div
             class="error error-field"
             ng-show="settingsClusterCtl.indexSettingsErrors.maxRollbackPoints">
            {{settingsClusterCtl.indexSettingsErrors.maxRollbackPoints}}
          </div>

        </div>
      </div>

      <div class="formrow width-300 ">
        <label for="indexer_log_level">
          Indexer Log Level
        </label>
        <select
           ng-model="settingsClusterCtl.indexSettings.logLevel"
           name="logLevel"
           ng-disabled="settingsClusterCtl.indexSettings.storageMode === '' || !rbac.cluster.indexes.write"
           id="indexer_log_level">
          <option value="silent">Silent</option>
          <option value="fatal">Fatal</option>
          <option value="error">Error</option>
          <option value="warn">Warn</option>
          <option value="info">Info</option>
          <option value="verbose">Verbose</option>
          <option value="timing">Timing</option>
          <option value="debug">Debug</option>
          <option value="trace">Trace</option>
        </select>
        <div
           class="error error-field"
           ng-show="settingsClusterCtl.indexSettingsErrors.logLevel">
          {{settingsClusterCtl.indexSettingsErrors.logLevel}}
        </div>
      </div>
    </div>
    <button
       type="submit"
       ng-show="rbac.cluster.pools.write || rbac.cluster.indexes.write"
       ng-disabled="!!settingsClusterCtl.indexSettingsErrors || !!settingsClusterCtl.memoryQuotaErrors">
      Save
    </button>
  </form>
</div>
