<div
  id="js_cluster_settings_container"
  class="cluster_settings_container"
  mn-spinner="!settingsClusterCtl.state || settingsClusterCtl.clusterSettingsLoading">
  <form
    id="js_cluster_public_settings_form"
    class="cluster_settings_form"
    ng-submit="settingsClusterCtl.saveVisualInternalSettings()">
    <h2>
      Configure Cluster
    </h2>
    <div class="sub_section">
      <label>Cluster Name:</label>
      <input
        type="text"
        name="clusterName"
        maxlength="256"
        ng-model="settingsClusterCtl.state.clusterName">
      <span>(0 — 256 chars)</span>
    </div>
    <h2>Cluster RAM Quota</h2>
    <div
      class="sub_section cluster_quota_settings"
      mn-memory-quota="settingsClusterCtl.state.memoryQuotaConfig"
      errors="settingsClusterCtl.memoryQuotaErrors"></div>
    <h2 class="only-when-40">Index Settings</h2>
    <div class="sub_section index_settings_section js_index_settings_section only-when-40">
      <div
        mn-storage-mode="settingsClusterCtl.state.indexSettings"
        is-disabled="!adminCtl.poolDefault.isEnterprise"
        no-label="true"
        errors="settingsClusterCtl.indexSettingsErrors"></div>
      <a ng-click="settingsClusterCtl.showAdvancedSettings = !settingsClusterCtl.showAdvancedSettings">{{ settingsClusterCtl.showAdvancedSettings ? 'Hide': 'Show' }} Advanced Index Settings</a>
      <div ng-show="settingsClusterCtl.showAdvancedSettings">
        <div class="row">
          <label for="index_settings_thread">Indexer Threads:</label>
          <input
            type="number"
            ng-model="settingsClusterCtl.state.indexSettings.indexerThreads"
            name="indexerThreads"
            ng-disabled="settingsClusterCtl.state.indexSettings.storageMode === ''"
            id="index_settings_thread">
          <a class="tooltip text_11 casper_settings_software_update_tooltip"><span>What's this?</span>
            <span class="tooltip_msg text_11" style="width:310px;"><span>
              Number of dedicated threads the indexer uses. On multi-core machines increasing this number will increase the indexer's CPU utilization. Defaults to 4.
            </span></span>
          </a>
          <span
            class="error-container err-indexerThreads"
            ng-show="settingsClusterCtl.indexSettingsErrors.indexerThreads">
              {{settingsClusterCtl.indexSettingsErrors.indexerThreads}}
          </span>
        </div>
        <div class="row">
          <label for="in_memory_snapshot">In Memory Snapshot Interval:</label>
          <input
            type="number"
            ng-model="settingsClusterCtl.state.indexSettings.memorySnapshotInterval"
            name="memorySnapshotInterval"
            ng-disabled="settingsClusterCtl.state.indexSettings.storageMode === ''"
            id="in_memory_snapshot">
          <span>(ms)</span>
          <a class="tooltip text_11 casper_settings_software_update_tooltip"><span>What's this?</span>
            <span class="tooltip_msg text_11" style="width:310px;"><span>
              Specifies the frequency of in-memory snapshots. This determines
              the earliest possibility of a scan seeing a given KV mutation.
            </span></span>
          </a>
          <span
            class="error-container err-memorySnapshotInterval"
            ng-show="settingsClusterCtl.indexSettingsErrors.memorySnapshotInterval">
              {{settingsClusterCtl.indexSettingsErrors.memorySnapshotInterval}}
          </span>
        </div>
        <div class="row">
          <label for="in_memory_snapshot">Stable Snapshot Interval:</label>
          <input
            type="number"
            ng-model="settingsClusterCtl.state.indexSettings.stableSnapshotInterval"
            name="stableSnapshotInterval"
            ng-disabled="settingsClusterCtl.state.indexSettings.storageMode === ''"
            id="in_memory_snapshot">
          <span>(ms)</span>
          <a class="tooltip text_11 casper_settings_software_update_tooltip"><span>What's this?</span>
            <span class="tooltip_msg text_11" style="width:310px;"><span>
              Specifies the frequency of persisted snapshots for recovery.
            </span></span>
          </a>
          <span
            class="error-container err-stableSnapshotInterval"
            ng-show="settingsClusterCtl.indexSettingsErrors.stableSnapshotInterval">
              {{settingsClusterCtl.indexSettingsErrors.stableSnapshotInterval}}
          </span>
        </div>
        <div class="row">
          <label for="in_memory_snapshot">Max Rollback Points:</label>
          <input
            type="number"
            ng-model="settingsClusterCtl.state.indexSettings.maxRollbackPoints"
            name="maxRollbackPoints"
            ng-disabled="settingsClusterCtl.state.indexSettings.storageMode === ''"
            id="in_memory_snapshot">
          <a class="tooltip text_11 casper_settings_software_update_tooltip"><span>What's this?</span>
            <span class="tooltip_msg text_11" style="width:310px;"><span>
              The maximum number of committed rollback points.
            </span></span>
          </a>
          <span
            class="error-container err-maxRollbackPoints"
            ng-show="settingsClusterCtl.indexSettingsErrors.maxRollbackPoints">
              {{settingsClusterCtl.indexSettingsErrors.maxRollbackPoints}}
          </span>
        </div>
        <div class="row">
          <label for="indexer_log_level">Indexer Log Level:</label>
          <select
            ng-model="settingsClusterCtl.state.indexSettings.logLevel"
            name="logLevel"
            ng-disabled="settingsClusterCtl.state.indexSettings.storageMode === ''"
            id="indexer_log_level">
            <option value="silent">Silent</option>
            <option value="fatal">Fatal</option>
            <option value="error">Error</option>
            <option value="warn">Warn</option>
            <option value="info">Info</option>
            <option value="verbose">Verbose</option>
            <option value="timing">Timing</option>
            <option value="debug">Debug</option>
            <option value="trace">Trace</option>
          </select>
          <span
            class="error-container err-logLevel"
            ng-show="settingsClusterCtl.indexSettingsErrors.logLevel">
              {{settingsClusterCtl.indexSettingsErrors.logLevel}}
          </span>
        </div>
      </div>
    </div>
    <div class="save_cancel when-roadmin-hide-me">
      <button class="save_button float_right" type="submit" ng-disabled="!!settingsClusterCtl.indexSettingsErrors || !!settingsClusterCtl.memoryQuotaErrors">
        Save
      </button>
    </div>
  </form>
</div>