<div
  class="ldap_setup_container only-when-40 when-enterprise"
  mn-spinner="settingsLdapCtl.viewLoading || !settingsLdapCtl.state">
  <h2>LDAP Auth</h2>
  <div class="sub_section">
    <p>Integrate with a directory server such as Active Directory or LDAP using the LDAP protocol. Users in LDAP can be mapped to Full-Admin / Read-Only Admin in Couchbase.</p>
  </div>
  <div style="float:left;">
    <h3>Setup</h3>
    <form autocomplete="off">
      <div class="sub_section" style="margin-right:0;">
        <span class="error-container err-_" ng-show="settingsLdapCtl.errors._">
          {{settingsLdapCtl.errors._}}
        </span>
        <label>
          <span>Enable:</span>
          <input
            type="checkbox"
            ng-disabled="settingsLdapCtl.mnPoolDefault.value.isROAdminCreds"
            ng-model="settingsLdapCtl.state.enabled">
        </label>
        <label class="textarea_label">
          <span>Read-Only Admins:</span>
          <textarea
            name="roAdmins"
            ng-model="settingsLdapCtl.state.roAdmins"
            ng-disabled="settingsLdapCtl.isReadOnlyAdminsDisabled()"></textarea>
            <a class="text_11 tooltip" style="vertical-align: top;"><span>What's this?</span>
              <span class="tooltip_msg"><span>
                  UIDs must be in ASCII and must be new line separated.
              </span></span>
            </a>
        </label>
        <label class="textarea_label">
          <span>Full Admins:</span>
          <textarea
            name="admins"
            ng-model="settingsLdapCtl.state.admins"
            ng-disabled="settingsLdapCtl.isFullAdminsDisabled()"></textarea>
            <a class="text_11 tooltip" style="vertical-align: top;"><span>What's this?</span>
              <span class="tooltip_msg"><span>
                  UIDs must be in ASCII and must be new line separated.
              </span></span>
            </a>
        </label>
        <label style="display: inline-block;">
          <span>Default:</span>
        </label>
        <span class="radio_set">
          <label>
            <input
              type="radio"
              name="deftype"
              value="roAdmins"
              ng-model="settingsLdapCtl.state.default"
              ng-disabled="settingsLdapCtl.isRadioDefaultDisabled()">
            <span>Read-only</span>
          </label>
          <label>
            <input
              type="radio"
              name="deftype"
              value="admins"
              ng-model="settingsLdapCtl.state.default"
              ng-disabled="settingsLdapCtl.isRadioDefaultDisabled()">
            <span>Full Admin</span>
          </label>
          <label>
            <input
              type="radio"
              name="deftype"
              value=""
              ng-model="settingsLdapCtl.state.default"
              ng-disabled="settingsLdapCtl.isRadioDefaultDisabled()">
            <span>None</span>
          </label>
        </span>
      </div>
    </form>
  </div>
  <div style="overflow: hidden" mn-spinner="settingsLdapCtl.validateSpinner">
    <h3>Test</h3>
    <form ng-submit="settingsLdapCtl.validate()">
      <div class="sub_section">
        <label>
          <span>Username:</span>
          <input
            type="text"
            ng-model="settingsLdapCtl.test.username"
            ng-disabled="settingsLdapCtl.isUserFormDisabled()"
            style="width: 150px;">
        </label>
        <label>
          <span>Password:</span>
          <input
            type="password"
            ng-model="settingsLdapCtl.test.password"
            ng-disabled="settingsLdapCtl.isUserFormDisabled()"
            mn-autocomplete-off
            style="width: 150px;">
        </label>
        <button
          type="submit"
          class="edit_btn"
          ng-disabled="settingsLdapCtl.isValidateButtonDisabled()">Validate</button>
          <p ng-show="settingsLdapCtl.validateErrors">
            {{settingsLdapCtl.validateErrors}}
          </p>
          <p ng-show="settingsLdapCtl.validateResult">
            User {{settingsLdapCtl.validateResult.test.username}} has {{settingsLdapCtl.validateResult.role | formatRoleMessage}} access
            <span ng-show="settingsLdapCtl.isRecognizedNotViaLdap()">but it is recognized not via LDAP</span>
          </p>
      </div>
    </form>
  </div>
  <div class="save_cancel">
    <button
      class="save_button float_right"
      ng-click="settingsLdapCtl.save()"
      ng-hide="settingsLdapCtl.mnPoolDefault.value.isROAdminCreds">Save</button>
  </div>
</div>