<div mn-spinner="auditCtl.viewLoading">
  <h3>Audit Configuration</h3>
  <p>
    Auditing keeps track of important admin events occurring in Couchbase. Tracking and persisting these events is essential for any secured environment and provides evidence for suspicious/malicious activity in Couchbase.
  </p>
  <form
     ng-submit="auditCtl.submit()"
     name="auditForm"
     class="forms width-300">

    <div class="formrow checkbox-list">
      <input
         type="checkbox"
         id="audit-enable-flag"
         ng-disabled="!rbac.cluster.admin.security.write"
         ng-model="auditCtl.state.auditdEnabled">
      <label for="audit-enable-flag">Enable Auditing</label>
    </div>

    <div class="formrow">
      <label for="target-log-field">Target Log Directory</label>
      <input
         type="text"
         id="target-log-field"
         ng-model="auditCtl.state.logPath"
         ng-disabled="!auditCtl.state.auditdEnabled || !rbac.cluster.admin.security.write">

      <div
         ng-if="auditCtl.errors.logPath"
         class="error error-field">
        {{auditCtl.errors.logPath}}
      </div>
    </div>

    <div class="formrow">
      <label for="log-rotation-interval">Log Rotation Time Interval</label>
      <span class="form-inline">
        <input
           id="log-rotation-interval"
           ng-model="auditCtl.state.rotateInterval"
           ng-disabled="!auditCtl.state.auditdEnabled || !rbac.cluster.admin.security.write"
           type="number">
        <select
           ng-model="auditCtl.state.rotateUnit"
           ng-disabled="!auditCtl.state.auditdEnabled || !rbac.cluster.admin.security.write">
          <option value="minutes">Minutes</option>
          <option value="hours">Hours</option>
          <option value="days">Days</option>
        </select>
      </span>
      <div
         ng-if="auditCtl.errors.rotateInterval"
         class="error error-field">
        {{auditCtl.errors.rotateInterval}}
      </div>
    </div>

    <button
       ng-show="rbac.cluster.admin.security.write"
       ng-disabled="!!auditCtl.errors || auditForm.$pristine"
       class="save_button">Save</button>
  </form>
</div>
