<div class="shadow_box settings" ng-if="rbac.cluster.admin.security.read">
  <div class="header_2">
    <div class="right" style="overflow:hidden;">
      <span class="staleness-notice" ng-show="adminCtl.lostConnState.isActivated">Difficulties communicating with the cluster; displaying cached information!</span>
    </div>
  </div>
  <div class="audit_container when-enterprise only-when-40" mn-spinner="auditCtl.viewLoading">
    <h2>Audit Configuration</h2>
    <p class="sub_section">
      Auditing keeps track of important admin events occurring in Couchbase. Keeping track and persisting these events is essential for any secured environment and provides evidence for suspicious/malicious activity in Couchbase.
    </p>
    <form ng-submit="auditCtl.submit()" name="auditForm">
      <div class="sub_section" style="margin-right:0;">
        <div class="row">
          <label>
            <span>Enable:</span>
            <input
              type="checkbox"
              ng-model="auditCtl.state.auditdEnabled">
          </label>
        </div>
        <div class="row">
          <label>
            <span>Target log directory:</span>
            <input
              ng-model="auditCtl.state.logPath"
              ng-disabled="!auditCtl.state.auditdEnabled"
              class="archive_path_field">
          </label>
          <i ng-if="auditCtl.errors.logPath" class="error-container">
            {{auditCtl.errors.logPath}}
          </i>
        </div>
        <div class="row">
          <label>
            <span>Log rotation time interval:</span>
            <input
              ng-model="auditCtl.state.rotateInterval"
              ng-disabled="!auditCtl.state.auditdEnabled"
              type="number"
              style="width:67px;">
          </label>
          <select
            ng-model="auditCtl.state.rotateUnit"
            ng-disabled="!auditCtl.state.auditdEnabled"
            style="width:75px;">
              <option value="minutes">Minutes</option>
              <option value="hours">Hours</option>
              <option value="days">Days</option>
          </select>
          <i
            ng-if="auditCtl.errors.rotateInterval"
            class="error-container">
              {{auditCtl.errors.rotateInterval}}
          </i>
        </div>
      </div>
      <div class="save_cancel">
        <button
          ng-disabled="!!auditCtl.errors || auditForm.$pristine"
          class="save_button float_right">Save</button>
      </div>
    </form>
  </div>
</div>