<div
   class="panel dialog-med dialog"
   mn-spinner="wizardStep1Ctl.viewLoading || !wizardStep1Ctl.config.selfConfig">
  <div class="panel-header">
    <h2>Configure Server</h2>
    <small>Step 1 of 5</small>
  </div>
  <form
     class="forms"
     novalidate
     ng-submit="wizardStep1Ctl.onSubmit()">
    <div class="panel-content">
      <h3 class="interim">
        Start New Cluster or Join Cluster
      </h3>
      <div class="formrow">
        <input
           type="radio"
           ng-model="wizardStep1Ctl.joinCluster"
           value="no"
           id="for-start-new-cluster">
        <label for="for-start-new-cluster">
          Start a new cluster
        </label>
        <div ng-if="wizardStep1Ctl.isJoinCluster('no')">
          <p>
            The "Per Server RAM Quota" you set below will define
            the amount of RAM each server provides to the Couchbase Cluster. This value will
            be inherited by all servers subsequently joining the cluster, so please set
            appropriately.
          </p>
          <br>
          <div
             class="error error-form"
             ng-show="!!wizardStep1Ctl.setupServicesErrors[0]">
            {{wizardStep1Ctl.setupServicesErrors[0]}}
          </div>
          <div
             class="formrow intent-1"
             mn-memory-quota="wizardStep1Ctl.config.startNewClusterConfig"
             errors="wizardStep1Ctl.postMemoryErrors">
          </div>
          <div
             class="formrow"
             mn-storage-mode="wizardStep1Ctl.config.startNewClusterConfig.indexSettings"
             is-disabled="!wizardStep1Ctl.isEnterprise || !wizardStep1Ctl.config.startNewClusterConfig.services.model.index"
             errors="wizardStep1Ctl.postIndexSettingsErrors">
          </div>
        </div>
      </div>

      <div ng-form novalidate class="formrow">
        <input
           type="radio"
           ng-model="wizardStep1Ctl.joinCluster"
           value="ok"
           id="for-join-cluster">
        <label for="for-join-cluster">
          Join a cluster now
        </label>
        <div ng-if="wizardStep1Ctl.isJoinCluster('ok')">
          <p
             class="error error-form"
             ng-if="wizardStep1Ctl.postJoinClusterErrors">
            <span ng-repeat="error in wizardStep1Ctl.postJoinClusterErrors">
              Attention: {{error}}
            </span>
          </p>
          <div>
            <label for="clusterMemberHostIp">IP Address</label>
            <input
               type="text"
               autocorrect="off"
               spellcheck="false"
               autocapitalize="off"
               id="clusterMemberHostIp"
               ng-model="wizardStep1Ctl.joinClusterConfig.clusterMember.hostname">
          </div>
          <div>
            <label for="join_user_input">Username</label>
            <input
               type="text"
               autocorrect="off"
               spellcheck="false"
               autocapitalize="off"
               id="join_user_input"
               ng-model="wizardStep1Ctl.joinClusterConfig.clusterMember.username">
          </div>
          <div>
            <label for="join_password_input">Password</label>
            <input
               type="password"
               autocorrect="off"
               spellcheck="false"
               mn-autocomplete-off
               ng-model="wizardStep1Ctl.joinClusterConfig.clusterMember.password"
               id="join_password_input">
          </div>
          <div
             class="checkbox-list"
             mn-services="wizardStep1Ctl.joinClusterConfig"></div>
        </div>
      </div>

      <div>
        <h3 class="interim">
          Configure Disk Storage
        </h3>
        <div class="formrow">
          <label for="setup_db_path_input">Databases Path</label>
          <input
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             id="setup_db_path_input"
             ng-model="wizardStep1Ctl.config.dbPath"
             ng-change="wizardStep1Ctl.onDbPathChange()">
          <p>
            Free: {{wizardStep1Ctl.dbPathTotal}}
          </p>
        </div>
        <div class="formrow">
          <label for="setup_index_path_input">Indexes Path</label>
          <input
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             id="setup_index_path_input"
             ng-model="wizardStep1Ctl.config.indexPath"
             ng-change="wizardStep1Ctl.onIndexPathChange()">
          <p>
            Free: {{wizardStep1Ctl.indexPathTotal}}
          </p>
        </div>
        <div
           class="error error-form"
           ng-if="wizardStep1Ctl.postDiskStorageErrors">
          <div ng-repeat="error in wizardStep1Ctl.postDiskStorageErrors">
            Attention: {{error}}<br>
          </div>
        </div>
        <p ng-show="wizardStep1Ctl.isEnterprise">
          Hint: if you use this server in a production environment, use different file systems for databases and indexes.
        </p>
      </div>

      <h3 class="interim">
        Configure Server Hostname
      </h3>
      <div class="formrow">
        <label for="setup_hostname">Hostname</label>
        <input
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           name="hostname"
           id="setup_hostname"
           required
           ng-model="wizardStep1Ctl.config.hostname">
        <div
           class="error error-form"
           ng-if="wizardStep1Ctl.postHostnameErrors[0]">
          {{wizardStep1Ctl.postHostnameErrors[0]}}
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button
         ng-disabled="wizardStep1Ctl.postMemoryErrors && wizardStep1Ctl.joinCluster === 'no'"
         type="submit">Next</button>
    </div>
  </form>
</div>
