<div>
  <div class="interim row margin-top1">
    <span class="pills">
      <a
         ui-sref="app.admin.indexes.views.list({ type: 'development' })"
         ui-sref-active="pills-selected">Development Views</a>

      <a
         ui-sref="app.admin.indexes.views.list({ type: 'production' })"
         ui-sref-active="pills-selected">Production Views</a>
      <span
         class="label red badge"
         ng-show="viewsListCtl.ddocs.production.length && rbac.cluster.bucket[viewsCtl.state.bucketsNames.selected].views.read">{{viewsListCtl.ddocs.production.length}}
      </span>
    </span>

    <span>
      <button
         ng-click="viewsListCtl.showMapreduceCreationDialog()"
         ng-show="viewsListCtl.showViewCreationButtons() && rbac.cluster.bucket[viewsCtl.state.bucketsNames.selected].views.write">Create View</button>
      <button
         ng-show="viewsListCtl.showViewCreationButtons() && rbac.cluster.bucket[viewsCtl.state.bucketsNames.selected].views.write"
         ng-click="viewsListCtl.showSpatialCreationDialog()">Create Spatial View</button>
    </span>
  </div>

  <div mn-spinner="!viewsListCtl.ddocs || viewsListCtl.viewLoading">
    <table class="table-stroked">
      <thead>
        <tr>
          <th>Name</th>
          <th>Language</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="!viewsCtl.state.bucketsNames.selected && !viewsListCtl.ddocs.ddocsAreInFactMissing">
          <td colspan="4">
            No buckets currently defined! Go to <a ui-sref="app.admin.buckets">Data Buckets</a> to create some.
          </td>
        </tr>

        <tr ng-if="viewsListCtl.ddocs.ddocsAreInFactMissing">
          <td colspan="4">
            This node doesn't host the current bucket. For a list of design docs, please open the web console on a different node.
          </td>
        </tr>

        <tr ng-if="viewsCtl.state.bucketsNames.selected && !viewsListCtl.ddocs.ddocsAreInFactMissing && !viewsListCtl.ddocs[viewsListCtl.type].length">
          <td colspan="4">
            <span ng-show="viewsListCtl.isDevelopmentViews">There are currently no design documents in development. <span class="when-roadmin-avoid-me">Click "Create View" above to create one.</span></span>
            <span ng-show="!viewsListCtl.isDevelopmentViews">There are no design documents currently published. <span class="when-roadmin-avoid-me">Please visit "Views" to create one.</span></span>
          </td>
        </tr>

        <tr
           ng-repeat-start="row in viewsListCtl.ddocs[viewsListCtl.type] | orderBy:'hostname' track by row.doc.meta.id"
           ng-if="viewsListCtl.ddocs.rows.length">
          <td>{{row.doc.meta.id}}</td>
          <td>{{row.doc.language || "javascript"}}</td>
          <td>
            <div ng-if="viewsListCtl.tasks[row.doc.meta.id][0].progress && rbac.cluster.tasks.read">
              <div ng-style="{width: {{viewsListCtl.tasks[row.doc.meta.id][0].progress}}%}"></div>
              <span>{{viewsListCtl.tasks[row.doc.meta.id][0].type == 'indexer' ? "Indexing" : "Compacting"}} {{viewsListCtl.tasks[row.doc.meta.id][0].progress}}%</span>
            </div>
          </td>
          <td class="text-right">
            <button
               class="outline"
               ng-show="rbac.cluster.bucket[viewsCtl.state.bucketsNames.selected].views.write"
               ng-click="viewsListCtl.showDdocDeletionDialog(row.doc)">Delete</button>
            <button
               class="outline"
               ng-disabled="(('isEmpty' | lodash:row.doc.json.views) && ('isEmpty' | lodash:row.doc.json.spatial)) || !!(viewsListCtl.tasks[row.doc.meta.id][0].type === 'view_compaction') || !!viewsListCtl.getStartedCompactions()[row.controllers.compact]"
               ng-show="rbac.cluster.bucket[viewsCtl.state.bucketsNames.selected].views.compact"
               ng-click="viewsListCtl.registerCompactionAsTriggeredAndPost(row)">Compact</button>
            <button
               ng-click="viewsListCtl.showCreationDialog(row.doc)"
               ng-show="viewsListCtl.showCreationButton(row) && rbac.cluster.bucket[viewsCtl.state.bucketsNames.selected].views.write">Add View</button>
            <button
               ng-click="viewsListCtl.showCreationDialog(row.doc, true)"
               ng-show="viewsListCtl.showSpatialButton(row) && rbac.cluster.bucket[viewsCtl.state.bucketsNames.selected].views.write">Add Spatial View</button>
            <button
               ng-show="!viewsListCtl.isDevelopmentViews && rbac.cluster.bucket[viewsCtl.state.bucketsNames.selected].views.write"
               ng-click="viewsListCtl.copyToDev(row.doc)">Copy to Dev</button>
            <button
               ng-disabled="('isEmpty' | lodash:row.doc.json.views) && ('isEmpty' | lodash:row.doc.json.spatial)"
               ng-click="viewsListCtl.publishDdoc(row.doc)"
               ng-show="viewsListCtl.showPublishButton(row) && rbac.cluster.bucket[viewsCtl.state.bucketsNames.selected].views.write">Publish</button>
            <div
               class="error"
               ng-show="viewsListCtl.showMatchingWarning(row)">No new views can be added to this document. Delete either mapreduce or spatial views first.</div>
          </td>
        </tr>

        <tr ng-if="('isEmpty' | lodash:row.doc.json.views) && ('isEmpty' | lodash:row.doc.json.spatial)">
          <td colspan="4">No views defined!<span class="when-in-dev"> Click "Create View" above to create one.</span></td>
        </tr>

        <tr
           class="has-hover"
           ng-if="!('isEmpty' | lodash:row.doc.json.views)"
           ng-repeat="(key, view) in row.doc.json.views"
           ui-sref="app.admin.indexes.views.editing.result(viewsListCtl.getInitialViewsFilterParams(key, row, false))">
          <td
             class="padding-left-2"
             colspan="3"
             class="ellipsis">
            <a href="">{{key}}</a>
          </td>
          <td class="text-right">
            <button
               class="outline"
               ng-show="viewsListCtl.isDevModeDoc(row.doc.meta.id) && rbac.cluster.bucket[viewsCtl.state.bucketsNames.selected].views.write"
               ng-click="$event.stopPropagation() || viewsListCtl.showViewDeletionDialog(row.doc, key)">Delete</button>
            <button
               ng-show="rbac.cluster.bucket[viewsCtl.state.bucketsNames.selected].views.write"
               ng-click="$event.stopPropagation()"
               ui-sref="app.admin.indexes.views.editing.result(viewsListCtl.getInitialViewsFilterParams(key, row, false))">{{viewsListCtl.isDevModeDoc(row.doc.meta.id) ? 'Edit' : 'Show' }}</button>
          </td>
        </tr>

        <tr
           class="has-hover"
           ng-repeat-end=""
           ng-if="!('isEmpty' | lodash:row.doc.json.spatial)"
           ng-repeat="(key, spatial) in row.doc.json.spatial"
           ui-sref="app.admin.indexes.views.editing.result(viewsListCtl.getInitialViewsFilterParams(key, row, true))">
          <td
             class="ellipsis padding-left-2"
             colspan="3">
            <a href="">[Spatial] {{key}}</a>
          </td>
          <td class="text-right">
            <button
               class="outline"
               ng-show="viewsListCtl.isDevModeDoc(row.doc.meta.id) && rbac.cluster.bucket[viewsCtl.state.bucketsNames.selected].views.write"
               ng-click="$event.stopPropagation() || viewsListCtl.showViewDeletionDialog(row.doc, key, true)">Delete</button>
            <button
               ng-click="$event.stopPropagation()"
               ng-show="rbac.cluster.bucket[viewsCtl.state.bucketsNames.selected].views.read"
               ui-sref="app.admin.indexes.views.editing.result(viewsListCtl.getInitialViewsFilterParams(key, row, true))">{{viewsListCtl.isDevModeDoc(row.doc.meta.id) && rbac.cluster.bucket[viewsCtl.state.bucketsNames.selected].views.write ? 'Edit' : 'Show' }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
