<div class="shadow_box" id="views_list" style="clear:left;">
  <div class="header_2">
    <ul class="tabs switcher">
      <li class="tab_left">
        <a ui-sref="app.admin.indexes.views.list({ type: 'development' })" ui-sref-active="selected">Development Views</a>
      </li>
      <li class="tab_right">
        <a class="casper_views_prod_tab" ui-sref="app.admin.indexes.views.list({ type: 'production' })" ui-sref-active="selected">Production Views</a>
        <span class="badge notify" ng-show="viewsListCtl.state.production.length"><span id="prod_view_count">{{viewsListCtl.state.production.length}}</span></span>
      </li>
    </ul>
    <div class="create_view">
      <a
        class="btn_1 button_200 btn_create when-in-dev when-roadmin-hide-me casper_views_create_view_popup"
        style="float: right;"
        ng-click="viewsListCtl.showMapreduceCreationDialog()"
        ng-show="viewsListCtl.showViewCreationButtons()"><span>Create Development View</span></a>
      <a
        class="btn_1 btn_create_spatial when-in-dev when-roadmin-hide-me casper_views_create_view_popup"
        style="float: right; margin-right: 5px;"
        ng-show="viewsListCtl.showViewCreationButtons()"
        ng-click="viewsListCtl.showSpatialCreationDialog()"><span>Create Development Spatial View</span></a>
      <span class="staleness-notice" ng-show="adminCtl.lostConnState.isActivated">Difficulties communicating with the cluster; displaying cached information!</span>
    </div>
  </div>
  <div class="panes">
    <div class="views_list" mn-spinner="!viewsListCtl.state || viewsListCtl.viewLoading">
      <table class="list">
        <thead>
          <tr>
            <th>Name</th>
            <th>Language</th>
            <th>Status</th>
            <th><div style="display:none">Disk Size</div></th>
            <th colspan=2 class="last"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!viewsCtl.state.bucketsNames.selected && !viewsListCtl.state.ddocsAreInFactMissing">
            <td colspan="6" class="empty">
              <span>
                No buckets currently defined! Go to
                <a ui-sref="app.admin.buckets">Data Buckets</a>
                to create some.
              </span>
            </td>
          </tr>
          <tr ng-if="viewsListCtl.state.ddocsAreInFactMissing">
            <td colspan="6" class="empty">
              <span style="line-height:23px">This node doesn't host current bucket yet, so for list of design docs, please, visit different node's UI</span>
            </td>
          </tr>
          <tr ng-if="viewsCtl.state.bucketsNames.selected && !viewsListCtl.state.ddocsAreInFactMissing && !viewsListCtl.state[viewsListCtl.state.type].length">
            <td colspan="6" class="empty">
              <span ng-show="viewsListCtl.isDevelopmentViews" style="line-height:23px">There are currently no Design Documents in Development. <span class="when-roadmin-avoid-me">Click "Create Development View" above to create one.</span></span>
              <span ng-show="!viewsListCtl.isDevelopmentViews" style="line-height:23px">There are no Design Documents currently published. <span class="when-roadmin-avoid-me">Please visit "Development Views" to create one.</span></span>
            </td>
          </tr>
          <tr ng-repeat-start="row in viewsListCtl.state[viewsListCtl.state.type] | orderBy:'hostname' track by row.doc.meta.id" ng-if="viewsListCtl.state.rows.length">
            <td class="design_doc_name ellipsis">
              {{row.doc.meta.id}}
            </td>
            <td class="langv">{{row.doc.language || "javascript"}}</td>
            <td>
              <div class="indexer_progress" ng-if="row.task && row.task.progress">
                <div class="usage_smallest">
                  <div class="used" style="width: {{row.task.progress}}%"></div>
                </div>
                <span class="ddoc_message">{{row.task.type == 'indexer' ? "Indexing" : "Compacting"}} {{row.task.progress}}%</span>
              </div>
            </td>
            <td colspan="3" class="when-roadmin-hide-me" style="height: 33px;">
              <a
                class="list_button when-in-prod casper_views_copy_to_dev"
                ng-show="!viewsListCtl.isDevelopmentViews"
                ng-click="viewsListCtl.copyToDev(row.doc)"><span>Copy to Dev</span></a>

              <a
                class="list_button when-in-dev"
                ng-class="{dynamic_disabled: row.isEmpty}"
                ng-click="viewsListCtl.publishDdoc(row.doc)"
                ng-show="viewsListCtl.showPublishButton(row)"><span>Publish</span></a>

              <a
                class="list_button when-in-dev casper_views_add_view_popup"
                ng-click="viewsListCtl.showCreationDialog(row.doc)"
                ng-show="viewsListCtl.showCreationButton(row)"><span>Add View</span></a>

              <a
                class="list_button when-in-dev casper_views_add_spatial_popup"
                ng-click="viewsListCtl.showCreationDialog(row.doc, true)"
                ng-show="viewsListCtl.showSpatialButton(row)"><span>Add Spatial View</span></a>

              <a
                class="list_button casper_views_delete_popup"
                ng-hide="viewsListCtl.mnPoolDefault.value.isROAdminCreds"
                ng-click="viewsListCtl.showDdocDeletionDialog(row.doc)"><span>Delete</span></a>

              <button
                class="list_button"
                ng-class="{dynamic_disabled: row.disableCompact}"
                ng-hide="viewsListCtl.mnPoolDefault.value.isROAdminCreds"
                ng-click="!row.disableCompact && viewsListCtl.registerCompactionAsTriggeredAndPost(row)"><span>Compact</span></button>

              <div
                class="warning"
                style="overflow: hidden; margin-top:4px;"
                ng-show="viewsListCtl.showMatchingWarning(row)">No new views can be added to this document. Delete either mapreduce or spatial views first.</div>

            </td>
          </tr>
          <tr ng-if="row.isEmpty">
            <td colspan="5" style="padding:15px;line-height:23px;">No views defined!<span class="when-in-dev"> Click "Create Development View" above to create one.</span></td>
          </tr>
          <tr ng-if="row.containsViews" ng-repeat="(key, view) in row.doc.json.views">
            <td class="view_name ellipsis" colspan="5">
              <a
                class="casper_views_view_tab"
                style="display:block;line-height:33px;"
                ui-sref="app.admin.indexes.views.editing.result(viewsListCtl.getInitialViewsFilterParams(key, row, false))">{{key}}</a>
            </td>
            <td>
              <a class="list_button btn_remove when-roadmin-avoid-me" ng-show="row.isDevModeDoc && !viewsListCtl.mnPoolDefault.value.isROAdminCreds" ng-click="viewsListCtl.showViewDeletionDialog(row.doc, key)"><span>Delete</span></a>
              <a class="list_button btn_edit" ui-sref="app.admin.indexes.views.editing.result(viewsListCtl.getInitialViewsFilterParams(key, row, false))"><span>{{(row.isDevModeDoc && !viewsListCtl.mnPoolDefault.value.isROAdminCreds) ? 'Edit' : 'Show' }}</span></a>
            </td>
          </tr>
          <tr ng-repeat-end="" ng-if="row.containsSpatials" ng-repeat="(key, spatial) in row.doc.json.spatial">
            <td class="view_name ellipsis" colspan="5">
              <a ui-sref="app.admin.indexes.views.editing.result(viewsListCtl.getInitialViewsFilterParams(key, row, true))">[Spatial] {{key}}</a>
            </td>
            <td>
              <a class="list_button btn_remove when-roadmin-avoid-me" ng-show="row.isDevModeDoc && !viewsListCtl.mnPoolDefault.value.isROAdminCreds" ng-click="viewsListCtl.showViewDeletionDialog(row.doc, key, true)"><span>Delete</span></a>
              <a class="list_button btn_edit" ui-sref="app.admin.indexes.views.editing.result(viewsListCtl.getInitialViewsFilterParams(key, row, true))"><span>{{(row.isDevModeDoc && !viewsListCtl.mnPoolDefault.value.isROAdminCreds) ? 'Edit' : 'Show' }}</span></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>