<div
   ng-messages="settingsSampleBucketsCtl.state.warnings"
   ng-message-multiple>
  <div
     ng-message="quota"
     class="alert alert-warning"><p>Insufficient RAM quota available to add the selected sample data. Please free up at least {{settingsSampleBucketsCtl.state.warnings.quota}}mb of RAM quota in <a href="#settings">cluster settings</a>.</p></div>
  <div
     ng-message="rebalance"
     class="alert alert-warning"><p>Can not load samples during rebalance.</p></div>
  <div
     ng-message="maxBucketCount"
     class="alert alert-warning"><p>Maximum number of buckets has been reached. For optimal performance, no more than {{settingsSampleBucketsCtl.state.warnings.maxBucketCount}} buckets are allowed.</p></div>
</div>

<div class="interim main-content">
  <form
     class="forms"
     ng-submit="settingsSampleBucketsCtl.installSampleBuckets()"
     mn-spinner="!settingsSampleBucketsCtl.state || settingsSampleBucketsCtl.viewLoading">
    <p>
      Sample buckets contain example data and Couchbase views.<br>
      You can provision one or more sample buckets to help you discover the power of Couchbase Server.
    </p>
    <p class="red">
      Sample buckets can be accessed without a password! They are only recommended for non-production environments.
    </p>

    <h4>Installed Samples</h4>
    <div class="formrow checkbox-list">
      <div ng-repeat="bucket in settingsSampleBucketsCtl.state.installed">
        {{bucket.name}}
      </div>
      <div ng-if="!settingsSampleBucketsCtl.state.installed.length">
        There are no installed samples to display.
      </div>
    </div>

    <h4>Available Samples</h4>
    <div class="formrow checkbox-list">
      <div ng-repeat="bucket in settingsSampleBucketsCtl.state.available">
        <input
           type="checkbox"
           ng-false-value="0"
           ng-true-value="{{bucket.quotaNeeded}}"
           id="setup-sample-{{bucket.name}}"
           ng-disabled="!rbac.cluster.buckets.create"
           ng-model="settingsSampleBucketsCtl.selected[bucket.name]">
        <label class="checkbox" for="setup-sample-{{bucket.name}}">{{bucket.name}}</label>
      </div>
      <div ng-if="!settingsSampleBucketsCtl.state.available.length">
        There are no samples available to install.
      </div>
    </div>

    <button
       type="submit"
       ng-show="rbac.cluster.buckets.create"
       ng-disabled="settingsSampleBucketsCtl.isCreateButtonDisabled() && !settingsSampleBucketsCtl.state.available.length">Load Sample Data</button>

  </form>
</div>
