<div mn-spinner="logsCollectInfoCtl.viewLoading || !logsCollectInfoCtl.state.nodes" min-height="300px">
  <h3>Select Nodes</h3>
  <p>Collect logs and diagnostic information from:</p>
  <form
     ng-submit="logsCollectInfoCtl.submit()"
     name="collectForm"
     class="forms width-300">
    <div
       class="error error-field"
       ng-show="logsCollectInfoCtl.errors._">{{logsCollectInfoCtl.errors._}}</div>

    <div class="checkbox-list indent-1">
      <div class="formrow">
        <input
           type="radio"
           name="from"
           value="*"
           ng-model="logsCollectInfoCtl.collect.from"
           id="all_nodes_radio"
           checked="checked">
        <label for="all_nodes_radio">All Nodes</label>
        <input
           type="radio"
           name="from"
           value=""
           ng-model="logsCollectInfoCtl.collect.from"
           id="selected_nodes_radio">
        <label for="selected_nodes_radio">Selected Nodes</label>
      </div>

      <div class="formrow">
        <div ng-repeat="node in logsCollectInfoCtl.state.nodes track by node.otpNode">
          <span
             class="icon margin-right-1"
             ng-class="['dynamic_' + node.status, 'dynamic_' + node.clusterMembership]"></span>
          <input
             type="checkbox"
             ng-model="logsCollectInfoCtl.collect.nodes[node.otpNode]"
             ng-value="node.otpNode"
             ng-attr-id="collected_node_list_{{node.otpNode}}"
             ng-checked="logsCollectInfoCtl.collect.from === '*'"
             ng-disabled="node.status === 'unhealthy' || logsCollectInfoCtl.collect.from">
          <label for="collected_node_list_{{node.otpNode}}">{{ node.hostname | mnStripPortHTML:logsCollectInfoCtl.state.nodes }}</label>
        </div>
      </div>
    </div>

    <div class="formrow checkbox-list">
      <input
         id="js_upload_to_cb"
         ng-model="logsCollectInfoCtl.collect.upload"
         name="upload"
         value="true"
         type="checkbox">
      <label for="js_upload_to_cb">Upload to Couchbase</label>
      <div
         class="error error-field"
         ng-show="logsCollectInfoCtl.errors.upload">{{logsCollectInfoCtl.errors.upload}}</div>
    </div>

    <div class="indent-1" ng-show="logsCollectInfoCtl.collect.upload">
      <div class="formrow">
        <label for="uploadHost_input">Upload to Host</label>
        <input
           id="uploadHost_input"
           ng-model="logsCollectInfoCtl.collect.uploadHost"
           name="uploadHost"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           ng-disabled="!logsCollectInfoCtl.collect.upload"
           required>
        <div
           class="error error-field"
           ng-show="logsCollectInfoCtl.errors.uploadHost">{{logsCollectInfoCtl.errors.uploadHost}}</div>
        <div
           class="error error-field"
           ng-show="logsCollectInfoCtl.collect.upload && collectForm.uploadHost.$error.required">upload host field must be given if upload is selected</div>
      </div>

      <div class="formrow">
        <label for="customer_input">Customer Name</label>
        <input
           id="customer_input"
           name="customer"
           ng-model="logsCollectInfoCtl.collect.customer"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           ng-disabled="!logsCollectInfoCtl.collect.upload"
           required>
        <div
           class="error error-field"
           ng-show="logsCollectInfoCtl.errors.customer">{{logsCollectInfoCtl.errors.customer}}</div>
        <div
           class="error error-field"
           ng-show="logsCollectInfoCtl.collect.upload && collectForm.customer.$error.required">customer field must be given if upload is selected</div>
      </div>

      <div class="formrow">
        <label for="ticket_input">Ticket Number <small>(optional)</small></label>
        <input
           id="ticket_input"
           name="ticket"
           ng-model="logsCollectInfoCtl.collect.ticket"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           ng-disabled="!logsCollectInfoCtl.collect.upload">
        <div
           class="error error-field"
           ng-show="logsCollectInfoCtl.errors.ticket">{{logsCollectInfoCtl.errors.ticket}}</div>
      </div>
    </div>

    <button
       type="submit"
       ng-disabled="logsCollectInfoCtl.collect.nodes.length">Start Collection</button>
  </form>
</div>
