<div mn-spinner="ldapCtl.viewLoading || !ldapCtl.state">
  <h3>LDAP Auth</h3>
  <p>Integrate with a directory server such as Active Directory or LDAP using the LDAP protocol. Users in LDAP can be mapped to Full-Admin / Read-Only Admin in Couchbase.</p>
  <div class="row items-top flex-left">
    <div class="width-480">
      <h3>Setup</h3>
      <form class="forms">
        <div class="error error-form" ng-show="ldapCtl.errors._">
          {{ldapCtl.errors._}}
        </div>

        <div class="formrow checkbox-list">
          <input
             id="enable-security-write"
             type="checkbox"
             ng-disabled="!rbac.cluster.admin.security.write"
             ng-model="ldapCtl.state.enabled">
          <label
             for="enable-security-write"
             class="checkbox">Enable</label>
        </div>

        <div class="formrow">
          <label for="read-only-admins-field">Read-Only Admins:</label>
          <textarea
             id="read-only-admins-field"
             rows="5"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             ng-model="ldapCtl.state.roAdmins"
             ng-disabled="ldapCtl.isReadOnlyAdminsDisabled()"></textarea>
          <a
             href=""
             uib-tooltip="UIDs must be in ASCII and must be new line separated.">What&#39;s this?</a>
        </div>
        <div class="formrow">
          <label for="full-admin-field">Full Admins:</label>
          <textarea
             id="full-admin-field"
             autocorrect="off"
             autocapitalize="off"
             spellcheck="false"
             rows="5"
             ng-model="ldapCtl.state.admins"
             ng-disabled="ldapCtl.isFullAdminsDisabled()"></textarea>
          <a
             href=""
             uib-tooltip="UIDs must be in ASCII and must be new line separated.">What&#39;s this?</a>
        </div>

        <div class="formrow checkbox-list">
          <h4>Default:</h4>
          <input
             id="default-ro-admin-field"
             type="radio"
             name="deftype"
             value="roAdmins"
             ng-model="ldapCtl.state.default"
             ng-disabled="ldapCtl.isRadioDefaultDisabled()">
          <label
             for="default-ro-admin-field"
             class="checkbox">Read-only</label>
          <input
             id="default-admins-field"
             type="radio"
             name="deftype"
             value="admins"
             ng-model="ldapCtl.state.default"
             ng-disabled="ldapCtl.isRadioDefaultDisabled()">
          <label
             for="default-admins-field"
             class="checkbox">Full Admin</label>
          <input
             id="default-none-field"
             type="radio"
             name="deftype"
             value=""
             ng-model="ldapCtl.state.default"
             ng-disabled="ldapCtl.isRadioDefaultDisabled()">
          <label
             for="default-none-field"
             class="checkbox">None</label>
        </div>
        <button
           ng-show="rbac.cluster.admin.security.write"
           ng-click="ldapCtl.save()">Save</button>
      </form>
    </div>

    <div mn-spinner="ldapCtl.validateSpinner" class="width-300 indent-1">
      <h3>Test</h3>
      <form ng-submit="ldapCtl.validate()" class="forms">
        <div class="error error-form" ng-show="ldapCtl.validateErrors">
          {{ldapCtl.validateErrors}}
        </div>
        <div class="formrow">
          <label for="test-username-field">Username:</label>
          <input
             id="test-username-field"
             autocorrect="off"
             spellcheck="false"
             type="text"
             ng-model="ldapCtl.test.username"
             ng-disabled="ldapCtl.isUserFormDisabled()">
        </div>
        <div class="formrow">
          <label for="test-password-field">Password:</label>
          <input
             id="test-password-field"
             type="password"
             ng-model="ldapCtl.test.password"
             ng-disabled="ldapCtl.isUserFormDisabled()"
             mn-autocomplete-off>
        </div>
        <button
           type="submit"
           ng-disabled="ldapCtl.isValidateButtonDisabled()">Validate</button>
        <p ng-show="ldapCtl.validateResult">
          User {{ldapCtl.validateResult.test.username}} has {{ldapCtl.validateResult.role | formatRoleMessage}} access
          <span ng-show="ldapCtl.isRecognizedNotViaLdap()">but it is recognized not via LDAP</span>
        </p>
      </form>
    </div>
  </div>
</div>
