<div
   class="panel dialog-med dialog dialog-wizard"
   mn-spinner="wizardStep4Ctl.viewLoading">
  <div class="panel-header">
    <h2>Notifications</h2>
    <small>Step 4 of 5</small>
  </div>
  <form
     name="wizardStep4Ctl.form"
     class="forms"
     novalidate
     ng-submit="wizardStep4Ctl.onSubmit()">
    <div class="panel-content">
      <h3 class="interim">Update Notifications</h3>
      <div class="formrow">
        <label for="init-notifications-updates-enabled" class="checkbox">
          <input
             type="checkbox"
             id="init-notifications-updates-enabled"
             ng-model="wizardStep4Ctl.sendStats"
             checked="checked">
          Enable software update notifications
        </label>
        <a href="" ng-click="wizardStep4Ctl.showWhatThis = !wizardStep4Ctl.showWhatThis">What&#39;s this?</a>
      </div>
      <p
         ng-show="wizardStep4Ctl.showWhatThis">
        Enabling software update notifications allows notification in the Couchbase web console when a new version of Couchbase Server is available. Configuration information transferred in the update check is anonymous and does not include any stored key-value data.
      </p>
      <div ng-show="!wizardStep4Ctl.isEnterprise">
        <h3 class="interim">Community Updates</h3>
        <p class="margin-top1">Please provide your email address to join the community and receive news on coming events.</p>
      </div>
      <div ng-show="wizardStep4Ctl.isEnterprise">
        <h3 class="interim">Product Registration</h3>
        <p class="margin-top1">Register your Enterprise Edition of Couchbase Server below.</p>
      </div>

      <div
         class="error error-form"
         ng-show="wizardStep4Ctl.form.$invalid">
        <span ng-show="wizardStep4Ctl.form.email.$error.email">Email appears to be invalid</span>
        <span ng-show="wizardStep4Ctl.form.agree.$error.required">Terms and conditions need to be accepted in order to continue</span>
        <span ng-show="wizardStep4Ctl.errors">{{errors}}</span>
      </div>

      <div class="formrow">
        <label for="init-join-community-email">Email</label>
        <input
           id="init-join-community-email"
           type="email"
           name="email"
           ng-model="wizardStep4Ctl.register.email">
      </div>

      <div class="formrow">
        <label for="init-join-community-firstname">First Name</label>
        <input
           type="text"
           id="init-join-community-firstname"
           ng-model="wizardStep4Ctl.register.firstname">
      </div>

      <div class="formrow">
        <label for="init-join-community-lastname">Last Name</label>
        <input
           type="text"
           id="init-join-community-lastname"
           ng-model="wizardStep4Ctl.register.lastname">
      </div>

      <div class="formrow">
        <label for="init-join-community-company">Company</label>
        <input
           type="text"
           id="init-join-community-company"
           ng-model="wizardStep4Ctl.register.company">
      </div>

      <div class="formrow" ng-if="wizardStep4Ctl.isEnterprise">
        <label class="checkbox">
          <input
             type="checkbox"
             ng-model="wizardStep4Ctl.register.agree"
             name="agree">
          I agree to the <a href="http://www.couchbase.com/agreement/free-license" target="_blank">terms and conditions</a> associated with this product.
        </label>
      </div>
      <p>PLEASE NOTE: Running Couchbase Server Enterprise Edition in production environments requires a paid support subscription.</p>
    </div>
    <div class="panel-footer">
      <button
         type="button"
         ui-sref="app.wizard.step3">Back</button>
      <button
         type="submit"
         mn-focus>Next</button>
    </div>
  </form>
</div>
<!-- END init_update_notifications-->
