<td colspan="19" class="settings-placeholder"
  mn-spinner="!bucketsDetailsCtl.bucketDetails">
  <div class="gong_rb">
    <div class="pad">
      <div style="width:800px;float:left;">
        <div ng-if="!bucket.isMemcached && rbac.cluster.bucket[bucket.name].settings.read">
          Replicas: <span>{{bucketsDetailsCtl.bucketDetails.replicaNumber != 0 ? (bucketsDetailsCtl.bucketDetails.replicaNumber | mnCount:'replica copy') : 'disabled'}}</span>
        </div>
        <div ng-if="bucket.isMembase && rbac.cluster.tasks.read">
          Compaction: <span class="bucket_progress_container">
          {{bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask ? bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask.progress + "% complete" : "Not active"}}
          </span>
        </div>
        <div ng-if="!bucket.isMemcached && rbac.cluster.bucket[bucket.name].settings.read">
          Cache Metadata: <span>{{bucketsDetailsCtl.bucketDetails.evictionPolicy === "valueOnly" ? 'Value Ejection' : 'Full Ejection'}}</span>
        </div>
        <div ng-if="!bucket.isMemcached && rbac.cluster.bucket[bucket.name].settings.read">
          Disk I/O priority: <span>{{bucketsDetailsCtl.bucketDetails.threadsNumber === 3 ? 'Low' : 'High'}}</span>
        </div>
      </div>
      <div class="last when-roadmin-hide-me">
        <a
          ng-class="{dynamic_disabled: poolDefault.rebalancing}"
          class="inner_btn casper_buckets_edit_bucket_popup"
          ng-click="!($event | isDisabled) && bucketsDetailsCtl.editBucket(bucketsDetailsCtl.bucketDetails)"
          ng-show="rbac.cluster.bucket[bucket.name].settings.read && rbac.cluster.bucket[bucket.name].settings.write && !bucket.isEphemeral">Edit</a>
        <button
          ng-show="!bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask.cancelURI && bucket.isMembase && rbac.cluster.tasks.read && rbac.cluster.bucket[bucket.name].settings.read && rbac.cluster.bucket[bucket.name].compact && !bucket.isEphemeral"
          class="inner_btn compact_btn"
          ng-class="{dynamic_disabled: bucketsDetailsCtl.compactionTasks.disableCompact}" ng-click="!bucketsDetailsCtl.compactionTasks.disableCompact && bucketsDetailsCtl.registerCompactionAsTriggeredAndPost(bucketsDetailsCtl.bucketDetails.controllers.compactAll, 'disableCompact')">
            <span>Compact</span>
        </button>
        <button
          ng-show="bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask.cancelURI && rbac.cluster.tasks.read && rbac.cluster.bucket[bucket.name].compact"
          class="inner_btn cancel_compact_btn "
          ng-class="{dynamic_disabled: bucketsDetailsCtl.compactionTasks.disableCancel}"
          ng-click="!bucketsDetailsCtl.compactionTasks.disableCancel && bucketsDetailsCtl.registerCompactionAsTriggeredAndPost(bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask.cancelURI, 'disableCancel')">
            <span>Cancel</span>
        </button>
        <button
          ng-class="{dynamic_disabled: poolDefault.rebalancing}"
          class="inner_btn "
          ng-show="rbac.cluster.bucket[bucket.name].settings.read && rbac.cluster.bucket[bucket.name].delete"
          ng-click="!($event | isDisabled) && bucketsDetailsCtl.deleteBucket(bucketsDetailsCtl.bucketDetails)">
            <span>Delete</span>
        </button>
        <button
          ng-class="{dynamic_disabled: poolDefault.rebalancing}"
          ng-show="bucketsDetailsCtl.bucketDetails.controllers !== undefined && bucketsDetailsCtl.bucketDetails.controllers.flush !== undefined && rbac.cluster.bucket[bucket.name].settings.read && rbac.cluster.bucket[bucket.name].flush"
          class="inner_btn "
          ng-click="!($event | isDisabled) && bucketsDetailsCtl.flushBucket(bucketsDetailsCtl.bucketDetails)">
            <span>Flush</span>
        </button>
      </div>
    </div>
    <div class="side side_1"></div>
    <div class="side side_2"></div>
    <div class="side side_3"></div>
    <div class="side side_4"></div>
  </div>

  <div class="additional_server_info bucket_details_info">
    <div
      ng-if="bucketsDetailsCtl.warmUpTasks.length && rbac.cluster.tasks.read"
      mn-warmup-progress
      warm-up-tasks="bucketsDetailsCtl.warmUpTasks"
      sort-by="hostname"></div>

    <h2 ng-show="rbac.cluster.bucket[bucket.name].settings.read">Cache Size</h2>
    <div class="dynamic_ram" ng-show="rbac.cluster.bucket[bucket.name].settings.read">
      <label class="for-hdd-quota">
        <span>Dynamic RAM Quota:</span>
        <span>{{bucketsDetailsCtl.bucketDetails.quota.rawRAM | mnFormatQuantity}}</span>
        <abbr></abbr>
      </label>
    </div>
    <div
      class="usage-block for-ram"
      mn-bar-usage
      base-info="bucketsDetailsCtl.bucketRamGuageConfig"
      ng-show="rbac.cluster.bucket[bucket.name].settings.read">
    </div>

    <div ng-if="bucket.isMembase && rbac.cluster.bucket[bucket.name].settings.read">
      <h2>Storage Size</h2>
      <div class="disk_storage">
        <label class="for-hdd-quota" style="padding:0;">
          <span>Persistence Enabled:</span>
          <span>Yes</span><br>
          <span>Disk Usage:</span>
          <span>{{bucketsDetailsCtl.bucketDetails.basicStats.diskUsed | mnFormatQuantity}}</span><br>
          <span>Data Usage:</span>
          <span>{{bucketsDetailsCtl.bucketDetails.basicStats.dataUsed | mnFormatQuantity}}</span>
          <abbr></abbr>
        </label>
      </div>
      <div
        class="usage-block for-hdd"
        mn-bar-usage base-info="bucketsDetailsCtl.getGuageConfig(bucketsDetailsCtl.bucketDetails)"
        ng-if="rbac.cluster.bucket[bucket.name].settings.read"></div>
    </div>

  </div>
</td>
