<div class="sign-in-background"></div>
<div class="row items-center items-top dialog_main_wrapper">
  <div class="panel dialog-small dialog">
    <div class="panel-header">
      <img
         src="/images/cb_logo_bug_white.svg"
         width="35"
         height="35"
         alt="Couchbase Server"
         class="logobug">
      <h2>Couchbase Server</h2>
    </div>

    <form
       name="loginForm"
       novalidate=""
       ng-submit="!loginForm.$invalid && authCtl.submit()">

      <div class="panel-content forms">
        <div
           class="error error-form"
           ng-show="authCtl.loginFailed">Login failed. Please try again.</div>
        <div class="formrow">
          <input
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             type="text"
             id="auth-username-input"
             ng-model="authCtl.user.username"
             ng-model-options="{updateOn: 'default'}"
             name="username"
             placeholder="Username"
             required
             ng-maxlength="24"
             mn-focus>
          <div
             ng-messages="loginForm.username.$error"
             ng-show="loginForm.username.$dirty"
             class="error error-field">
            <div ng-message="required">Username is required.</div>
            <div ng-message="maxlength">Username must not exceed 24 characters.</div>
          </div>
        </div>

        <div class="formrow">
          <input
             type="password"
             autocorrect="off"
             spellcheck="false"
             id="auth-password-input"
             ng-model="authCtl.user.password"
             ng-model-options="{updateOn: 'default'}"
             name="password"
             placeholder="Password"
             ng-maxlength="24"
             required
             mn-autocomplete-off>
          <div
             ng-messages="loginForm.password.$error"
             ng-show="loginForm.password.$dirty"
             class="error error-field">
            <div ng-message="required">Password is required.</div>
            <div ng-message="maxlength">Password must not exceed 24 characters.</div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button
           type="submit"
           ng-disabled="loginForm.$invalid">Sign In</button>
      </div>
    </form>
  </div>
</div>
