<div id="js_servers" class="servers" data-ng-class="{'rebalancing': mnServersState.rebalancing}">
  <h1>Servers</h1>
  <div
    class="warning_message failover_warning"
    ng-repeat="warning in mnPoolDefault.value.failoverWarnings"
    ng-show="warning && warning != 'failoverNeeded'">
      <span>Fail Over Warning: <span class="warning-text">{{warning | formatFailoverWarnings}}</span></span>
  </div>
  <div class="warning_message" style="color:red;" id="js_rebalance_during_sample_load" ng-show="mnServersState.showWarningMessage">
    Warning: Rebalance is not available until data loading is completed!
  </div>
  <div id="auto_failover_count_container" class="warning_message" ng-show="mnServersState.autoFailoverSettingsCount > 0">
    A server was automatically failed over
    <a
      class="auto_failover_count_reset edit_btn when-roadmin-hide-me"
      ng-hide="mnPoolDefault.value.isROAdminCreds"
      ng-click="mnAdminController.resetAutoFailOverCount()"
      mn-spinner="mnAdminController.resetQuotaLoading">
      <span>Reset Quota</span>
    </a>
  </div>
  <div class="shadow_box">
    <div class="header_2">
      <span class="staleness-notice">Difficulties communicating with the cluster; displaying cached information!</span>
      <a
        class="btn_1 when-enterprise when-roadmin-avoid-me"
        ui-sref="app.admin.groups"
        id="js_server_groups_tab"
        ng-hide="isServerGroupsDisabled()"><span>Server Groups</span></a>
      <a
        class="add_button btn_1 when-roadmin-hide-me casper_servers_add_popup"
        ng-hide="isAddServerDisabled()"
        ng-click="addServer()"><span>Add Server</span></a>
      <a
        class="rebalance_button btn_1 when-roadmin-hide-me"
        ng-hide="isRebalanceDisabled()"
        ng-click="postRebalance()"><span>Rebalance</span></a>
      <a
        class="stop_rebalance_button btn_1 when-roadmin-hide-me"
        ng-hide="stopRebalanceDisabled()"
        ng-click="stopRebalance()">
        <span ng-show="mnAdminController.tasks.isSubtypeGraceful">Stop Fail Over</span>
        <span ng-show="!mnAdminController.tasks.isSubtypeGraceful">Stop Rebalance</span>
      </a>
      <a
        class="stop_recovery_button btn_1 when-roadmin-hide-me"
        ng-click="onStopRecovery()"
        ng-hide="stopRecoveryDisabled()"><span>Stop Recovery</span></a>
      <ul class="tabs">
        <li class="tab_left"><a ui-sref="app.admin.servers({ list: 'active' })" ui-sref-active="selected">Active Servers</a></li>
        <li class="tab_right" id="rebalance_tab">
          <a class="casper_servers_pending_rebalance_tab" ui-sref="app.admin.servers({ list: 'pending' })" ui-sref-active="selected">Pending Rebalance</a>
          <span class="badge" data-ng-show="mnServersState.showPendingBadge"><span>{{mnServersState.pendingLength}}</span></span>
        </li>
      </ul>
    </div>
    <div class="panes">
      <div class="servers_list" mn-spinner="viewLoading || !mnServersState" min-height="91px">
        <table class="list" style="width:100%" mn-sortable-table="hostname">
          <colgroup>
            <col style="width:19%">
            <col style="width:9%">
            <col style='{%= mnServersState.isGroupsAvailable ? "width: 7%;" : "width: 0px;" %}'>
            <col style="width:7%">
            <col style="width:8%">
            <col style="width:8%">
            <col style="width:8%">
            <col style="width:8%">
            <col style="width:4%">
            <col style="width:22%">
          </colgroup>
          <tbody>
            <tr>
              <th mn-sortable-title="hostname" class="node_name" style="text-align:left;">Server Node Name</th>
              <th></th>
              <th mn-sortable-title="group" style='{{ mnServersState.isGroupsAvailable ? "text-align: center!important;" : "width: 0px;" }}'>{{ mnServersState.isGroupsAvailable ? "Group" : " " }}</th>
              <th mn-sortable-title="services">Services</th>
              <th>RAM Usage</th>
              <th>Swap Usage</th>
              <th>CPU Usage</th>
              <th>Data/Disk Usage</th>
              <th style="text-indent:8px;white-space: nowrap;">Items (Active / Replica)</th>
              <th></th>
            </tr>
          </tbody>
          <tbody ng-repeat="node in mnServersState.currentNodes | orderBy:orderBy:invert track by node.otpNode">
            <tr
              ng-if="node.isReAddPossible"
              class="add_back_row when-roadmin-avoid-me"
              ng-hide="mnServersController.mnPoolDefault.value.isROAdminCreds">
              <td colspan="10">
                <span class="add_back_btn" ng-click="reAddNode('full', node.otpNode)"><span>Full Recovery</span></span>
                <span class="add_back_btn only-when-30" ng-click="reAddNode('delta', node.otpNode)"><span>Delta Recovery</span></span>
                <span class="add_b_message">This server is now reachable. Do you want to add it back to the cluster on the next rebalance?</span>
              </td>
            </tr>
            <tr class="server_row " id="{{node.otpNode | mnMakeSafeForCSS}}">
              <td class="node_name ellipsis">
                <a ng-if="!node.isNodeUnhealthy"
                   ng-click="toggleDetails(node.hostname)"
                   class="{{'casper_open_cluster_' + node.otpNode | mnMakeSafeForCSS}}"
                   title="Show Server Node info">
                    <ins class="expander" ng-class="{closed:!isDetailsOpened(node.hostname)}"></ins>
                </a>
                <span ng-if="node.isNodeInactiveFaied &amp;&amp; !node.isNodeUnhealthy">
                  {{node.hostname | mnStripPortHTML:mnServersState.allNodes}}
                </span>
                <span ng-if="node.isNodeUnhealthy">
                  {{node.hostname}}
                </span>
                <a ng-if="!node.isNodeInactiveFaied &amp;&amp; !node.isNodeUnhealthy"
                   title="{{'View Analytics for ' + node.hostname}}"
                   ui-sref="app.admin.analytics.list.graph({statsHostname: node.hostname})">
                  {{node.hostname | mnStripPortHTML:mnServersState.allNodes}}
                </a>
              </td>
              <td class="servers_icons  {{'dynamic_' + node.status + ' dynamic_' + node.clusterMembership}}" ng-class="{dynamic_lastActive: node.isLastActiveData}">
              </td>
              <td>
                <div class="ellipsis" title="{{node.group}}">{{node.group}}</div>
              </td>
              <td style="text-align: left;">
                <div ng-repeat="service in node.services | orderBy:'toString()'">
                  {{service | mnFormatServices}}
                </div>
              </td>

              <td class="ram" mn-vertical-bar="" conf="node.ramUsageConf">
              </td>
              <td class="ram" mn-vertical-bar="" conf="node.swapUsageConf">
              </td>
              <td class="ram" mn-vertical-bar="" conf="node.cpuUsageConf">
              </td>
              <td class="ram">
                <span ng-if="!node.isDataDiskUsageAvailable">
                  N/A
                </span>
                <span ng-if="node.isDataDiskUsageAvailable">
                  {{node.couchDataSize | mnFormatQuantity}} / <br>{{node.couchDiskUsage | mnFormatQuantity}}
                </span>
              </td>
              <td class="rep" style="padding-left:0;padding-right:0;">
                {{node.currItems || 0 | mnFormatQuantity:1000:' ' }}/<br>{{node.currVbItems || 0 | mnFormatQuantity:1000:' ' }}
              </td>
              <td
                ng-if="mnAdminController.tasks.inRebalance &amp;&amp; mnAdminController.tasks.tasksRebalance.status === 'running'"
                class="actions">
                  <span class="usage_info">{{node.rebalanceProgress | mnTruncateTo3Digits}} % Complete</span>
                  <span class="server_usage"><span style="width: {{node.rebalanceProgress | mnTruncateTo3Digits}}%"></span></span>
              </td>
              <td
                ng-if="!mnAdminController.tasks.inRebalance &amp;&amp; node.isNodeInactiveAdded &amp;&amp; node.recoveryType === 'none'"
                class="actions with_state_message">
                  <span class="state_message">Pending Add</span>
                  <a
                    ng-hide="mnServersController.mnPoolDefault.value.isROAdminCreds"
                    class="list_button btn_cancel eject_server when-roadmin-avoid-me"
                    ng-class="{dynamic_disabled: mnAdminController.tasks.inRecoveryMode}"
                    ng-click="!mnAdminController.tasks.inRecoveryMode &amp;&amp; ejectServer(node)"><span>Cancel</span></a>
              </td>
              <td
                ng-if="!mnAdminController.tasks.inRebalance &amp;&amp; node.isNodeInactiveAdded &amp;&amp; node.recoveryType !== 'none'"
                class="actions with_state_message">
                  <span class="state_message">Pending {{node.recoveryType}} recovery</span>
                  <a
                    ng-hide="mnServersController.mnPoolDefault.value.isROAdminCreds"
                    class="list_button btn_cancel eject_server when-roadmin-avoid-me"
                    ng-class="{dynamic_disabled: mnAdminController.tasks.inRecoveryMode}"
                    ng-click="!mnAdminController.tasks.inRecoveryMode &amp;&amp; cancelFailOverNode(node.otpNode)"><span>Cancel</span></a>
              </td>
              <td
                ng-if="!mnAdminController.tasks.inRebalance &amp;&amp; !node.isNodeInactiveAdded &amp;&amp; node.pendingEject"
                class="actions with_state_message">
                  <span class="state_message">Pending Removal</span>
                  <a
                    ng-hide="mnServersController.mnPoolDefault.value.isROAdminCreds"
                    class="list_button btn_cancel remove_from_list when-roadmin-avoid-me"
                    ng-class="{dynamic_disabled: mnAdminController.tasks.inRecoveryMode}"
                    ng-click="!mnAdminController.tasks.inRecoveryMode &amp;&amp; cancelEjectServer(node)"><span>Cancel</span></a>
              </td>
              <td
                ng-if="!mnAdminController.tasks.inRebalance &amp;&amp; !node.isNodeInactiveAdded &amp;&amp; !node.pendingEject"
                class="actions">
                  <a
                    ng-hide="mnServersController.mnPoolDefault.value.isROAdminCreds"
                    class="list_button eject_server when-roadmin-avoid-me casper_servers_remove_popup"
                    ng-class="{dynamic_disabled: node.isLastActiveData || node.isActiveUnhealthy || mnAdminController.tasks.inRecoveryMode}"
                    ng-click="!(node.isLastActiveData || node.isActiveUnhealthy || mnAdminController.tasks.inRecoveryMode) &amp;&amp; ejectServer(node)"><span>Remove</span></a>
                  <a
                    ng-hide="mnServersController.mnPoolDefault.value.isROAdminCreds"
                    class="list_button failover_server when-roadmin-avoid-me casper_servers_failover_popup"
                    ng-class="{dynamic_disabled: node.isLastActiveData || mnAdminController.tasks.inRecoveryMode}"
                    ng-click="!(node.isLastActiveData || mnAdminController.tasks.inRecoveryMode) &amp;&amp; failOverNode(node)"><span>Fail Over</span></a>
                  <span class="failed_over_message">Failed Over: Pending Removal</span>
              </td>
            </tr>
            <tr ng-if="isDetailsOpened(node.hostname)" ui-view="details">
            </tr>
          </tbody>

          <tbody ng-if="!mnServersState.currentNodes.length">
            <tr class="server_row rebalance_empty">
              <td colspan="10">There are no servers pending rebalance.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
