<div>
  <h4>Database Fragmentation</h4>
  <div class="desc">Set the database fragmentation level to determine the point when compaction is triggered.</div>

  <div class="formrow form-inline">
    <input
       type="checkbox"
       id="for-data-frag-percent"
       ng-model="autoCompactionSettings.databaseFragmentationThreshold.percentageFlag"
       ng-disabled="(rbac && !rbac.cluster.settings.write)">
    <label for="for-data-frag-percent"></label>
    <input
       type="number"
       ng-model="autoCompactionSettings.databaseFragmentationThreshold.percentage"
       ng-class="{invalid: validationErrors.databaseFragmentationThreshold_percentage_}"
       ng-disabled="!autoCompactionSettings.databaseFragmentationThreshold.percentageFlag || (rbac && !rbac.cluster.settings.write)">
    <small> %</small>
    <div
       class="error"
       ng-show="validationErrors.databaseFragmentationThreshold_percentage_">
      {{validationErrors.databaseFragmentationThreshold_percentage_}}
    </div>
  </div>

  <div class="formrow form-inline">
    <input
       type="checkbox"
       id="for-data-frag-size"
       ng-disabled="(rbac && !rbac.cluster.settings.write)"
       ng-model="autoCompactionSettings.databaseFragmentationThreshold.sizeFlag">
    <label for="for-data-frag-size"></label>
    <input
       type="number"
       ng-model="autoCompactionSettings.databaseFragmentationThreshold.size"
       ng-class="{invalid: validationErrors.databaseFragmentationThreshold_size_}"
       ng-disabled="!autoCompactionSettings.databaseFragmentationThreshold.sizeFlag || (rbac && !rbac.cluster.settings.write)">
    <small> MB</small>
    <div
       class="error"
       ng-show="validationErrors.databaseFragmentationThreshold_size_">
      {{validationErrors.databaseFragmentationThreshold_size_}}
    </div>
  </div>

  <h4>View Fragmentation</h4>
  <div class="desc">Set the view fragmentation level to determine the point when compaction is triggered.</div>
  <div class="formrow form-inline">
    <input
       type="checkbox"
       id="for-view-frag-percent"
       ng-disabled="(rbac && !rbac.cluster.settings.write)"
       ng-model="autoCompactionSettings.viewFragmentationThreshold.percentageFlag">
    <label for="for-view-frag-percent"></label>
    <input
       ng-model="autoCompactionSettings.viewFragmentationThreshold.percentage"
       ng-class="{invalid: validationErrors.viewFragmentationThreshold_percentage_}"
       ng-disabled="!autoCompactionSettings.viewFragmentationThreshold.percentageFlag || (rbac && !rbac.cluster.settings.write)"
       type="number">
    <small> %</small>
    <div
       class="error"
       ng-show="validationErrors.viewFragmentationThreshold_percentage_">
      {{validationErrors.viewFragmentationThreshold_percentage_}}
    </div>
  </div>

  <div class="formrow form-inline">
    <input
       type="checkbox"
       id="for-view-frag-size"
       ng-disabled="(rbac && !rbac.cluster.settings.write)"
       ng-model="autoCompactionSettings.viewFragmentationThreshold.sizeFlag">
    <label for="for-view-frag-size"></label>
    <input
       type="number"
       ng-model="autoCompactionSettings.viewFragmentationThreshold.size"
       ng-class="{invalid: validationErrors.viewFragmentationThreshold_size_}"
       ng-disabled="!autoCompactionSettings.viewFragmentationThreshold.sizeFlag || (rbac && !rbac.cluster.settings.write)">
    <small>MB</small>
    <div
       class="error"
       ng-show="validationErrors.viewFragmentationThreshold_size_">
      {{validationErrors.viewFragmentationThreshold_size_}}
    </div>
  </div>

  <h4>Time Interval</h4>
  <div class="formrow">
    <input
      type="checkbox"
      id="for-enable-compaction-timeperiod"
      ng-disabled="(rbac && !rbac.cluster.settings.write)"
      ng-model="autoCompactionSettings.allowedTimePeriodFlag">
    <label for="for-enable-compaction-timeperiod">Set the time interval for when compaction is allowed to run</label>

    <div
       mn-period="allowedTimePeriod"
       auto-compaction-settings="autoCompactionSettings"
       rbac="rbac"
       errors="validationErrors">
    </div>

    <input
       type="checkbox"
       id="for-compact-parallel"
       ng-disabled="(rbac && !rbac.cluster.settings.write)"
       ng-class="{invalid: validationErrors.parallelDBAndViewCompaction}"
       ng-model="autoCompactionSettings.parallelDBAndViewCompaction"
       value="true">
    <label for="for-compact-parallel">Compact buckets and views indexes in parallel</label>
    <div
       class="error"
       ng-show="validationErrors.parallelDBAndViewCompaction">
      {{validationErrors.parallelDBAndViewCompaction}}
    </div>
  </div>

  <h4 ng-if="!isBucketsSettings && poolDefault.compat.atLeast40 && indexSettings && indexSettings.storageMode !== 'memory_optimized'">Index Fragmentation</h4>
  <div
     ng-if="!isBucketsSettings && poolDefault.compat.atLeast40 && indexSettings && indexSettings.storageMode !== 'memory_optimized'">
    <div class="formrow form-inline checkbox-list">
      <input
         type="radio"
         ng-disabled="(rbac && !rbac.cluster.settings.write)"
         id="index-regular-compaction-radio"
         ng-value="false"
         ng-model="autoCompactionSettings.indexCircularCompactionFlag">
      <label for="index-regular-compaction-radio">Append-only write mode with index fragmentation level trigger:</label>
      <br>
      <input
         type="number"
         ng-disabled="(rbac && !rbac.cluster.settings.write) || autoCompactionSettings.indexCircularCompactionFlag === true"
         ng-model="autoCompactionSettings.indexFragmentationThreshold.percentage">
        %
      <small
         class="error"
         ng-show="validationErrors.indexFragmentationThreshold_percentage_">
        {{validationErrors.indexFragmentationThreshold_percentage_}}
      </small>
    </div>
    <div class="formrow">
      <input
         type="radio"
         ng-disabled="(rbac && !rbac.cluster.settings.write)"
         id="for-index-circular-compaction"
         ng-value="true"
         ng-model="autoCompactionSettings.indexCircularCompactionFlag">
      <label for="for-index-circular-compaction">Circular write mode with day + time interval trigger:</label>
      <br>
      <span ng-repeat="day in daysOfWeek">
        <input
           ng-disabled="!autoCompactionSettings.indexCircularCompactionFlag || !rbac.cluster.settings.write"
           type="checkbox"
           id="for-compaction-day-{{day}}"
           ng-model="autoCompactionSettings.indexCircularCompactionDaysOfWeek[day]"
           ng-value="day">
        <label for="for-compaction-day-{{day}}">{{day}}</label>
      </span>
    </div>

    <div
       mn-period="indexCircularCompaction"
       auto-compaction-settings="autoCompactionSettings"
       rbac="rbac"
       errors="validationErrors">
    </div>
  </div>

  <div class="formrow">
    <label class="inline">Metadata Purge Interval</label>
    <span
       class="fa-stack icon-info"
       uib-tooltip="Set how frequently a node will purge metadata on deleted items. The available range is 0.04 - 60 where 0.04 = 1h, 0.5 = 12h. If set too high, it may significantly delay the node from reclaiming disk space. If set too low, it may cause data inconsistencies in XDCR or Views."
       tooltip-placement="top">
      <span class="icon fa-circle-thin fa-stack-2x"></span>
      <span class="icon fa-info fa-stack-1x"></span>
    </span>
    <div>
      <div class="form-inline formrow">
        <input
           type="text"
           ng-disabled="(rbac && !rbac.cluster.settings.write)"
           ng-model="autoCompactionSettings.purgeInterval"
           ng-class="{invalid: validationErrors.purgeInterval}"
           id="metadata-purge-frequency">
        <small>Range 0.04 (1 H) - 60days</small>
      </div>
      <div
         class="error"
         ng-show="validationErrors.purgeInterval">
        {{validationErrors.purgeInterval}}
      </div>
    </div>
  </div>
</div>
