<div id="eject_confirmation_dialog" style="width:711px">
    <h1 class="dialog_corner_radius">Confirm Server Removal</h1>
    <div class="warning pat_20">
      <strong>Warning</strong> – Removing this server from the cluster will reduce cache capacity across all data buckets. Are you sure you want to remove this server?
    </div>
    <div class="right save_cancel pas_20 footer_bg">
      <button type="submit" class="save_button float_right" ng-click="doEjectServer()">Remove</button>
      <a class="close casper_close_eject_confirmation_dialog float_right" ng-click="cancel()">Cancel</a>
    </div>
</div>