<div>
  <div
     class="formrow"
     ng-show="!xdcrSettingsCtl.mnPoolDefault.goxdcrEnabled">
    <label for="max_concurrent_reps">XDCR Max Replications Per Bucket</label>
    <input
       type="number"
       ng-model="xdcrSettingsCtl.settings.maxConcurrentReps">
    <div
       class="error"
       ng-show="xdcrSettingsCtl.errors.maxConcurrentReps">
      {{xdcrSettingsCtl.errors.maxConcurrentReps}}
    </div>
  </div>
  <div
     class="formrow"
     ng-show="!xdcrSettingsCtl.mnPoolDefault.goxdcrEnabled">
    <label for="worker_processes_setting">XDCR Workers Per Replication</label>
    <input
       type="number"
       ng-model="xdcrSettingsCtl.settings.workerProcesses">
    <div
       class="error"
       ng-show="xdcrSettingsCtl.errors.workerProcesses">
      {{xdcrSettingsCtl.errors.workerProcesses}}
    </div>
  </div>
  <div
     class="formrow"
     ng-show="xdcrSettingsCtl.mnPoolDefault.goxdcrEnabled">
    <label for="source_nozzle_per_node">XDCR Source Nozzles Per Node</label>
    <input
       type="number"
       ng-model="xdcrSettingsCtl.settings.sourceNozzlePerNode">
    <div
       class="error"
       ng-show="xdcrSettingsCtl.errors.sourceNozzlePerNode">
      {{xdcrSettingsCtl.errors.sourceNozzlePerNode}}
    </div>
  </div>
  <div
     class="formrow"
     ng-show="xdcrSettingsCtl.mnPoolDefault.goxdcrEnabled">
    <label for="target_nozzle_per_node">XDCR Target Nozzles Per Node</label>
    <input
       type="number"
       ng-model="xdcrSettingsCtl.settings.targetNozzlePerNode">
    <div
       class="error"
       ng-show="xdcrSettingsCtl.errors.targetNozzlePerNode">
      {{xdcrSettingsCtl.errors.targetNozzlePerNode}}
    </div>
  </div>
  <div class="formrow">
    <label for="checkpoint_interval">XDCR Checkpoint Interval</label>
    <input
       type="number"
       ng-model="xdcrSettingsCtl.settings.checkpointInterval">
    <div
       class="error"
       ng-show="xdcrSettingsCtl.errors.checkpointInterval">
      {{xdcrSettingsCtl.errors.checkpointInterval}}
    </div>
  </div>
  <div class="formrow">
    <label for="worker_batch_size">XDCR Batch Count</label>
    <input
       type="number"
       ng-model="xdcrSettingsCtl.settings.workerBatchSize">
    <div
       class="error"
       ng-show="xdcrSettingsCtl.errors.workerBatchSize">
      {{xdcrSettingsCtl.errors.workerBatchSize}}
    </div>
  </div>
  <div class="formrow">
    <label for="doc_batch_size_kb">XDCR Batch Size (kB)</label>
    <input
       type="number"
       ng-model="xdcrSettingsCtl.settings.docBatchSizeKb">
    <div
       class="error"
       ng-show="xdcrSettingsCtl.errors.docBatchSizeKb">
      {{xdcrSettingsCtl.errors.docBatchSizeKb}}
    </div>
  </div>
  <div class="formrow">
    <label for="failure_restart_interval">XDCR Failure Retry Interval</label>
    <input
       type="number"
       ng-model="xdcrSettingsCtl.settings.failureRestartInterval">
    <div
       class="error"
       ng-show="xdcrSettingsCtl.errors.failureRestartInterval">
      {{xdcrSettingsCtl.errors.failureRestartInterval}}
    </div>
  </div>
  <div class="formrow">
    <label for="optimistic_replication_threshold">XDCR Optimistic Replication Threshold</label>
    <input
       type="number"
       ng-model="xdcrSettingsCtl.settings.optimisticReplicationThreshold">
    <div
       class="error"
       ng-show="xdcrSettingsCtl.errors.optimisticReplicationThreshold">
      {{xdcrSettingsCtl.errors.optimisticReplicationThreshold}}
    </div>
  </div>
  <div
     class="formrow"
     ng-show="xdcrSettingsCtl.mnPoolDefault.goxdcrEnabled">
    <label for="statistics_collection_interval">XDCR Statistics Collection Interval (ms)</label>
    <input
       type="number"
       ng-model="xdcrSettingsCtl.settings.statsInterval">
    <div
       class="error"
       ng-show="xdcrSettingsCtl.errors.statsInterval">
      {{xdcrSettingsCtl.errors.statsInterval}}
    </div>
  </div>
  <div
     class="formrow"
     ng-show="xdcrSettingsCtl.mnPoolDefault.goxdcrEnabled &&
              xdcrSettingsCtl.mnPools.isEnterprise &&
              xdcrSettingsCtl.mnPoolDefault.compat.atLeast50 &&
              xdcrSettingsCtl.settings.type === 'xmem'">
    <label for="statistics_collection_interval">XDCR Network Usage Limit (MB/sec)</label>
    <input
       type="number"
       ng-model="xdcrSettingsCtl.settings.networkUsageLimit">
    <div
       class="error"
       ng-show="xdcrSettingsCtl.errors.networkUsageLimit">
      {{xdcrSettingsCtl.errors.networkUsageLimit}}
    </div>
  </div>
  <div
     class="formrow"
     ng-show="xdcrSettingsCtl.mnPoolDefault.goxdcrEnabled">
    <label for="per_logging_level">XDCR Logging Level</label>
    <select ng-model="xdcrSettingsCtl.settings.logLevel">
      <option value="Info">Info</option>
      <option value="Debug">Debug</option>
      <option value="Trace">Trace</option>
      <option value="Error">Error</option>
    </select>
    <div
       class="error error-field"
       ng-show="xdcrSettingsCtl.errors.logLevel">
      {{xdcrSettingsCtl.errors.logLevel}}
    </div>
  </div>
</div>
