<div>
  <div class="when-goxdcr-disabled" ng-show="!mnXdcrSettingsController.mnPoolDefault.value.goxdcrEnabled">
    <label for="max_concurrent_reps">XDCR Max Replications per Bucket:</label>
    <input type="text" id="max_concurrent_reps" name="maxConcurrentReps" ng-model="mnXdcrSettingsController.settings.maxConcurrentReps">
    <i class="error js_error js_maxConcurrentReps" ng-show="mnXdcrSettingsController.errors.maxConcurrentReps">{{mnXdcrSettingsController.errors.maxConcurrentReps}}</i>
  </div>
  <div class="when-goxdcr-disabled" ng-show="!mnXdcrSettingsController.mnPoolDefault.value.goxdcrEnabled">
    <label for="worker_processes_setting">XDCR workers per Replication:</label>
    <input type="text" id="worker_processes_setting" name="workerProcesses" ng-model="mnXdcrSettingsController.settings.workerProcesses">
    <i class="error js_error js_workerProcesses" ng-show="mnXdcrSettingsController.errors.workerProcesses">{{mnXdcrSettingsController.errors.workerProcesses}}</i>
  </div>
  <div class="when-goxdcr-enabled" ng-show="mnXdcrSettingsController.mnPoolDefault.value.goxdcrEnabled">
    <label for="source_nozzle_per_node">XDCR Source Nozzles per Node:</label>
    <input type="text" id="source_nozzle_per_node" name="sourceNozzlePerNode" ng-model="mnXdcrSettingsController.settings.sourceNozzlePerNode">
    <i class="error js_error js_sourceNozzlePerNode" ng-show="mnXdcrSettingsController.errors.sourceNozzlePerNode">{{mnXdcrSettingsController.errors.sourceNozzlePerNode}}</i>
  </div>
  <div class="when-goxdcr-enabled" ng-show="mnXdcrSettingsController.mnPoolDefault.value.goxdcrEnabled">
    <label for="target_nozzle_per_node">XDCR Target Nozzles per Node:</label>
    <input type="text" id="target_nozzle_per_node" name="targetNozzlePerNode" ng-model="mnXdcrSettingsController.settings.targetNozzlePerNode">
    <i class="error js_error js_targetNozzlePerNode" ng-show="mnXdcrSettingsController.errors.targetNozzlePerNode">{{mnXdcrSettingsController.errors.targetNozzlePerNode}}</i>
  </div>
  <div>
    <label for="checkpoint_interval">XDCR Checkpoint Interval:</label>
    <input type="text" id="checkpoint_interval" name="checkpointInterval" ng-model="mnXdcrSettingsController.settings.checkpointInterval">
    <i class="error js_error js_checkpointInterval" ng-show="mnXdcrSettingsController.errors.checkpointInterval">{{mnXdcrSettingsController.errors.checkpointInterval}}</i>
  </div>
  <div>
    <label for="worker_batch_size">XDCR Batch Count:</label>
    <input type="text" id="worker_batch_size" name="workerBatchSize" ng-model="mnXdcrSettingsController.settings.workerBatchSize">
    <i class="error js_error js_workerBatchSize" ng-show="mnXdcrSettingsController.errors.workerBatchSize">{{mnXdcrSettingsController.errors.workerBatchSize}}</i>
  </div>
  <div>
    <label for="doc_batch_size_kb">XDCR Batch Size (kB):</label>
    <input type="text" id="doc_batch_size_kb" name="docBatchSizeKb" ng-model="mnXdcrSettingsController.settings.docBatchSizeKb">
    <i class="error js_error js_docBatchSizeKb" ng-show="mnXdcrSettingsController.errors.docBatchSizeKb">{{mnXdcrSettingsController.errors.docBatchSizeKb}}</i>
  </div>
  <div>
    <label for="failure_restart_interval">XDCR Failure Retry Interval:</label>
    <input type="text" id="failure_restart_interval" name="failureRestartInterval" ng-model="mnXdcrSettingsController.settings.failureRestartInterval">
    <i class="error js_error js_failureRestartInterval" ng-show="mnXdcrSettingsController.errors.failureRestartInterval">{{mnXdcrSettingsController.errors.failureRestartInterval}}</i>
  </div>
  <div>
    <label for="optimistic_replication_threshold">XDCR Optimistic Replication Threshold:</label>
    <input type="text" id="optimistic_replication_threshold" name="optimisticReplicationThreshold" ng-model="mnXdcrSettingsController.settings.optimisticReplicationThreshold">
    <i class="error js_error js_optimisticReplicationThreshold" ng-show="mnXdcrSettingsController.errors.optimisticReplicationThreshold">{{mnXdcrSettingsController.errors.optimisticReplicationThreshold}}</i>
  </div>
  <div class="when-goxdcr-enabled" ng-show="mnXdcrSettingsController.mnPoolDefault.value.goxdcrEnabled">
    <label for="statistics_collection_interval">XDCR Statistics Collection Interval (ms):</label>
    <input type="text" id="statistics_collection_interval" name="statsInterval" ng-model="mnXdcrSettingsController.settings.statsInterval">
    <i class="error js_error js_statsInterval" ng-show="mnXdcrSettingsController.errors.statsInterval">{{mnXdcrSettingsController.errors.statsInterval}}</i>
  </div>
  <div class="when-goxdcr-enabled" ng-show="mnXdcrSettingsController.mnPoolDefault.value.goxdcrEnabled">
    <label for="per_logging_level">XDCR Logging Level:</label>
    <select name="logLevel" id="per_logging_level" ng-model="mnXdcrSettingsController.settings.logLevel">
      <option value="Info">Info</option>
      <option value="Debug">Debug</option>
      <option value="Trace">Trace</option>
      <option value="Error">Error</option>
    </select>
    <i class="error js_error js_logLevel" ng-show="mnXdcrSettingsController.errors.logLevel">{{mnXdcrSettingsController.errors.logLevel}}</i>
  </div>
</div>
