<div class="auth_block">
  <div class="page-header">
    <div class="cnt_holder main_holder">
      <div class="topper_nav">
        <a href="javascript:showAbout();">
          About
        </a>
      </div>
    </div>
  </div>
  <div class="pad">
    <div class="alert_red" id="auth_failed_message" ng-if="loginFailed">
      <div class="al_text">
        Login failed. Try again.
      </div>
    </div>
    <form id="login_form" class="form block" autocomplete="off" novalidate="" ng-submit="submit()">
      <fieldset>
        <ul>
          <li>
            <label for="login_inp">Username:</label>
            <input ng-model="user.name" name="name" type="text" class="inp" maxlength="24" autocomplete="off" required>
          </li>
          <li>
            <label for="password2_inp">Password:</label>
            <input ng-model="user.password" name="password" type="password" class="inp" maxlength="24" autocomplete="off" required>
          </li>
        </ul>
        <input type="submit" value="Sign In" class="submit">
      </fieldset>
    </form>
  </div>
</div>