
  <div id="documents_details" class="documents_details">
    <div class="warning_message documents_notice" ng-show="documentsEditingCtl.state.errors">
      Error: {{documentsEditingCtl.state.errors.reason}} ({{documentsEditingCtl.state.errors.error }})
    </div>
    <div class="warning_message documents_notice" ng-show="documentsEditingCtl.areThereWarnings()" ng-messages="documentsEditingCtl.state.editorWarnings">
      <div ng-message="documentLimitError">Warning: Editing of document with size more than 2.5kb is not allowed</div>
      <div ng-message="shouldNotBeNull">Warning: JSON object cannot be null</div>
      <div ng-message="shouldBeAnObject">Warning: JSON should represent an object</div>
      <div ng-message="shouldNotBeAnArray">Warning: JSON should not be an array</div>
      <div ng-message="documentIsBase64">Warning: Editing of binary document is not allowed</div>
      <div ng-message="notFound">Error: not found (Document does not exist)</div>
    </div>
    <div class="shadow_box">
      <div class="header_2 servers_header">
        <div class="docs_title ellipsis">{{documentsEditingCtl.state.title}}</div>
        <div class="editing_ctrls when-roadmin-hide-me">
          <a
            class="btn_1"
            ng-class="{dynamic_disabled: documentsEditingCtl.isDeleteDisabled()}"
            ng-click="!documentsEditingCtl.isDeleteDisabled() && documentsEditingCtl.deleteDocument()"
            id="doc_delete"><span>Delete</span></a>
          <a
            class="btn_1"
            ng-class="{dynamic_disabled: documentsEditingCtl.isSaveAsDisabled()}"
            ng-click="!documentsEditingCtl.isSaveAsDisabled() && documentsEditingCtl.saveAsDialog()"
            id="doc_saveas"><span>Save As...</span></a>
          <a
            class="btn_1 btn_save"
            ng-class="{dynamic_disabled: documentsEditingCtl.isSaveDisabled()}"
            id="doc_save"
            ng-click="!documentsEditingCtl.isSaveDisabled() && documentsEditingCtl.save()"><span>Save</span></a>
          <span class="staleness-notice">Difficulties communicating with the cluster; displaying cached information!</span>
        </div>
      </div>
      <div mn-spinner="documentsEditingCtl.viewLoading || !documentsEditingCtl.state">
        <div
          id="json_doc"
          spellcheck="false"
          cols="20"
          rows="11"
          ng-model="documentsEditingCtl.state.doc"
          ui-codemirror="documentsEditingCtl.editorOptions"
          ng-class="{read_only: documentsEditingCtl.isEditorDisabled()}"
          ></div>
      </div>
    </div>
  </div>