<mn-element-cargo depot="alerts">
  <div
     class="alert alert-error"
     ng-show="documentsEditingCtl.state.errors">
    <p>Error: {{documentsEditingCtl.state.errors.reason}} ({{documentsEditingCtl.state.errors.error }})</p>
  </div>
  <div
     class="alert alert-error"
     ng-show="documentsEditingCtl.areThereWarnings()"
     ng-messages="documentsEditingCtl.state.editorWarnings">
    <p ng-message="documentLimitError">Warning: Editing of document with size more than 256 KiB is not allowed</p>
    <p ng-message="shouldNotBeNull">Warning: JSON object cannot be null</p>
    <p ng-message="shouldBeAnObject">Warning: JSON should represent an object</p>
    <p ng-message="shouldNotBeAnArray">Warning: JSON should not be an array</p>
    <p ng-message="documentIsBase64">Warning: Editing of binary document is not allowed</p>
    <p ng-message="notFound">Error: not found (Document does not exist)</p>
  </div>
</mn-element-cargo>

<div class="interim main-content">
  <div>
    <div class="interim row">
      <div class="ellipsis">{{documentsEditingCtl.state.title}}</div>
      <div class="text-nowrap">
        <button
           ng-hide="rbac.cluster.bucket[documentsCtl.state.bucketsNames.selected].data.write === false"
           ng-disabled="documentsEditingCtl.isDeleteDisabled()"
           ng-click="documentsEditingCtl.deleteDocument()">Delete</button>
        <button
           ng-hide="rbac.cluster.bucket[documentsCtl.state.bucketsNames.selected].data.write === false"
           ng-disabled="documentsEditingCtl.isSaveAsDisabled()"
           ng-click="documentsEditingCtl.saveAsDialog()">Save As...</button>
        <button
           ng-disabled="documentsEditingCtl.isSaveDisabled()"
           ng-hide="rbac.cluster.bucket[documentsCtl.state.bucketsNames.selected].data.write === false"
           ng-click="documentsEditingCtl.save()">Save</button>
      </div>
    </div>
    <div
       class="interim row items-top padded text-small"
       mn-spinner="documentsEditingCtl.viewLoading || !documentsEditingCtl.state">
      <div
         class="width-8 column"
         spellcheck="false"
         ng-model="documentsEditingCtl.state.doc"
         ui-codemirror="documentsEditingCtl.editorOptions"
         ></div>
      <div
         class="width-4"
         spellcheck="false"
         ng-model="documentsEditingCtl.state.meta"
         ui-codemirror="documentsEditingCtl.metaOptions"
         ></div>
    </div>
  </div>
</div>
