<div class="pad" id="init_sample_buckets_dialog" mn-spinner-directive="spinner">
  <form>
    <div class="config-top">
      <h1>Sample Buckets</h1>
      <h2>Step <span class="current-step">2</span> of 5</h2>
    </div>
    <h2 class="question">Sample Data and MapReduce</h2>
    <p class="pad_10">
      Sample buckets are available to demonstrate the power of Couchbase Server.
      These samples contain data and sample MapReduce queries.
    </p>
    <h3>Available Samples</h3>
    <ul id="setup_available_samples">
      <li ng-repeat="bucket in sampleBuckets" ng-if="!bucket.installed">
        <input type="checkbox" ng-false-value="0" ng-true-value="{{bucket.quotaNeeded}}" id="setup-sample-{{bucket.name}}" ng-model="mnWizardStep2ServiceModel.selected[bucket.name]">
        <label for="setup-sample-{{bucket.name}}">{{bucket.name}}</label>
      </li>
      <li ng-if="!sampleBuckets.length">There are no samples available to install.</li>
    </ul>
    <div class="config-bottom">
      <button name="next" value="Next" class="submit next direction-button" id="step-4-next" type="submit" mn-focus-directive="focusMe" ui-sref="wizard.step3">Next</button>
      <button name="back" value="Back" class="submit back direction-button" id="step-4-back" type="button" ui-sref="wizard.step1.views">Back</button>
    </div>
  </form>
</div>