<div
   mn-spinner="settingsNotificationsCtl.viewLoading || !settingsNotificationsCtl.updates"
   class="interim main-content">
  <form
     class="forms width-680"
     ng-submit="settingsNotificationsCtl.submit()">
    <p>
      You are running version {{settingsNotificationsCtl.implementationVersion | mnPrettyVersion}}.
    </p>
    <div ng-if="settingsNotificationsCtl.updates.sendStats">
      <p
         ng-if="settingsNotificationsCtl.updates.newVersion === undefined"
         class="error error-form">
        <strong>Warning</strong> – There was a problem with retreiving the update information.
      </p>
      <p ng-if="settingsNotificationsCtl.updates.newVersion === false">
        <em>No updates available.</em>
      </p>
      <p ng-if="settingsNotificationsCtl.updates.newVersion">
        A new version ({{settingsNotificationsCtl.updates.newVersion}}) is available:
      </p>
      <ul ng-if="settingsNotificationsCtl.updates.newVersion">
        <li>
          <a href="{{settingsNotificationsCtl.updates.links.release}}">Release notes</a>
        </li>
        <li>
          <a href="{{settingsNotificationsCtl.updates.links.download}}">Download</a>
          the new version
        </li>
      </ul>
      <p ng-if="settingsNotificationsCtl.updates.info">
        {{settingsNotificationsCtl.updates.info}}
      </p>
    </div>
    <div class="formrow">
      <label class="checkbox">
        <input
           type="checkbox"
           ng-disabled="!rbac.cluster.settings.write"
           ng-model="settingsNotificationsCtl.updates.enabled">
        Enable software update notifications.
      </label>
      <a class="tooltip text_11 casper_settings_software_update_tooltip"><span>What's this?</span>
        <span class="tooltip_msg text_11" style="width:310px;"><span>
            Enabling software update notifications allows notification in
            the Couchbase web console when a new version of Couchbase Server
            is available. Configuration information transferred in the
            update check is anonymous and does not include any stored
            key-value data.
        </span></span>
      </a>
    </div>
    <button
       ng-show="rbac.cluster.settings.write"
       type="submit">Save</button>
  </form>
</div>
