<div
   class="interim alert alert-warning"
   ng-show="adminCtl.lostConnState.isActivated">
  <p>Difficulties communicating with the cluster; displaying cached information!</p>
</div>
<div
   uib-alert
   class="interim alert alert-warning"
   ng-repeat="alert in overviewCtl.alerts"
   type="{{alert.type}}"
   close="overviewCtl.closeAlert($index)"
   dismiss-on-timeout="{{alert.timeout}}">
  <p>{{alert.msg}}</p>
</div>
<div class="interim main-content">
  <h4>RAM Overview for Data Nodes</h4>
  <hr>
  <div
     class="row indent-1"
     mn-spinner="!overviewCtl.mnOverviewConfig.ramOverviewConfig">
    <div
       class="column bar-usages label-top-0-red"
       mn-bar-usage
       base-info="overviewCtl.mnOverviewConfig.ramOverviewConfig"></div>
  </div>

  <h4>Disk Overview for Data Nodes</h4>
  <hr>
  <div
     class="row indent-1"
     mn-spinner="!overviewCtl.mnOverviewConfig.hddOverviewConfig">
    <div
       class="column bar-usages label-top-0-red"
       mn-bar-usage
       base-info="overviewCtl.mnOverviewConfig.hddOverviewConfig"></div>
  </div>

  <div ng-if="rbac.cluster.bucket['*'].stats.read">
    <h4>
      Buckets ({{overviewCtl.buckets.length || '0'}} active)
    </h4>
    <hr>

    <div class="interim row items-space-around">
      <div
         ng-show="overviewCtl.buckets.length"
         mn-spinner="!overviewCtl.mnOverviewStats.opsGraphConfig">
        <div>Operations per second</div>
        <div
           mn-plot
           mn-plot-config="overviewCtl.mnOverviewStats.opsGraphConfig"
           style="height: 170px; width: 400px;"></div>
      </div>

      <div
         ng-show="overviewCtl.buckets.length"
         mn-spinner="!overviewCtl.mnOverviewStats.readsGraphConfig">
        <div>Disk fetches per second</div>
        <div
           mn-plot
           mn-plot-config="overviewCtl.mnOverviewStats.readsGraphConfig"
           style="height: 170px; width: 400px"></div>
      </div>
    </div>

    <div ng-show="!overviewCtl.buckets.length">
      No buckets currently defined! Go to <a ui-sref="app.admin.buckets">Manage Buckets</a> to create some.
    </div>
  </div>

  <h4>
    Servers
  </h4>
  <hr>
  <div class="interim row items-space-around">
    <div>
      Active Servers: {{overviewCtl.nodes.active.length || '0'}}
    </div>

    <a
       ui-sref="app.admin.servers.list({list: 'pending'})"
       ng-show="overviewCtl.nodes.failedOver.length">
      Servers Failed Over: {{overviewCtl.nodes.failedOver.length}}
    </a>
    <span ng-show="!overviewCtl.nodes.failedOver.length">Servers Failed Over: 0</span>
    <a
       ui-sref="app.admin.servers.list"
       ng-show="overviewCtl.nodes.down.length">
      Servers Down: {{overviewCtl.nodes.down.length}}
    </a>
    <span ng-show="!overviewCtl.nodes.down.length">Servers Down: 0</span>
    <a
       ui-sref="app.admin.servers.list({list: 'pending'})"
       ng-show="overviewCtl.nodes.pending.length">
      Servers Pending Rebalance: {{overviewCtl.nodes.pending.length}}
    </a>
    <span ng-show="!overviewCtl.nodes.pending.length">Servers Pending Rebalance: 0</span>
  </div>
</div>
