<mn-element-cargo depot="header">
  <span ng-show="overviewCtl.aboutState">
    {{overviewCtl.aboutState.implementationVersion | mnPrettyVersion}}
  </span>
</mn-element-cargo>

<div mn-spinner="(rbac.cluster.bucket['*'].stats.read && !overviewCtl.mnOverviewStats) || !overviewCtl.mnOverviewConfig || !overviewCtl.nodes || (rbac.cluster.bucket['*'].settings.read && !overviewCtl.buckets)">

  <div class="row items-top margin-top1 service-widget-row">
    <div
       class="service-widget"
       ng-class="['dynamic_' + overviewCtl.nodes.kv.statusClass]">
      <h4>Data Service</h4>
      <a ui-sref="app.admin.servers.list">
        {{overviewCtl.nodes.kv.length || '0'}}
        node{{overviewCtl.getEndings(overviewCtl.nodes.kv.length)}}
      </a>
      <div
         class="error"
         ng-repeat="(nodeStatuses, count) in overviewCtl.nodes.kv.nodesByStatuses">
        {{count + ' node' + overviewCtl.getEndings(count) + ' ' + nodeStatuses}}
      </div>
    </div>
    <div class="service-widget" ng-class="['dynamic_' + overviewCtl.nodes.index.statusClass]">
      <h4>GSI Service</h4>
      <a ui-sref="app.admin.servers.list">
        {{overviewCtl.nodes.index.length || '0'}}
        node{{overviewCtl.getEndings(overviewCtl.nodes.index.length)}}
      </a>
      <div
         class="error"
         ng-repeat="(nodeStatuses, count) in overviewCtl.nodes.index.nodesByStatuses">
        {{count + ' node' + overviewCtl.getEndings(count) + ' ' + nodeStatuses}}
      </div>
    </div>
    <div
       class="service-widget"
       ng-class="['dynamic_' + overviewCtl.nodes.fts.statusClass]">
      <h4>FTS Service</h4>
      <a ui-sref="app.admin.servers.list">
        {{overviewCtl.nodes.fts.length || '0'}}
        node{{overviewCtl.getEndings(overviewCtl.nodes.fts.length)}}
      </a>
      <div
         class="error"
         ng-repeat="(nodeStatuses, count) in overviewCtl.nodes.fts.nodesByStatuses">
        {{count + ' node' + overviewCtl.getEndings(count) + ' ' + nodeStatuses}}
      </div>
    </div>
    <div
       class="service-widget"
       ng-class="['dynamic_' + overviewCtl.nodes.n1ql.statusClass]">
      <h4>Query Service</h4>
      <a ui-sref="app.admin.servers.list">
        {{overviewCtl.nodes.n1ql.length || '0'}}
        node{{overviewCtl.getEndings(overviewCtl.nodes.n1ql.length)}}
      </a>
      <div
         class="error"
         ng-repeat="(nodeStatuses, count) in overviewCtl.nodes.n1ql.nodesByStatuses">
        {{count + ' node' + overviewCtl.getEndings(count) + ' ' + nodeStatuses}}
      </div>
    </div>
    <div
       ng-show="rbac.cluster.xdcr.remote_clusters.read"
       class="service-widget"
       ng-class="['dynamic_' + (adminCtl.tasks.tasksXDCR.length ? 'healthy' : 'inactive')]">
      <h4>XDCR</h4>
      <a ui-sref="app.admin.replications">
        {{overviewCtl.xdcrReferences.filtered.length}}
        remote cluster{{overviewCtl.getEndings(xdcrReferences.filtered.length)}}
      </a>
      <a ui-sref="app.admin.replications">
        {{adminCtl.tasks.tasksXDCR.length}}
        replication{{overviewCtl.getEndings(adminCtl.tasks.tasksXDCR.length)}}
      </a>
    </div>
  </div>

  <div class="row margin-top2">
    <div
       class="column width-6">
      <h4>Data Service Memory</h4>
      <div
         class="bar-usages"
         mn-bar-usage
         base-info="overviewCtl.mnOverviewConfig.ramOverviewConfig"></div>
    </div>
    <div
       class="column width-6">
      <h4>Data Service Disk</h4>
      <div
         class="bar-usages"
         mn-bar-usage
         base-info="overviewCtl.mnOverviewConfig.hddOverviewConfig"></div>
    </div>
  </div>

  <div class="margin-top2">
    <h4 ng-show="rbac.cluster.bucket['*'].settings.read">
      Buckets &nbsp;<small>{{overviewCtl.buckets.length || '0'}} active</small>
    </h4>
    <hr>
    <div
       ng-if="rbac.cluster.bucket['*'].stats.read"
       class="interim row items-space-around">
      <div
         ng-show="overviewCtl.buckets.length">
        <div>Operations Per Second
          <span ng-show="!overviewCtl.mnOverviewStats.opsGraphConfig.stats.length">
            (No samples, yet)
          </span>
        </div>
        <div
           ng-if="overviewCtl.mnOverviewStats.opsGraphConfig.stats.length"
           mn-plot
           mn-plot-config="overviewCtl.mnOverviewStats.opsGraphConfig"
           style="height: 170px; width: 400px;"></div>
      </div>
      <div
         ng-show="overviewCtl.buckets.length">
        <div>Disk Fetches Per Second
          <span ng-show="!overviewCtl.mnOverviewStats.readsGraphConfig.stats.length">
            (No samples, yet)
          </span>
        </div>
        <div
           ng-if="overviewCtl.mnOverviewStats.readsGraphConfig.stats.length"
           mn-plot
           mn-plot-config="overviewCtl.mnOverviewStats.readsGraphConfig"
           style="height: 170px; width: 400px"></div>
      </div>
    </div>
    <div class="zero-content" ng-show="!overviewCtl.buckets.length && rbac.cluster.bucket['*'].settings.read">
      You have no data buckets. Go to <a ui-sref="app.admin.buckets">Buckets</a> to add one,
      or load a <a ui-sref="app.admin.settings.sampleBuckets">sample bucket</a> with data & indexes.
    </div>
  </div>
</div>
