<td
   class="no-padding"
   ng-class="['dynamic_' + node.status, ' dynamic_' + node.clusterMembership]">
</td>
<td
   colspan="9"
   mn-spinner="!serversListItemDetailsCtl.server.getMemoryCacheConfig || !serversListItemDetailsCtl.server.getDiskStorageConfig">

  <div class="interim content-box row flex-left">

    <span class="column">
      <span class="semi-bold">Server Name:</span> {{serversListItemDetailsCtl.server.details.hostname}}
    </span>
    <span class="column">
      <span class="semi-bold">Uptime:</span> {{serversListItemDetailsCtl.server.details.uptime | mnFormatUptime}}
    </span>
    <span class="column">
      <span class="semi-bold">OS:</span> {{serversListItemDetailsCtl.server.details.os}}
    </span>
    <span class="column">
      <span class="semi-bold">Version:</span> {{serversListItemDetailsCtl.server.details.version | mnPrettyVersion:true}}
    </span>
  </div>


  <h4 ng-show="serversListItemDetailsCtl.tasks.detailedProgress && rbac.cluster.tasks.read">
    Rebalance Progress
  </h4>
  <hr ng-show="serversListItemDetailsCtl.tasks.detailedProgress && rbac.cluster.tasks.read">
  <div class="column indent-1">
    <p ng-if="serversListItemDetailsCtl.tasks.detailedProgress.bucket && rbac.cluster.tasks.read">
      <span>Bucket:</span>
      {{serversListItemDetailsCtl.tasks.detailedProgress.bucket}}
      ({{serversListItemDetailsCtl.tasks.detailedProgress.bucketNumber}} out of {{serversListItemDetailsCtl.server.detailedProgress.bucketsCount}})
    </p>
    <div ng-if="serversListItemDetailsCtl.tasks.detailedProgress && rbac.cluster.tasks.read">
      <div ng-if="serversListItemDetailsCtl.tasks.detailedProgress.outgoing">
        <p>
          <span class="semi-bold">Data being transferred out</span>
          <br>
          <span class="text-smaller">
            Total number of keys to be transferred:
            {{ serversListItemDetailsCtl.tasks.detailedProgress.outgoing.docsTotal }}
            <br>
            Estimated number of keys transferred:
            {{ serversListItemDetailsCtl.tasks.detailedProgress.outgoing.docsTransferred }}
            <br>
            Number of active vBuckets and replica vBuckets to transfer:
            Active-{{ serversListItemDetailsCtl.tasks.detailedProgress.outgoing.activeVBucketsLeft }},
            Replica-{{ serversListItemDetailsCtl.tasks.detailedProgress.outgoing.replicaVBucketsLeft }}
          </span>
        </p>
      </div>

      <div ng-if="serversListItemDetailsCtl.tasks.detailedProgress.ingoing">
        <p>
          <span class="semi-bold">Data being transferred in</span>
          <br>
          <span class="text-smaller">
            Total number of keys to be transferred:
            {{ serversListItemDetailsCtl.tasks.detailedProgress.ingoing.docsTotal }}
            <br>
            Estimated number of keys transferred:
            {{ serversListItemDetailsCtl.tasks.detailedProgress.ingoing.docsTransferred }}
            <br>
            Number of active vBuckets and replica vBuckets to transfer:
            Active-{{ serversListItemDetailsCtl.tasks.detailedProgress.ingoing.activeVBucketsLeft }},
            Replica-{{ serversListItemDetailsCtl.tasks.detailedProgress.ingoing.replicaVBucketsLeft }}
          </span>
        </p>
      </div>
    </div>
  </div>

  <div
     ng-if="serversListItemDetailsCtl.tasks.warmUpTasks.length && rbac.cluster.tasks.read"
     mn-warmup-progress
     warm-up-tasks="serversListItemDetailsCtl.tasks.warmUpTasks"
     sort-by="bucket">
  </div>

  <h4>Memory</h4>
  <hr>
  <div class="row indent-1">
    <div
       class="column bar-usages label-top-0-red"
       mn-bar-usage
       base-info="serversListItemDetailsCtl.server.getMemoryCacheConfig"></div>
  </div>

  <h4>Disk Storage</h4>
  <hr>
  <div class="row indent-1">
    <div class="text-smaller">
      <span
         title="{{serversListItemDetailsCtl.server.details.storage.hdd[0].path}}"
         ng-if="!!serversListItemDetailsCtl.server.details.storage.hdd[0].path">
        <span class="semi-bold">Data Storage Path:</span> {{serversListItemDetailsCtl.server.details.storage.hdd[0].path | mnEllipsisiseOnLeft:100}}
      </span>
      &nbsp; &nbsp;
      <span
         title="{{serversListItemDetailsCtl.server.details.storage.hdd[0].index_path}}"
         ng-if="!!serversListItemDetailsCtl.server.details.storage.hdd[0].index_path">
        <span class="semi-bold">Index Storage Path:</span> {{serversListItemDetailsCtl.server.details.storage.hdd[0].index_path | mnEllipsisiseOnLeft:100}}
      </span>
    </div>
  </div>
  <div class="row indent-1">
    <div
       class="column bar-usages"
       mn-bar-usage
       base-info="serversListItemDetailsCtl.server.getDiskStorageConfig"></div>
  </div>
</td>
