<div id="js_documents" class="documents" ng-if="!documentsCtl.mnPoolDefault.value.isROAdminCreds">
  <div class="doc_header">
    <div class="wrap">
      <ui-select
        on-select="documentsCtl.onSelectBucketName($item)"
        ng-model="documentsCtl.state.bucketsNames.selected"
        theme="selectize"
        style="width: 200px; display: inline-block; vertical-align: middle;">
        <ui-select-match>{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="name in documentsCtl.state.bucketsNames | filter: $select.search">
          <span ng-bind-html="name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
      <span style="vertical-align: middle;">
        &gt; <a id="bread_crump_doc" ui-sref="app.admin.documents.list">Documents</a>
      </span>
    </div>
  </div>
  <ui-view></ui-view>
</div>