<div
   mn-spinner="!bucketsDetailsCtl.bucketDetails">
  <div
    ng-if="bucketsDetailsCtl.warmUpTasks.length && rbac.cluster.tasks.read"
    mn-warmup-progress
    warm-up-tasks="bucketsDetailsCtl.warmUpTasks"
    sort-by="hostname">
  </div>
  <div class="row flex-left items-top">
    <div class="cbui-table-bucketprops">
      <div class="nowrap">
        <strong>Type: </strong>
        <span ng-show="buckets.isMembase">Couchbase</span>
        <span ng-show="buckets.isMemcached">Memcached</span>
        <span ng-show="buckets.isEphemeral">Ephemeral</span>
      </div>
      <div class="nowrap" ng-show="rbac.cluster.bucket[bucket.name].settings.read">
        <strong>RAM Quota: </strong>
        {{bucket.quota.ram | mnFormatQuantity}}
      </div>
      <div
         class="nowrap"
         ng-if="rbac.cluster.bucket[bucket.name].settings.read"
         ng-show="!buckets.isMemcached">
        <strong>Replicas:</strong>
        {{bucketsDetailsCtl.bucketDetails.replicaNumber != 0 ? (bucketsDetailsCtl.bucketDetails.replicaNumber | mnCount:'') : 'disabled'}}
      </div>
      <div class="nowrap">
         <strong>Server Nodes: </strong> {{ bucket.nodes.length }}
       </div>
      <div
         class="nowrap"
         ng-if="!bucket.isMemcached && rbac.cluster.bucket[bucket.name].settings.read">
        <strong>Ejection Method: </strong>
        {{bucketsDetailsCtl.bucketDetails.evictionPolicy === "valueOnly" ? 'Value-Only' : 'Full'}}
      </div>
      <div class="nowrap" ng-if="!bucket.isMemcached">
        <strong>Conflict Resolution:</strong>
        <span ng-show="bucketConf.conflictResolutionType === 'lww'">Timestamp</span>
        <span ng-show="bucketConf.conflictResolutionType === 'seqno'">Sequence Number</span>
      </div>
      <div
         class="nowrap"
         ng-if="bucket.isMembase && rbac.cluster.tasks.read">
        <strong>Compaction:</strong>
        {{bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask ? bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask.progress + "% complete" : "Not active"}}
      </div>
    </div>

    <div class="cbui-table-meters">
      <h5 ng-show="rbac.cluster.bucket[bucket.name].settings.read">Memory</h5>
      <hr>
      <div
         class="bar-usages"
         mn-bar-usage
         base-info="bucketsDetailsCtl.bucketRamGuageConfig"
         ng-show="rbac.cluster.bucket[bucket.name].settings.read">
      </div>
    </div>
    <div class="cbui-table-meters">
      <h5 ng-show="bucket.isMembase">Disk</h5>
      <hr ng-show="bucket.isMembase">
      <div ng-if="bucket.isMembase && rbac.cluster.bucket[bucket.name].settings.read">
        <div
           class="bar-usages label-top-has-square label-top-0-other-data"
           mn-bar-usage
           base-info="bucketsDetailsCtl.getGuageConfig(bucketsDetailsCtl.bucketDetails)"
           ng-if="rbac.cluster.bucket[bucket.name].settings.read">
        </div>
      </div>
    </div>
  </div>

  <div class="row flex-right margin-top1">
    <span>
      <button
         class="outline"
         ng-disabled="poolDefault.rebalancing"
         ng-show="rbac.cluster.bucket[bucket.name].settings.read && rbac.cluster.bucket[bucket.name].delete"
         ng-click="bucketsDetailsCtl.deleteBucket(bucketsDetailsCtl.bucketDetails)">Delete</button>
      <button
         class="outline"
         ng-show="!bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask.cancelURI && bucket.isMembase && rbac.cluster.tasks.read && rbac.cluster.bucket[bucket.name].settings.read && rbac.cluster.bucket[bucket.name].compact"
         ng-disabled="bucketsDetailsCtl.compactionTasks.disableCompact"
         ng-click="bucketsDetailsCtl.registerCompactionAsTriggeredAndPost(bucketsDetailsCtl.bucketDetails.controllers.compactAll, 'disableCompact')">Compact</button>
      <button
         class="orange"
         ng-show="bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask.cancelURI && rbac.cluster.tasks.read && rbac.cluster.bucket[bucket.name].compact"
         ng-disabled="bucketsDetailsCtl.compactionTasks.disableCancel"
         ng-click="bucketsDetailsCtl.registerCompactionAsTriggeredAndPost(bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask.cancelURI, 'disableCancel')">Cancel Compaction</button>
      <button
         class="outline"
         ng-disabled="poolDefault.rebalancing"
         ng-show="bucketsDetailsCtl.bucketDetails.controllers !== undefined && bucketsDetailsCtl.bucketDetails.controllers.flush !== undefined && rbac.cluster.bucket[bucket.name].settings.read && rbac.cluster.bucket[bucket.name].flush"
         ng-click="bucketsDetailsCtl.flushBucket(bucketsDetailsCtl.bucketDetails)">Flush</button>
     <button
        ng-disabled="poolDefault.rebalancing"
        ng-click="bucketsDetailsCtl.editBucket(bucketsDetailsCtl.bucketDetails)"
        ng-show="rbac.cluster.bucket[bucket.name].settings.read && rbac.cluster.bucket[bucket.name].settings.write">Edit</button>
    </span>
  </div>
</div>
