<td
   colspan="19"
   mn-spinner="!bucketsDetailsCtl.bucketDetails">

      <div class="interim content-box row flex-left">
        <span class="column" ng-show="rbac.cluster.bucket[bucket.name].settings.read">
          <span class="semi-bold">Access Control:</span>
            {{bucketsDetailsCtl.bucketDetails.authType === 'none' ? 'Port' : bucketsDetailsCtl.bucketDetails.name === 'default' ? 'None' : 'Authentication'}}
            {{bucketsDetailsCtl.bucketDetails.authType === 'none' ? ': ' + bucketsDetailsCtl.bucketDetails.proxyPort : ''}}
        </span>
        <span class="column" ng-if="bucket.isMembase && rbac.cluster.bucket[bucket.name].settings.read">
          <span class="semi-bold">Replicas:</span> {{bucketsDetailsCtl.bucketDetails.replicaNumber != 0 ? (bucketsDetailsCtl.bucketDetails.replicaNumber | mnCount:'replica copy') : 'disabled'}}
        </span>
        <span class="column" ng-if="bucket.isMembase && rbac.cluster.tasks.read">
          <span class="semi-bold">Compaction:</span> {{bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask ? bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask.progress + "% complete" : "Not active"}}
        </span>
        <span class="column" ng-if="bucket.isMembase && rbac.cluster.bucket[bucket.name].settings.read">
          <span class="semi-bold">Cache Metadata:</span> {{bucketsDetailsCtl.bucketDetails.evictionPolicy === "valueOnly" ? 'Value Ejection' : 'Full Ejection'}}
        </span>
        <span class="column" ng-if="bucket.isMembase && rbac.cluster.bucket[bucket.name].settings.read">
          <span class="semi-bold">Disk I/O priority:</span> {{bucketsDetailsCtl.bucketDetails.threadsNumber === 3 ? 'Low' : 'High'}}
        </span>
      </div>

      <div
         ng-if="bucketsDetailsCtl.warmUpTasks.length && rbac.cluster.tasks.read"
         mn-warmup-progress
         warm-up-tasks="bucketsDetailsCtl.warmUpTasks"
         sort-by="hostname">
      </div>

      <h4 ng-show="rbac.cluster.bucket[bucket.name].settings.read">Memory</h4>
      <hr>
      <div class="row indent-1">
        <div class="column text-smaller" style="width:230px;" ng-show="rbac.cluster.bucket[bucket.name].settings.read">
            Dynamic RAM Quota: {{bucketsDetailsCtl.bucketDetails.quota.rawRAM | mnFormatQuantity}}
        </div>
        <div
           class="column bar-usages"
           mn-bar-usage
           base-info="bucketsDetailsCtl.bucketRamGuageConfig"
           ng-show="rbac.cluster.bucket[bucket.name].settings.read">
        </div>
      </div>
      <h4 ng-show="bucket.isMembase">Disk</h4>
      <hr ng-show="bucket.isMembase">
      <div class="row indent-1" ng-if="bucket.isMembase && rbac.cluster.bucket[bucket.name].settings.read">
        <div class="column text-smaller" style="width:230px;">
          Persistence Enabled: Yes<br>
          Disk Usage: {{bucketsDetailsCtl.bucketDetails.basicStats.diskUsed | mnFormatQuantity}}<br>
          Data Usage: {{bucketsDetailsCtl.bucketDetails.basicStats.dataUsed | mnFormatQuantity}}
        </div>
        <div
           class="column bar-usages label-top-has-square label-top-0-other-data"
           mn-bar-usage
           base-info="bucketsDetailsCtl.getGuageConfig(bucketsDetailsCtl.bucketDetails)"
           ng-if="rbac.cluster.bucket[bucket.name].settings.read">
        </div>
      </div>

  <div class="interim row flex-right">
    <div>
      <button
         class="outline"
         ng-disabled="poolDefault.rebalancing"
         ng-show="rbac.cluster.bucket[bucket.name].settings.read && rbac.cluster.bucket[bucket.name].delete"
         ng-click="bucketsDetailsCtl.deleteBucket(bucketsDetailsCtl.bucketDetails)">Delete</button>
      <button
         class="outline"
         ng-show="!bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask.cancelURI && bucket.isMembase && rbac.cluster.tasks.read && rbac.cluster.bucket[bucket.name].settings.read && rbac.cluster.bucket[bucket.name].compact"
         ng-disabled="bucketsDetailsCtl.compactionTasks.disableCompact"
         ng-click="bucketsDetailsCtl.registerCompactionAsTriggeredAndPost(bucketsDetailsCtl.bucketDetails.controllers.compactAll, 'disableCompact')">Compact</button>
      <button
         class="orange"
         ng-show="bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask.cancelURI && rbac.cluster.tasks.read && rbac.cluster.bucket[bucket.name].compact"
         ng-disabled="bucketsDetailsCtl.compactionTasks.disableCancel"
         ng-click="bucketsDetailsCtl.registerCompactionAsTriggeredAndPost(bucketsDetailsCtl.compactionTasks.thisBucketCompactionTask.cancelURI, 'disableCancel')">Cancel Compaction</button>
      <button
         class="outline"
         ng-disabled="poolDefault.rebalancing"
         ng-show="bucketsDetailsCtl.bucketDetails.controllers !== undefined && bucketsDetailsCtl.bucketDetails.controllers.flush !== undefined && rbac.cluster.bucket[bucket.name].settings.read && rbac.cluster.bucket[bucket.name].flush"
         ng-click="bucketsDetailsCtl.flushBucket(bucketsDetailsCtl.bucketDetails)">Flush</button>
     <button
        ng-disabled="poolDefault.rebalancing"
        ng-click="bucketsDetailsCtl.editBucket(bucketsDetailsCtl.bucketDetails)"
        ng-show="rbac.cluster.bucket[bucket.name].settings.read && rbac.cluster.bucket[bucket.name].settings.write">Edit</button>
    </div>
  </div>
</td>
