<div class="interim main-content">
  <div ng-show="rbac.cluster.xdcr.remote_clusters.read">

    <div class="interim row">
      <h4>Remote Clusters</h4>

      <button
         ng-show="rbac.cluster.xdcr.remote_clusters.write"
         ng-click="xdcrCtl.createClusterReference()">
        Create Remote Cluster
      </button>
    </div>

    <div
       mn-spinner="!xdcrCtl.references"
       min-height="66px">
      <table class="table-stroked">
        <thead>
          <tr>
            <th>Name</th>
            <th>IP/hostname</th>
            <th></th>
          </tr>
        </thead>
        <tbody
           ng-if="xdcrCtl.references.filtered.length"
           ng-repeat="row in xdcrCtl.references.filtered | orderBy:'name' track by row.name">
          <tr>
            <td>{{row.name}}</td>
            <td>
              <a href="{{ window.location.protocol + '//' + row.hostname + '/index.html#/analytics/?statsHostname=' + (row.hostname | encodeURIComponent) }}">{{row.hostname}}</a>
            </td>
            <td class="text-right">
              <a
                 class="link-heavy"
                 ng-show="rbac.cluster.xdcr.remote_clusters.write"
                 ng-click="xdcrCtl.deleteClusterReference(row)">Delete</a> &nbsp;
              <a
                 class="link-heavy"
                 ng-show="rbac.cluster.xdcr.remote_clusters.write"
                 ng-click="xdcrCtl.editClusterReference(row)">Edit</a>
            </td>
          </tr>
        </tbody>
        <tbody ng-if="!xdcrCtl.references.filtered.length">
          <tr><td colspan="3">No cluster references defined.</td></tr>
        </tbody>
      </table>
    </div>

  </div>

  <!-- Ongoing Replications -->
  <div ng-show="rbac.cluster.tasks.read">
    <div class="interim row">
      <h4>Ongoing Replications</h4>
      <button
         ng-show="xdcrCtl.references.filtered.length"
         ng-click="xdcrCtl.createReplications()">
        Create Replication
      </button>
    </div>

    <div
       mn-spinner="!adminCtl.tasks"
       min-height="66px">
      <table class="table-stroked">
        <thead>
          <tr>
            <th>Bucket</th>
            <th class="text-center">Protocol</th>
            <th class="text-center">From</th>
            <th class="text-center">To</th>
            <th ng-show="xdcrCtl.mnPoolDefault.value.isEnterprise" class="text-center">Filtered</th>
            <th class="text-center">Status</th>
            <th class="text-center">When</th>
            <th></th>
          </tr>
        </thead>
        <tbody
           ng-if="adminCtl.tasks.tasksXDCR.length"
           ng-repeat="row in adminCtl.tasks.tasksXDCR track by row.id">
          <tr>
            <td>{{row.source}}</td>
            <td class="text-center">{{"Version " + (row.replicationType === "xmem" ? "2" : row.replicationType === "capi" ? "1" : "unknown")}}</td>
            <td class="text-center">this cluster</td>
            <td class="text-center">{{xdcrCtl.to(row)}}</td>
            <td ng-show="xdcrCtl.mnPoolDefault.value.isEnterprise" class="text-center">
              <span ng-show="row.filterExpression">
                <a class="tooltip text_11"><span>Yes</span>
                  <span class="tooltip_msg break-word"><span>
                      {{row.filterExpression }}
                  </span></span>
                </a>
              </span>
              <span ng-show="!row.filterExpression">No</span>
            </td>
            <td class="text-center">
              <span>{{xdcrCtl.humanStatus(row)}}</span>
              <div
                 style="cursor: pointer; display: inline-block;"
                 ng-show="xdcrCtl.status(row) !== 'notRunning' && poolDefault.compat.atLeast30 && rbac.cluster.bucket['*'].xdcr.write && rbac.cluster.bucket['*'].xdcr.execute"
                 class="icon text-normal"
                 ng-class="['fa-' + xdcrCtl.status(row)]"
                 ng-click="xdcrCtl.status(row) !== 'spinner' && xdcrCtl.pausePlayReplication(row)"></div>
              <a
                 ng-show="row.errors.length"
                 ng-click="xdcrCtl.showReplicationErrors(row)">
                Last {{row.errors.length | mnCount:'error'}}
              </a>
            </td>
            <td class="text-center">{{row.when}}</td>
            <td class="text-right">
              <a
                 class="link-heavy"
                 ng-show="rbac.cluster.bucket['*'].xdcr.write"
                 ng-click="xdcrCtl.deleteReplication(row)">Delete</a> &nbsp;
              <a
                 class="link-heavy"
                 ng-show="rbac.cluster.bucket['*'].xdcr.read && rbac.cluster.xdcr.settings.read"
                 ng-click="xdcrCtl.editReplication(row)">Edit</a>
            </td>
          </tr>
        </tbody>
        <tbody ng-if="!adminCtl.tasks.tasksXDCR.length">
          <tr><td colspan="8">There are no replications currently in progress.</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
