<div mn-spinner="(rbac.cluster.xdcr.remote_clusters.read && !xdcrCtl.references) || (rbac.cluster.tasks.read && !adminCtl.tasks)" min-height="300px">
  <div ng-show="rbac.cluster.xdcr.remote_clusters.read">

    <div class="row margin-bottom-half">
      <h4>Remote Clusters</h4>

      <button
         ng-show="rbac.cluster.xdcr.remote_clusters.write"
         ng-click="xdcrCtl.createClusterReference()">
        Add Remote Cluster
      </button>
    </div>

    <div
       mn-spinner="xdcrCtl.showReferencesSpinner"
       min-height="66px">
      <table class="table-stroked">
        <thead>
          <tr>
            <th class="text-left">name</th>
            <th class="text-left">IP/hostname</th>
            <th></th>
          </tr>
        </thead>
        <tbody
           ng-if="xdcrCtl.references.filtered.length"
           ng-repeat="row in xdcrCtl.references.filtered | orderBy:'name' track by row.name">
          <tr>
            <td class="break-word max-width-4">{{row.name}}</td>
            <td class="break-word">
              <a href="{{ window.location.protocol + '//' + row.hostname + '/index.html#/analytics/?statsHostname=' + (row.hostname | encodeURIComponent) }}">{{row.hostname}}</a>
            </td>
            <td class="text-right">
              <a
                 ng-show="rbac.cluster.xdcr.remote_clusters.write"
                 ng-click="xdcrCtl.deleteClusterReference(row)">Delete</a> &nbsp;
              <a
                 ng-show="rbac.cluster.xdcr.remote_clusters.write"
                 ng-click="xdcrCtl.editClusterReference(row)">Edit</a>
            </td>
          </tr>
        </tbody>
        <tbody ng-if="!xdcrCtl.references.filtered.length">
          <tr><td colspan="3">No cluster references defined.</td></tr>
        </tbody>
      </table>
    </div>

  </div>

  <!-- Ongoing Replications -->
  <div ng-show="rbac.cluster.tasks.read">
    <div class="row margin-bottom-half">
      <h4>Ongoing Replications</h4>
      <button
         ng-show="(rbac.cluster.xdcr.remote_clusters.read && xdcrCtl.references.filtered.length) && rbac.cluster.xdcr.settings.read && rbac.cluster.xdcr.settings.write && rbac.cluster.bucket['.'].xdcr.write"
         ng-click="xdcrCtl.createReplications()">
        Add Replication
      </button>
    </div>

    <div
       mn-spinner="adminCtl.showTasksSpinner"
       min-height="66px">
      <table class="table-stroked">
        <thead>
          <tr>
            <th class="text-left">bucket</th>
            <th class="text-left resp-hide-sml">protocol</th>
            <th class="text-left resp-hide-sml">from</th>
            <th class="text-left resp-hide-sml">to</th>
            <th ng-show="xdcrCtl.mnPoolDefault.value.isEnterprise" class="text-left resp-hide-sml">filtered</th>
            <th class="text-left">status</th>
            <th class="resp-hide-sml text-left">when</th>
            <th></th>
          </tr>
        </thead>
        <tbody
           ng-if="adminCtl.tasks.tasksXDCR.length"
           ng-repeat="row in adminCtl.tasks.tasksXDCR track by row.id">
          <tr>
            <td class="break-word max-width-4">{{row.source}}</td>
            <td class="resp-hide-sml">{{"Version " + (row.replicationType === "xmem" ? "2" : row.replicationType === "capi" ? "1" : "unknown")}}</td>
            <td class="resp-hide-sml">this cluster</td>
            <td class="resp-hide-sml">{{xdcrCtl.to(row)}}</td>
            <td class="resp-hide-sml" ng-show="xdcrCtl.mnPoolDefault.value.isEnterprise">
              <a
                 ng-show="row.filterExpression"
                 uib-tooltip="{{row.filterExpression}}">Yes</a>
              <span ng-show="!row.filterExpression">No</span>
            </td>
            <td>
              <span>{{xdcrCtl.humanStatus(row)}}</span>
              <div
                 style="cursor: pointer; display: inline-block;"
                 ng-show="row.status !== 'notRunning' && rbac.cluster.bucket[row.source].xdcr.execute"
                 class="icon text-normal"
                 ng-class="['fa-' + xdcrCtl.status(row)]"
                 ng-click="xdcrCtl.status(row) !== 'spinner' && xdcrCtl.pausePlayReplication(row)"></div>
              <a
                 ng-show="row.errors.length"
                 ng-click="xdcrCtl.showReplicationErrors(row)">
                Last {{row.errors.length | mnCount:'error'}}
              </a>
            </td>
            <td class="resp-hide-sml">{{row.when}}</td>
            <td class="text-right">
              <a
                 ng-show="rbac.cluster.bucket[row.source].xdcr.write"
                 ng-click="xdcrCtl.deleteReplication(row)">Delete</a> &nbsp;
              <a
                 ng-show="rbac.cluster.bucket[row.source].xdcr.write && rbac.cluster.xdcr.settings.write"
                 ng-click="xdcrCtl.editReplication(row)">Edit</a>
            </td>
          </tr>
        </tbody>
        <tbody ng-if="!adminCtl.tasks.tasksXDCR.length">
          <tr><td colspan="8">There are no replications currently in progress.</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
