code 
{
margin-top: 0.4em;
margin-right: 0pt;
margin-bottom: 0.5em;
margin-left: 0pt;
background-color: #f9f9f9;
border-top-width: 1px;
border-right-width-value: 1px;
border-right-width-ltr-source: physical;
border-right-width-rtl-source: physical;
border-bottom-width: 1px;
border-left-width-value: 1px;
border-left-width-ltr-source: physical;
border-left-width-rtl-source: physical;
border-top-style: dashed;
border-right-style-value: dashed;
border-right-style-ltr-source: physical;
border-right-style-rtl-source: physical;
border-bottom-style: dashed;
border-left-style-value: dashed;
border-left-style-ltr-source: physical;
border-left-style-rtl-source: physical;
border-top-color: #2f6fab;
border-right-color-value: #2f6fab;
border-right-color-ltr-source: physical;
border-right-color-rtl-source: physical;
border-bottom-color: #2f6fab;
border-left-color-value: #2f6fab;
border-left-color-ltr-source: physical;
border-left-color-rtl-source: physical;
font-family: 'Courier New',Courier,monospace;
overflow-x: scroll;
white-space:pre;
}
