<div class="checkbox-service">
  <input
     type="checkbox"
     value="kv"
     id="for-kv-service"
     ng-model="config.services.model.kv"
     ng-disabled="config.services.disabled.kv || !isEnterprise">
  <label for="for-kv-service">
    Data Service
  </label>
</div>
<div class="checkbox-service">
  <input
     type="checkbox"
     value="index"
     id="for-index-service"
     ng-change="onChange(config.services.model.index, 'index')"
     ng-model="config.services.model.index"
     ng-disabled="config.services.disabled.index || !isEnterprise">
  <label for="for-index-service">
    Index Service
  </label>
</div>
<div class="checkbox-service">
  <input
     type="checkbox"
     value="fts"
     id="for-fts-service"
     ng-change="onChange(config.services.model.fts, 'fts')"
     ng-model="config.services.model.fts"
     ng-disabled="config.services.disabled.fts">
  <label for="for-fts-service">
    Search Service
  </label>
</div>
<div class="checkbox-service">
  <input
     type="checkbox"
     value="n1ql"
     id="for-query-service"
     ng-change="onChange(config.services.model.n1ql, 'n1ql')"
     ng-model="config.services.model.n1ql"
     ng-disabled="config.services.disabled.n1ql">
  <label for="for-query-service">
    Query Service
  </label>
</div>
