<h2 class="question">Configure Disk Storage</h2>
<div class="disk_setup_block">
  <div>
    <label for="setup_db_path_input">Databases Path:</label>
    <input type="text" name="db_path" ng-model="modelDiskStorageService.dbPath">
    <br class="clear" />
  </div>
  <div>
    <label>Free:</label>
    <span style="font-size:10pt; margin-left:5px; line-height: 25px;" class="total-db-size">
      {{dbPathTotal}}
    </span>
  </div>
  <div>
    <label for="setup_index_path_input">Indices Path:</label>
    <input type="text" name="index_path" ng-model="modelDiskStorageService.indexPath">
    <br class="clear" />
  </div>
  <div>
    <label>Free:</label>
    <span style="font-size:10pt; margin-left:5px; line-height: 25px;" class="total-index-size">
      {{indexPathTotal}}
    </span>
  </div>
  <div class="warning init_cluster_dialog_errors_container" ng-if="postDiskStorageErrors">
    <div ng-repeat="error in postDiskStorageErrors">
      <strong>Attention</strong> - {{error}}<br>
    </div>
  </div>
  <p class="when-enterprise pad_10" ng-show="modelAuthService.isEnterprise">
    Hint: if you use this server in a production, use different file systems for databases and indices.
  </p>
</div>