<div
   class="error"
   ng-show="errors._">
  {{errors._}}
</div>
<div ng-if="config.displayedServices.kv">
  <div class="row formrow">
    <div class="width-6">
      <input
         ng-if="config.services"
         ng-model="config.services.model.kv"
         ng-disabled="config.services.disabled.kv || !isEnterprise"
         type="checkbox"
         id="kv_ram_quota">
      <label
         for="kv_ram_quota"
         class="checkbox">
        Data Service
      </label>
    </div>
    <div class="form-inline width-6 text-right">
      <input
         type="number"
         mn-focus
         ng-disabled="config.services && !config.services.model.kv || (rbac && !rbac.cluster.pools.write)"
         ng-model="config.memoryQuota">
      <small>MB</small>
    </div>
  </div>

  <div
     class="error"
     ng-show="errors.memoryQuota">
    {{errors.memoryQuota}}
  </div>
</div>

<div ng-if="config.displayedServices.index">
  <div class="row formrow">
    <div class="width-6">
      <input
         ng-if="config.services"
         ng-model="config.services.model.index"
         ng-disabled="config.services.disabled.index || !isEnterprise"
         type="checkbox"
         id="index_ram_quota">
      <label
         for="index_ram_quota"
         class="checkbox">
        Index Service
      </label>
    </div>
    <div class="form-inline width-6 text-right">
      <input
         type="number"
         min="0"
         ng-disabled="config.services && !config.services.model.index || (rbac && !rbac.cluster.pools.write)"
         mn-focus="config.services.model.kv === false"
         ng-model="config.indexMemoryQuota">
      <small>MB</small>
    </div>
  </div>

  <div
     class="error"
     ng-show="errors.indexMemoryQuota">
    {{errors.indexMemoryQuota}}
  </div>
</div>

<div ng-if="config.displayedServices.fts">
  <div class="row formrow">
    <div class="width-6">
      <input
         ng-if="config.services"
         ng-model="config.services.model.fts"
         ng-disabled="config.services.disabled.fts || !isEnterprise"
         type="checkbox"
         id="fts_ram_quota">
      <label
         for="fts_ram_quota"
         class="checkbox">
        Search Service
      </label>
    </div>
    <div class="form-inline width-6 text-right">
      <input
         type="number"
         mn-focus="config.services.model.kv === false && config.services.model.index  === false"
         ng-disabled="config.services && !config.services.model.fts || (rbac && !rbac.cluster.pools.write)"
         ng-model="config.ftsMemoryQuota">
      <small>MB</small>
    </div>
  </div>

  <div
     class="error"
     ng-show="errors.ftsMemoryQuota">
    {{errors.ftsMemoryQuota}}
  </div>
</div>

<div ng-if="config.displayedServices.n1ql">
  <div class="row formrow">
    <div class="width-6">
      <input
         ng-if="config.services"
         ng-model="config.services.model.n1ql"
         type="checkbox"
         ng-disabled="config.services.disabled.n1ql || !isEnterprise"
         id="n1ql_ram_quota">
      <label
         for="n1ql_ram_quota"
         class="checkbox">
        Query Service
      </label>
    </div>
    <small class="form-inline width-6 text-center">
      - - - - - - -
    </small>
  </div>

  <div
     class="error"
     ng-show="errors.n1qlMemoryQuota">
    {{errors.n1qlMemoryQuota}}
  </div>
</div>

<div ng-if="config.maxMemorySize" class="text-small text-right nowrap margin-right-1">
  <strong>TOTAL QUOTA</strong> &nbsp; {{ ((!config.displayedServices.kv || (config.services && !config.services.model.kv)) ? 0 : config.memoryQuota) +
       ((!config.displayedServices.index || (config.services && !config.services.model.index)) ? 0 : config.indexMemoryQuota) +
      ((!config.displayedServices.fts || (config.services && !config.services.model.fts)) ? 0 : config.ftsMemoryQuota) }}MB
</div>

<div ng-if="config.totalMemorySize" class="content-box text-center margin-top1">
  <strong>RAM Available</strong>&nbsp; {{::config.totalMemorySize}}MB
</div>
