<mn-element-cargo depot="alerts">
  <div
     class="interim alert alert-warning"
     ng-repeat="message in gsiCtl.state.warnings">
    <p>Warning: {{message}}</p>
  </div>
</mn-element-cargo>


<div
   ng-if="rbac.cluster.indexes.read"
   mn-spinner="!gsiCtl.state">
  <table
     mn-sortable-table
     class="table-stroked">
    <thead>
      <tr>
        <th mn-sortable-title="bucket">Bucket</th>
        <th
           class="text-center"
           sort-by-default="true"
           mn-sortable-title="hosts">Node</th>
        <th
           class="text-center"
           mn-sortable-title="index">Index Name</th>
        <th
           class="text-center"
           mn-sortable-title="storageMode | mnFormatStorageMode">Storage Type</th>
        <th
           class="text-center"
           mn-sortable-title="status">Status</th>
        <th
           class="text-center"
           mn-sortable-title="progress">Initial Build Progress</th>
      </tr>
    </thead>
    <tbody
       ng-if="gsiCtl.state.indexes.length"
       ng-repeat="row in gsiCtl.state.indexes | orderBy:mnSortableTable.sortableTableProperties.orderBy:mnSortableTable.sortableTableProperties.invert track by row.id">
      <tr
         class="has-hover"
         ng-class="{
                 'grayblue-5': gsiCtl.isDetailsOpened(row.id),
                 'no-stroke': gsiCtl.isDetailsOpened(row.id)
                 }"
         ng-click="gsiCtl.toggleDetails(row.id)">
        <td
           class="break-all max-width-4"
           title="{{row.bucket}}">
          <span ng-class="{closed:!gsiCtl.isDetailsOpened(row.id)}">{{row.bucket}}</span>
        </td>
        <td
           class="text-center"
           title="{{row.hosts[0]}}">
          {{row.hosts[0]}}
        </td>
        <td
           class="break-all text-center"
           title="{{row.index}}">
          {{row.index}}
        </td>
        <td
           class="ellipsis text-center"
           title="{{row.storageMode | mnFormatStorageMode}}">
          {{row.storageMode | mnFormatStorageMode}}
        </td>
        <td
           class="ellipsis text-center"
           title="{{row.status}}">
          {{row.status}}
        </td>
        <td
           class="ellipsis text-center"
           title="{{row.progress}}">
          <span ng-if="row.progress">{{row.progress}} %</span>
        </td>
      </tr>
      <tr>
        <td
           colspan="6"
           class="grayblue-5"
           ng-if="gsiCtl.isDetailsOpened(row.id)">
          <div class="interim content-box row flex-left">
            <span class="column">
              <span class="semi-bold">Definition:</span>
              {{row.definition}}
            </span>
          </div>
        </td>
      </tr>
    </tbody>
    <tbody ng-if="!gsiCtl.state.indexes.length">
      <tr>
        <td colspan="6">
          There are no indexes currently.
        </td>
      </tr>
    </tbody>
  </table>
</div>
