<mn-element-cargo depot="alerts">
  <div
     class="interim alert alert-warning"
     ng-repeat="message in gsiCtl.state.warnings">
    <p>Warning: {{message}}</p>
  </div>
</mn-element-cargo>

<div
   ng-if="rbac.cluster.indexes.read"
   mn-spinner="!gsiCtl.state">
  <div class="cbui-table" mn-sortable-table>
    <div class="cbui-table-header padding-left">
     <span class="cbui-table-cell" mn-sortable-title="bucket">bucket</span>
     <span class="cbui-table-cell" sort-by-default="true" mn-sortable-title="hosts">node</span>
     <span class="cbui-table-cell" mn-sortable-title="index">index name</span>
     <span class="cbui-table-cell" mn-sortable-title="storageMode | mnFormatStorageMode">storage type</span>
     <span class="cbui-table-cell" mn-sortable-title="status">status</span>
     <span class="cbui-table-cell" mn-sortable-title="progress">build progress</span>
    </div>
    <section
       ng-if="gsiCtl.state.indexes.length"
       ng-repeat="row in gsiCtl.state.indexes | orderBy:mnSortableTable.sortableTableProperties.orderBy:mnSortableTable.sortableTableProperties.invert track by gsiCtl.generateIndexId(row)"
       ng-click="gsiCtl.toggleDetails(gsiCtl.generateIndexId(row))"
       class="has-hover">
      <div class="cbui-tablerow">
        <span class="cbui-table-cell">
          <span ng-class="{closed:!gsiCtl.isDetailsOpened(gsiCtl.generateIndexId(row))}">{{row.bucket}}</span>
        </span>
        <span class="cbui-table-cell">{{row.hosts[0]}}</span>
        <span class="cbui-table-cell">{{row.index}}</span>
        <span class="cbui-table-cell">{{row.storageMode | mnFormatStorageMode}}</span>
        <span class="cbui-table-cell">{{row.status}}</span>
        <span class="cbui-table-cell"><span ng-if="row.progress">{{row.progress}}%</span></span>
      </div>
      <div class="cbui-tablerow-expanded" ng-if="gsiCtl.isDetailsOpened(gsiCtl.generateIndexId(row))">
        <div class="content-box">
          <span class="semi-bold">Definition</span><br>
          {{row.definition}}
        </div>
      </div>
    </section>
    <div ng-if="!gsiCtl.state.indexes.length" class="zero-content">
      There are no indexes currently.
    </div>
  </div>
</div>
