<div ng-if="!viewsCtl.mnPoolDefault.value.isKvNode">
  Views are not supported on this server node as it does not have a Data service. You may access views functionality on any Data service node in the cluster, such as: <a id="js_healthy_kv_node_link" href="{{::viewsCtl.kvNodeLink()}}" target="_blank">{{::viewsCtl.getKvNodeLink()}}</a>
</div>
<div ng-if="viewsCtl.mnPoolDefault.value.isKvNode" id="js_views" class="views">
  <h1 style="float:left;">
    <span >
      <ui-select
        ng-model="viewsCtl.mnViewsState.bucketsNames.selected"
        on-select="viewsCtl.onSelectBucket($item)"
        theme="selectize"
        style="width: 200px; display: inline-block; vertical-align: middle;">
        <ui-select-match>{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="name in viewsCtl.mnViewsState.bucketsNames | filter: $select.search">
          <span ng-bind-html="name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
      <span style="vertical-align: middle;">
       &gt; <a style="vertical-align: middle;" ui-sref="app.admin.views.list">Views</a>
      </span>
    </span>
  </h1>
  <ui-view></ui-view>
</div>