<div
   class="panel dialog-med dialog dialog-wizard"
   mn-spinner="wizardStep5Ctl.viewLoading">
  <div class="panel-header">
    <h2>Configure Server</h2>
    <small>Step 5 of 5</small>
  </div>
  <form
     class="forms"
     name="wizardStep5Ctl.form"
     novalidate
     ng-submit="wizardStep5Ctl.onSubmit()">
    <div class="panel-content">
      <h3 class="interim">Secure this Server</h3>
      <p class="margin-top1">
        Please create an administrator account for this Server. If you want to join other
        servers to this one to form a cluster, you will need to use these administrator
        credentials in the "join cluster" process.
      </p>
      <div
         class="error error-form">
        <div ng-show="wizardStep5Ctl.form.$submitted && wizardStep5Ctl.form.password.$error.mnEqual">
          'Password' and 'Verify Password' do not match
        </div>
        <div ng-show="wizardStep5Ctl.form.$submitted && wizardStep5Ctl.form.password.$error.mnMinlength">
          A password of at least six characters is required
        </div>
        <div ng-show="wizardStep5Ctl.form.password.$error.mnMaxlength || wizardStep5Ctl.form.username.$error.mnMaxlength">
          Maximum 24 characters exceeded
        </div>
        <div ng-show="wizardStep5Ctl.form.$submitted && wizardStep5Ctl.form.username.$error.required">
          Username is required
        </div>
        <div ng-show="wizardStep5Ctl.form.$submitted && wizardStep5Ctl.form.password.$error.required">
          Password is required
        </div>
      </div>
      <div
         class="error error-form"
         ng-show="wizardStep5Ctl.errors">
        <div ng-repeat="error in wizardStep5Ctl.errors">{{error}}</div>
      </div>
      <div class="formrow">
        <label for="secure-username">Username</label>
        <input
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           name="username"
           id="secure-username"
           mn-maxlength="24"
           ng-model="wizardStep5Ctl.user.username"
           required>
      </div>
      <div class="formrow">
        <label for="secure-password">Password</label>
        <input
           type="password"
           name="password"
           autocorrect="off"
           spellcheck="false"
           ng-model="wizardStep5Ctl.user.password"
           id="secure-password"
           mn-minlength="6"
           mn-maxlength="24"
           mn-equal="{{wizardStep5Ctl.user.verifyPassword}}"
           required
           mn-autocomplete-off
           mn-focus="wizardStep5Ctl.focusMe">
      </div>
      <div class="formrow">
        <label for="secure-password-verify">Verify Password</label>
        <input
           type="password"
           autocorrect="off"
           spellcheck="false"
           name="passwordVerify"
           id="secure-password-verify"
           mn-autocomplete-off
           ng-model="wizardStep5Ctl.user.verifyPassword">
      </div>
    </div>
    <div class="panel-footer">
      <button
         type="button"
         ui-sref="app.wizard.step4">Back</button>
      <button type="submit">Next</button>
    </div>
  </form>
</div>
