<div id="js_cluster_settings_container" class="cluster_settings_container" mn-spinner="settingsClusterLoaded">
  <form id="js_cluster_public_settings_form" class="cluster_settings_form" ng-submit="saveVisualInternalSettings()">
    <h2>
      Configure Cluster
    </h2>
    <div class="sub_section">
      <label>Cluster Name:</label>
      <input type="text" name="tabName" maxlength="256" ng-model="formData.tabName">
      <span>(0 — 256 chars)</span>
    </div>
    <div class="certificate_section">
      <h3>Certificate:</h3>
      <div class="sub_section">
        <p>
          Self-signed SSL certificate is deployed across the cluster on each nodes.
        </p>
        <p>
          <a id="js_show_hide_cert_area" ng-click="toggleCertArea()">{{toggleCertAreaFlag ? 'Hide' : 'Show'}}</a> certificate.
        </p>
        <div class="about-cert-area_wrapper" id="js_about-cert-area_wrapper" ng-show="toggleCertAreaFlag" mn-spinner="regenerateCertificateInprogress">
          <textarea id="js-about-cert-area" readonly="readonly" ng-model="certificate"></textarea>
          <div></div>
          <div ng-click="regenerateCertificate();" class="edit_btn when-roadmin-avoid-me">Regenerate</div>
          <span style="color:red;display:inline;margin-left:5px;font-size:11px;">* Clicking 'Regenerate' will immediately generate new certificate for the cluster</span>
        </div>
      </div>
    </div>
    <h3>Cluster RAM Quota:</h3>
    <div class="sub_section">
      <div class="row">
        <label>RAM Available:</label><span style="vertical-align:middle;"><span id="js_cluster_settings_total_ram">{{totalRam}}</span> MB</span>
      </div>
      <div class="row">
        <label for="cluster_settings_ram_quota">Per Server RAM Quota:</label><input type="text" mn-focus="focusMe" class="focusme" id="cluster_settings_ram_quota" name="memoryQuota" style="width:58px;" ng-model="formData.memoryQuota"><span style="vertical-align:middle;"> MB (256 MB — <span id="js_ram-max-size">{{maxRamMegs}}</span> MB)</span>
        <div class="error-container err-memoryQuota" ng-show="errors.memoryQuota">{{errors.memoryQuota}}</div>
      </div>
    </div>
    <div class="save_cancel when-roadmin-hide-me">
      <button class="save_button float_right" type="submit" ng-disabled="!!errors">
        Save
      </button>
    </div>
  </form>
</div>