<div class="interim-wrapper">
  <div
     mn-launchpad
     launchpad-source="adminCtl.launchpadSource"
     launchpad-id="adminCtl.launchpadId"></div>
  <div
     ui-view="lostConnection"></div>

  <nav class="interim-nav-header">
    <span class="text-smaller">
      <a href="/index.html">
        <img src="/images/logo.svg" width="140" height="32">
      </a>

      <span
         class="tab-name ellipsis"
         title="{{adminCtl.tabName}}"
         ng-show="adminCtl.tabName">
        - {{adminCtl.tabName}}
      </span>
      <span class="edition" ng-show="adminCtl.poolDefault.isEnterprise">
        Enterprise Edition
      </span>
      <span class="edition" ng-show="!adminCtl.poolDefault.isEnterprise">
        Community Edition
      </span>

      <span class="edition" class="only-when-below-20" style="display:none;">
        NOTE: need all 2.0 nodes to enable 2.0-only features
      </span>
    </span>

    <span class="nav-header">
      <a
         ng-click="adminCtl.runInternalSettingsDialog();"
         ng-show="adminCtl.enableInternalSettings && (rbac.cluster.settings.read || rbac.cluster.xdcr.settings.read)">
        Edit internal settings
      </a>
      <a href="http://docs.couchbase.com/4.5" target="cbdocs">
        Documentation
      </a>
      <a href="{{adminCtl.poolDefault.isEnterprise  ? 'http://support.couchbase.com' : 'http://www.couchbase.com/communities/'}}" target="cbforums">
        Support
      </a>
      <a ng-click="adminCtl.showAboutDialog()">
        About
      </a>
      <a ng-click="adminCtl.logout()">Sign Out</a>
    </span>
  </nav>

  <div
     id="global_progress"
     ng-class="{
               'disable_toggle': !adminCtl.areThereMoreThenTwoRunningTasks(),
               'closed': adminCtl.isProgressBarClosed
               }"
     class="closed"
     ng-show="rbac.cluster.tasks.read && adminCtl.filterTasks(adminCtl.tasks.running).length">
    <i
       class="toggle"
       ng-click="adminCtl.areThereMoreThenTwoRunningTasks() && adminCtl.toggleProgressBar()">i</i>
    <ul id="global_progress_container">
      <li ng-repeat="task in adminCtl.filterTasks(adminCtl.tasks.running)" class="clearfix">
        <div class="usage_smallest" ng-show="task.type !== 'loadingSampleBucket' && task.type !== 'orphanBucket'">
          <div class="used" style="width: {{task.progress}}%"></div>
        </div>
        <span class="message">{{task | formatProgressMessage}}</span>
      </li>
    </ul>
  </div>

  <div class="interim-nav-main">
    <ul
       mn-pluggable-ui-tabs
       mn-tab-bar-name="adminTab">
      <li mn-tab="overview" ui-sref-active="currentNav">
        <a ui-sref="app.admin.overview">Overview</a>
      </li><!--
   --><li mn-tab="servers" ui-sref-active="currentNav">
        <a ui-sref="app.admin.servers.list">Server Nodes</a>
      </li><!--
   --><li mn-tab="buckets" ui-sref-active="currentNav">
        <a ui-sref="app.admin.buckets">Data Buckets</a>
      </li><!--
   --><li mn-tab="indexes" ng-class="{currentNav: ('app.admin.indexes' | includedByState)}">
        <a ui-sref="app.admin.indexes.gsi" ng-show="rbac.cluster.indexes.read">Indexes</a>
        <a ui-sref="app.admin.indexes.views.list" ng-show="rbac.cluster.indexes.read === false">Indexes</a>
      </li><!--
   --><li mn-tab="replications" ui-sref-active="currentNav">
        <a ui-sref="app.admin.replications">XDCR</a>
      </li><!--
   --><li
         mn-tab="security"
         ng-class="{currentNav: ('app.admin.security' | includedByState)}"
         ng-show="rbac.cluster.admin.security.read && (pools.isEnterprise || rbac.cluster.admin.security.write)">
        <a
           ui-sref="app.admin.security.externalRoles"
           ng-show="pools.isEnterprise && adminCtl.poolDefault.ldapEnabled && poolDefault.compat.atLeast45">Security</a>
        <a
           ui-sref="app.admin.security.internalRoles"
           ng-show="!(pools.isEnterprise && adminCtl.poolDefault.ldapEnabled && poolDefault.compat.atLeast45) && rbac.cluster.admin.security.write">Security</a>
        <a
           ui-sref="app.admin.security.rootCertificate"
           ng-show="pools.isEnterprise && !(adminCtl.poolDefault.ldapEnabled && poolDefault.compat.atLeast45) && rbac.cluster.admin.security.write === false">Security</a>
      </li><!--
   --><li
         mn-tab="logs"
         ng-class="{currentNav: ('app.admin.logs' | includedByState)}"
         ng-show="rbac.cluster.logs.read">
        <a ui-sref="app.admin.logs.list">Log</a>
      </li><!--
   --><li mn-tab="settings" ng-class="{currentNav: ('app.admin.settings' | includedByState)}">
        <a ui-sref="app.admin.settings.cluster">Settings
          <span ng-show="adminCtl.updates.sendStats && !!adminCtl.updates.newVersion" class="badge">!</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- all page content goes here -->
  <div ui-view autoscroll="false">

  </div>

  <footer>Copyright &copy; 2016 <a href="http://couchbase.com" target="_blank">Couchbase, Inc.</a> All rights reserved.</footer>

</div>
