<div
  tabindex="-1"
  role="dialog"
  class="modal dialog_main_wrapper"
  ng-class="windowTopClass"
  ng-style="{'z-index': 1050 + index*10, display: 'block'}">
    <div class="dialog_horizontal_center">
      <div class="modal-dialog dialog_vertical_center" ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}">
        <div class="modal-content dialog_ dialog_corner_radius">
          <span class="ui-dialog-titlebar-close coner-all" ng-click="$parent.$dismiss('X')">
            <span></span>
          </span>
          <div ng-transclude class="coner-all"></div>
        </div>
      </div>
    </div>
</div>