<div class="dialog-med">
  <h2 class="panel-header">
    Delete Design Document "{{viewsDeleteDdocDialogCtl.currentDdocName}}"
  </h2>
  <p class="panel-content">
    The views contained in this Design Document will no longer be accessible. Are you sure you want to remove this Design Document?
  </p>
  <div class="panel-footer">
    <a
       href=""
       ng-click="$dismiss()">Cancel</a>
    <button
       type="submit"
       ng-click="viewsDeleteDdocDialogCtl.doDelete()">Delete</button>
  </div>
</div>
