<div
   class="usage-label label-top-0"
   ng-if="config.topLeft">
  {{config.topLeft.name}} ({{config.topLeft.value | mnFormatMemSize}})
</div>
<div
   class="usage-label label-top-1"
   ng-if="config.topRight">
  {{config.topRight.name}} ({{config.topRight.value | mnFormatMemSize}})
</div>
<div class="usage">
  <div
     class="item"
     ng-repeat="item in config.items | orderBy:[]:true"
     ng-style="{width: item.itemStyle.width}"
     ng-class="'usage-item-' + $index"></div>
  <i
     class="marker"
     ng-repeat="marker in config.markers | orderBy:[]:true"
     ng-style="{left: marker.itemStyle.left}"
     ng-class="'marker-' + $index"></i>
</div>
<div class="row">
  <div
     class="usage-label"
     ng-repeat="tditem in config.tdItems"
     ng-class="'label-bottom-' + $index">
    {{tditem.name}} ({{ tditem.value | mnFormatMemSize }})
  </div>
</div>
